openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Attack type API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Attack type
  description: Attack types
paths:
  /api/attack-types:
    get:
      summary: Get attack types
      description: 'Required license type: ioa, ioaPreview'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - codeName
                  - name
                  - yaraRules
                  - description
                  - mitreAttackDescription
                  - criticity
                  - resources
                  - vectorTemplate
                  - vectorTemplateReplacements
                  properties:
                    id:
                      type: number
                      description: Unique numeric identifier of the attack-type
                    codeName:
                      type: string
                      description: Functional key of the attack type
                    name:
                      type: string
                      description: Localized name of the attack-type
                    yaraRules:
                      type: string
                      description: YARA rules that describe the attacks identified by the attack-type
                    description:
                      type: string
                      description: Localized description of the attack-type
                    mitreAttackDescription:
                      type: string
                      description: Description of the attack-type according to the "MITRE ATT&CK" framework
                    criticity:
                      type: string
                      description: Severity of the attacks detected by this IoA. Now superseded by the "O-CRITICITY" attack-type options
                      deprecated: true
                    resources:
                      type: array
                      items:
                        type: object
                        required:
                        - name
                        - url
                        - type
                        properties:
                          name:
                            type: string
                          url:
                            type: string
                          type:
                            type: string
                      description: Resources helping understand the attacks the attack-type looks for
                    vectorTemplate:
                      type: string
                      description: Localized description template for the attack vector
                    vectorTemplateReplacements:
                      type: array
                      items:
                        type: object
                        required:
                        - name
                        - valueType
                        properties:
                          name:
                            type: string
                            description: Name of the attack vector attribute
                          valueType:
                            type: string
                            description: Type of the attack vector attribute
                      description: Metadata about the placeholders in the attack vector template
                    eventWeight:
                      type: string
                      description: Weight of the attacks in terms of performance (heavy/normal/low)
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Attack type
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
