openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Alert API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Alert
  description: New deviances alert
paths:
  /api/alerts/{id}:
    get:
      summary: Get alert instance by id.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Alert
                type: object
                additionalProperties: false
                required:
                - id
                - devianceId
                - archived
                - read
                - date
                - directoryId
                - infrastructureId
                properties:
                  id:
                    type: integer
                  devianceId:
                    type: integer
                  archived:
                    type: boolean
                    default: false
                  read:
                    type: boolean
                    default: false
                  date:
                    type: string
                    format: date-time
                  directoryId:
                    type: integer
                  infrastructureId:
                    type: integer
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Alert
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update alert instance.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Alert
                type: object
                additionalProperties: false
                required:
                - id
                - devianceId
                - archived
                - read
                - date
                - directoryId
                - infrastructureId
                properties:
                  id:
                    type: integer
                  devianceId:
                    type: integer
                  archived:
                    type: boolean
                    default: false
                  read:
                    type: boolean
                    default: false
                  date:
                    type: string
                    format: date-time
                  directoryId:
                    type: integer
                  infrastructureId:
                    type: integer
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Alert
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Validates the PATCH /alerts/:id request
              type: object
              additionalProperties: false
              properties:
                archived:
                  type: boolean
                read:
                  type: boolean
  /api/profiles/{profileId}/alerts:
    get:
      summary: Retrieve all alert instances.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the GET /alert response
                type: array
                items:
                  description: Alert
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - devianceId
                  - archived
                  - read
                  - date
                  - directoryId
                  - infrastructureId
                  properties:
                    id:
                      type: integer
                    devianceId:
                      type: integer
                    archived:
                      type: boolean
                      default: false
                    read:
                      type: boolean
                      default: false
                    date:
                      type: string
                      format: date-time
                    directoryId:
                      type: integer
                    infrastructureId:
                      type: integer
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Alert
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: archived
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        required: false
        deprecated: false
      - name: read
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        required: false
        deprecated: false
      - name: perPage
        in: query
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: false
        deprecated: false
      - name: page
        in: query
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: false
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update alerts for one profile
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Alert
                nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Alert
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Validates the PATCH /alerts request
              type: object
              additionalProperties: false
              properties:
                archived:
                  type: boolean
                read:
                  type: boolean
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
