openapi: 3.2.0
info:
  title: MSSP Portal Partners API
  description: 'The Tenable Managed Security Service Provider (MSSP) Portal API provides a secure and accessible way for MSSP administrators to manage and maintain multiple customer instances of Tenable products. Endpoints in the Tenable MSSP Portal API enables customers to view and manage your MSSP customer accounts.


    For more information about the Tenable MSSP Portal, see the Tenable MSSP Portal User Guide.'
  version: 1.0.0
servers:
- url: https://cloud.tenable.com
security:
- cloud: []
tags:
- name: Partners
  description: 'The Tenable Managed Security Service Provider (MSSP) Portal API provides a secure and accessible way for MSSP administrators to manage their partner information. Partner endpoints in the Tenable MSSP Portal API enables customers to retrieve partner, distributor, and license information.


    For more information about the Tenable MSSP Portal, see the Tenable MSSP Portal User Guide.'
paths:
  /mssp/partner/details:
    get:
      tags:
      - Partners
      summary: Get partner details
      description: 'Returns partner details for the account associated with the user''s API credentials.

        Requires BASIC [16] user permissions. See Permissions.'
      operationId: mssp-partner-details
      responses:
        '200':
          description: Returned if the partner details were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response-Partner-Details'
              examples:
                response:
                  value:
                    partner:
                      id: 001We0000024vrNIAQ
                      name: Partner_1
                      lms_customer_id: '629774'
                      contact_email: example@partner.com
                    distributor:
                    - id: 0013a00001nzGalAAE
                      name: Example Networks Ltd
                      lms_customer_id: '68062'
                      countries:
                      - US
                      - AI
                      - AG
                      - AR
                      - AW
                      - BS
                      - BB
                      - BZ
                      - BM
                      - BO
                      - BR
                      - CA
                      - KY
                      - CL
                      - CO
                      - CR
                      - DM
                      - DO
                      - EC
                      - SV
                      - FK
                      - GF
                      - GD
                      - GP
                      - GU
                      - GT
                      - GY
                      - HT
                      - HN
                      - JM
                      - MQ
                      - MX
                      - MS
                      - AN
                      - NI
                      - PA
                      - PY
                      - PE
                      - PR
                      - KN
                      - LC
                      - PM
                      - VC
                      - SR
                      - TT
                      - TC
                      - UY
                      - VE
                      - VG
                      - VI
                    - id: 001f200001NnN1LAAV
                      name: Example Company
                      lms_customer_id: '923'
                      countries:
                      - US
                      - AI
                      - AG
                      - AR
                      - AW
                      - BS
                      - BB
                      - BZ
                      - BM
                      - BO
                      - BR
                      - CA
                      - KY
                      - CL
                      - CO
                      - CR
                      - DM
                      - DO
                      - EC
                      - SV
                      - FK
                      - GF
                      - GD
                      - GP
                      - GU
                      - GT
                      - GY
                      - HT
                      - HN
                      - JM
                      - MQ
                      - MX
                      - MS
                      - AN
                      - NI
                      - PA
                      - PY
                      - PE
                      - PR
                      - KN
                      - LC
                      - PM
                      - VC
                      - SR
                      - TT
                      - TC
                      - UY
                      - VE
                      - VG
                      - VI
                    products:
                    - name: Tenable Vulnerability Management
                      sku: TIOVM
                      minQuantity: 1011
                      maxQuantity: 1111
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          description: The HTTP status code of the error.
        error:
          type: string
          description: The standard HTTP error name.
        message:
          type: string
          description: A brief message about the cause of the error.
    Response-Partner-Details:
      type: object
      properties:
        partner:
          $ref: '#/components/schemas/Response-Partner'
        distributor:
          type: array
          description: A list of the partner's distributors.
          items:
            $ref: '#/components/schemas/Response-Partner-Details-Distributor'
        products:
          type: array
          description: A list of the partner's available products.
          items:
            $ref: '#/components/schemas/Response-Partner-Details-Products'
    Object-Distributor:
      type: object
      required:
      - id
      - name
      - lms_customer_id
      properties:
        id:
          type: string
          example: 001We0000024vrNIAQ
          description: The ID of the distributor in the Tenable MSSP Portal.
        name:
          type: string
          description: The name of the distributor in the Tenable MSSP Portal.
        lms_customer_id:
          type: string
          description: The distributor's licensing management system customer ID.
    Response-Partner-Details-Products:
      type: object
      properties:
        name:
          type: string
          example: Tenable Vulnerability Management
          description: The name of the product that the partner is licensed to distribute.
        sku:
          type: string
          example: TIOVM
          description: The SKU of the Tenable product that the partner is licensed for.
        minQuantity:
          type: integer
          description: The minimum number of assets that can be requested when creating a quote with the [Create quote](ref:mssp-accounts-quote) endpoint.
        maxQuantity:
          type: integer
          description: The maximum number of assets that can be requested when creating a quote with the [Create quote](ref:mssp-accounts-quote) endpoint.
    Object-Partner:
      type: object
      required:
      - id
      - name
      - lms_customer_id
      properties:
        id:
          type: string
          example: 001We0000024vrNIAQ
          description: The ID of the partner in the Tenable MSSP Portal.
        name:
          type: string
          description: The name of the partner in the Tenable MSSP Portal.
        lms_customer_id:
          type: string
          description: The partner's licensing management system customer ID.
    Response-Partner:
      allOf:
      - $ref: '#/components/schemas/Object-Partner'
      - type: object
        properties:
          contact_email:
            type: string
            description: The email address used for contacting the partner.
    Response-Partner-Details-Distributor:
      allOf:
      - $ref: '#/components/schemas/Object-Distributor'
      - type: object
        properties:
          countries:
            type: array
            description: An array of strings defining the list of countries where the partner is allowed to operate.
            items:
              type: string
  securitySchemes:
    cloud:
      type: apiKey
      in: header
      name: X-ApiKeys
      description: Format - accessKey=ACCESS_KEY;secretKey=SECRET_KEY
x-readme:
  proxy-enabled: false
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
