openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Exports API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Exports
  description: With the Exports API, you can manage asynchronous finding exports. Use these endpoints to initiate export jobs, monitor status, and download results in chunks for integration with external workflow management systems.
paths:
  /was/v1/export/vulns:
    post:
      summary: Export findings
      description: "Exports Tenable Web App Scanning findings that match the request criteria. \n\nUsers need at least BASIC [16] user permissions and the Can View access control permission for the asset objects they want to export. You can set the Can View permission for the All Assets object for all assets. ADMINISTRATOR [64] users can export without the explicit Can View access control permissions. \n\n**Caution**: The `vpr_v2_score` filter parameter is scheduled for deprecation on July 1, 2026 as part of the transition to VPR v2. To ensure continued functionality, update all integrations to use the `vpr_score` filter parameter. On the deprecation date, the system will update `vpr_score` to support the new VPR model. For more information, see [Vulnerability Priority Rating: Transition to VPR Version 2](changelog:vulnerability-priority-rating-transition-to-version-2). \n\n**Note:** There are limits for concurrent export requests. For more information, see [Concurrency Limiting](doc:concurrency-limiting) and [Rate Limiting](doc:rate-limiting). <div class=\"perms-callout\">Requires the Basic [16] user role and the Can View access control permission for the asset objects to be exported. Administrator [64] users can export without the explicit Can View access control permissions. See [Roles](doc:roles).</div>"
      operationId: was-export-findings
      tags:
      - Exports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                num_assets:
                  type: integer
                  description: Specifies the number of assets used to chunk the findings. The findings export is split up by number of asset IDs in a chunk. The exported data of a chunk is the sum of all the findings for each asset in that chunk. The range for number of assets in a chunk is a minimum of 50 (the default size) to a maximum of 5,000. If you specify a value outside this range, the system uses the upper or lower-bound value.
                  format: int32
                  default: 50
                  minimum: 50
                  maximum: 5000
                include_unlicensed:
                  type: boolean
                  default: false
                  description: Specifies whether or not to include unlicensed assets. The default is `false` when no parameter is specified.
                filters:
                  type: object
                  description: 'Specifies filters to apply to the findings export.


                    **Note:** By default, vulnerability exports will only include accepted and non-accepted vulnerabilities found or fixed within the last 30 days if no time-based filters are submitted with the request.'
                  properties:
                    asset_uuid:
                      description: A list of asset UUIDs for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                        format: uuid
                    asset_name:
                      description: An asset name for which you want to filter findings returned in the findings export.
                      type: string
                    cvss4_base_score:
                      $ref: '#/components/schemas/cvss4_filter'
                    epss_score:
                      $ref: '#/components/schemas/epss_filter'
                    first_found:
                      description: Returns findings that were first found between the specified date and now. The date must be specified in Unix 10-digit time format (seconds).
                      type: integer
                      format: int64
                    last_fixed:
                      type: integer
                      description: Returns findings that were fixed between the specified date and now. The date must be specified in Unix 10-digit time format (seconds).
                      format: int64
                    last_found:
                      type: integer
                      description: Returns findings that were last found between the specified date and now. The date must be specified in Unix 10-digit time format (seconds).
                      format: int64
                    indexed_at:
                      type: integer
                      description: Returns findings that were indexed into Tenable Web App Scanning at the specified date. The date must be specified in Unix 10-digit time format (seconds).
                      format: int64
                    ipv4s:
                      description: A list of IPv4 addresses for which for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                    owasp_2010:
                      description: A list of chapters from the OWASP Categories 2010 report for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                        enum:
                        - A1
                        - A2
                        - A3
                        - A4
                        - A5
                        - A6
                        - A7
                        - A8
                        - A9
                        - A10
                    owasp_2013:
                      description: A list of chapters from the OWASP Categories 2013 report for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                        enum:
                        - A1
                        - A2
                        - A3
                        - A4
                        - A5
                        - A6
                        - A7
                        - A8
                        - A9
                        - A10
                    owasp_2017:
                      description: A list of chapters from the OWASP Categories 2017 report for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                        enum:
                        - A1
                        - A2
                        - A3
                        - A4
                        - A5
                        - A6
                        - A7
                        - A8
                        - A9
                        - A10
                    owasp_2021:
                      description: A list of chapters from the OWASP Categories 2021 report for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                        enum:
                        - A1
                        - A2
                        - A3
                        - A4
                        - A5
                        - A6
                        - A7
                        - A8
                        - A9
                        - A10
                    owasp_api_2019:
                      description: A list of chapters from the OWASP Categories API 2019 report for which you want to filter findings returned in the findings export.
                      type: array
                      items:
                        type: string
                        enum:
                        - API1
                        - API2
                        - API3
                        - API4
                        - API5
                        - API6
                        - API7
                        - API8
                        - API9
                        - API10
                    plugin_ids:
                      description: A list of plugin IDs for which you want to filter the findings returned in the findings export. If your request omits this parameter, the export includes all findings regardless of plugin ID.
                      type: array
                      items:
                        type: integer
                    severity:
                      description: "Returns findings with the specified severity. Defaults to all severity levels. The severity of a finding is defined using the Common Vulnerability Scoring System (CVSS) base score. Supported array values are:\n - info—The finding has a CVSS score of 0.\n - low—The finding has a CVSS score between 0.1 and 3.9.\n - medium—The finding has a CVSS score between 4.0 and 6.9.\n - high—The finding has a CVSS score between 7.0 and 9.9.\n - critical—The finding has a CVSS score of 10.0."
                      type: array
                      items:
                        type: string
                        enum:
                        - INFO
                        - LOW
                        - MEDIUM
                        - HIGH
                        - CRITICAL
                    severity_modification_type:
                      description: "Returns findings with the specified severity modification type. This filter can be used to return findings with a modified severity due to a recast or accept rule. Supported case-sensitive values are:\n - NONE—No modification to the severity has been made.\n - RECASTED—A user has recast the risk associated with the finding.\n - ACCEPTED—A user has accepted the risk associated with the finding."
                      type: array
                      items:
                        type: string
                        enum:
                        - NONE
                        - RECASTED
                        - ACCEPTED
                    since:
                      type: integer
                      description: "The start date for the range of data you want to export. The date must be specified in Unix 10-digit time format (seconds). Use this filter in conjunction with the state filter as follows:\n - If the state filter is set to `OPEN` or `REOPENED`, the export includes data for findings that were seen on or after the since date you specify.\n - If the state filter is set to `FIXED`, the export includes data for findings that were fixed on or after the since date you specify.\n - If you do not include the `state` filter in your request, the export includes data for `OPEN` and `REOPENED` findings that were seen on or after the since date you specify, and `FIXED` findings that were fixed on or after the since date you specify.\n**Note:** This filter cannot be used in conjunction with the `first_found`, `last_found`, or `last_fixed` filters."
                      format: int64
                    state:
                      description: "Returns findings with the specified state. Supported, case-insensitive values are:\n - OPEN—The finding is currently present on an asset.\n - REOPENED—The finding was previously marked as fixed on an asset but has returned.\n - FIXED—The finding was present on an asset but is no longer detected.\n\nThis parameter is required if your request includes `first_found`, `last_found`, or `last_fixed` parameters. If your request omits this parameter, the export includes default states `OPEN` and `REOPENED` only.\n\nNote that the API uses different terms for finding states than the user interface. The `new` and `active` states in the user interface map to the `OPEN` state in the API. The `resurfaced` state in the user interface maps to the `REOPENED` state in the API. The `FIXED` state is the same."
                      type: array
                      items:
                        type: string
                        enum:
                        - OPEN
                        - REOPENED
                        - FIXED
                    vpr_score:
                      $ref: '#/components/schemas/vpr_filter'
                    vpr_v2_score:
                      $ref: '#/components/schemas/vpr_v2_filter'
      responses:
        '200':
          description: Returned if a WAS findings export request was queued successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_uuid:
                    type: string
                    description: The UUID of the WAS findings export job.
              examples:
                response:
                  value:
                    export_uuid: bf765455-53aa-4e70-9ef3-87cfca1d2be0
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to export WAS findings.
        '409':
          description: Returned if your request was a duplicate of an ongoing export that was already submitted. Tenable Web App Scanning prevents duplicate exports from running concurrently. For example, export requests with the same filters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_job_id:
                    type: string
                    description: The UUID of ongoing WAS findings export job that was already submitted.
                  failure_reason:
                    type: string
                    description: A description of the conflict.
              examples:
                response:
                  value:
                    active_job_id: a55181e3-a551-4b9b-9c17-b019412cc35c
                    failure_reason: The request could not be completed due to a conflict with the ongoing export
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting) and [Concurrency Limiting](doc:concurrency-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v1/export/vulns/{export_uuid}/status:
    get:
      summary: Get findings export status
      description: "Returns the status of a Tenable Web App findings export request. Tenable Web App Scanning processes the chunks in parallel so the chunks may not complete in order, and the chunk IDs may not be arranged sequentially in the completed output.\n\n **Note:** Output for an individual plugin is limited to 1,024 KB (1 MB). <div class=\"perms-callout\">Requires the Basic [16] user role. See [Roles](doc:roles).</div>"
      operationId: was-export-findings-status
      tags:
      - Exports
      parameters:
      - description: The UUID for the WAS findings export request to retrieve the status for.
        required: true
        name: export_uuid
        in: path
        schema:
          type: string
          description: The unique identifier of an export request. This value corresponds to the value returned in the [/was/v1/export/vulns](ref:was-export-vulns) response message.
      responses:
        '200':
          description: Returned if the status for the specified WAS findings export was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-findings-export-status'
              examples:
                response:
                  value:
                    uuid: 2d1a9cd9-85d6-4e63-9483-9b7b82a0914b
                    status: FINISHED
                    chunks_available:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    chunks_failed: []
                    chunks_cancelled: []
                    total_chunks: 10
                    chunks_available_count: 10
                    empty_chunks_count: 0
                    finished_chunks: 10
                    filters:
                      first_found: 1540350772
                      last_fixed: 0
                      last_found: 0
                      indexed_at: 0
                      since: 0
                      severity:
                      - CRITICAL
                      state:
                      - OPEN
                      - REOPENED
                    num_assets_per_chunk: 100
                    created: 1732582685595
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to view the WAS findings export status.
        '404':
          description: Returned if Tenable Web App Scanning could not find the specified WAS findings export job.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v1/export/vulns/status:
    get:
      summary: List findings export jobs
      description: Retrieves a list of WAS findings export jobs. This list includes the 1,000 most recent export jobs regardless of status. However, this list includes completed jobs only if the job completed in the previous three days. <div class="perms-callout">Requires the Basic [16] user role. See [Roles](doc:roles).</div>
      operationId: was-export-findings-jobs-list
      tags:
      - Exports
      responses:
        '200':
          description: Returned if the list of WAS findings export jobs was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  exports:
                    type: array
                    items:
                      $ref: '#/components/schemas/response-findings-export-jobs'
              examples:
                response:
                  value:
                    exports:
                    - uuid: 447ea9b1-447e-4aa1-aba1-deaacb38a9cf
                      status: FINISHED
                      total_chunks: 0
                      chunks_available_count: 0
                      empty_chunks_count: 0
                      finished_chunks: 0
                      filters:
                        state:
                        - OPEN
                        - REOPENED
                        since: 1611102529
                        first_found: 0
                        last_found: 0
                        last_fixed: 0
                        indexed_at: 0
                      num_assets_per_chunk: 50
                      created: 1613694529186
                    - uuid: 69c201d1-9afd-4a4a-8acf-43c367ab03bf
                      status: FINISHED
                      total_chunks: 0
                      chunks_available_count: 0
                      empty_chunks_count: 0
                      finished_chunks: 0
                      filters:
                        state:
                        - OPEN
                        - REOPENED
                        since: 1611102552
                        first_found: 0
                        last_found: 0
                        last_fixed: 0
                        indexed_at: 0
                      num_assets_per_chunk: 50
                      created: 1613694552649
                    - uuid: 95eae0fe-1272-4495-a63b-639bd2a2f4f2
                      status: ERROR
                      total_chunks: 0
                      chunks_available_count: 0
                      empty_chunks_count: 0
                      finished_chunks: 0
                      filters:
                        severity:
                        - LOW
                        state:
                        - FIXED
                        since: 0
                        first_found: 0
                        last_found: 0
                        last_fixed: 0
                        indexed_at: 0
                        vpr_score:
                          eq:
                          - 2
                          neq:
                          - 3
                          gt: 0
                          gte: 0
                          lt: 0
                          lte: 0
                        vpr_v2_score:
                          eq:
                          - 2
                          neq:
                          - 3
                          gt: 0
                          gte: 0
                          lt: 0
                          lte: 0
                        epss_score:
                          eq:
                          - 10
                          neq:
                          - 20
                          gt: 30
                          gte: 40
                          lt: 90
                          lte: 80
                        cvss4_base_score:
                          eq:
                          - 5
                          neq:
                          - 2
                          gt: 0
                          gte: 0
                          lt: 0
                          lte: 0
                        plugin_ids:
                        - 0
                      num_assets_per_chunk: 50
                      created: 1614377678711
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permissions to list WAS findings export jobs.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v1/export/vulns/{export_uuid}/chunks/{chunk_id}:
    get:
      summary: Download findings export chunk
      description: 'Downloads exported WAS findings as a JSON file. The response content type is `application/octet-stream`.


        Chunks are available for download for up to 24 hours after they have been created. Tenable Web App Scanning returns a 404 message for expired chunks. Export chunks do not include an attribute if that attribute is empty in the vulnerability record.


        A successful response message contains attributes that correspond to CVSS metrics; these metrics are described fully in the following documents:<ul><li>[A Complete Guide to the Common Vulnerability Scoring System, Version 2.0](https://www.first.org/cvss/v2/guide)</li><li>[Common Vulnerability Scoring System v3.0: Specification Document](https://www.first.org/cvss/specification-document)</li></ul><div class="perms-callout">Requires the Basic [16] user role. See [Roles](doc:roles).</div>'
      operationId: was-export-findings-download-chunk
      tags:
      - Exports
      x-readme:
        explorer-enabled: false
      parameters:
      - description: The UUID of the WAS findings export job.
        required: true
        name: export_uuid
        in: path
        schema:
          type: string
      - description: The ID of the chunk you want to export.
        required: true
        name: chunk_id
        in: path
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returned if the findings export chunk was retrieved successfully.
          content:
            application/octet-stream:
              schema:
                description: ''
                type: array
                items:
                  $ref: '#/components/schemas/response-was-findings-chunk'
              examples:
                response:
                  value:
                  - finding_id: 044a6c5f-3b1c-5c2d-bc76-36e0072ab19c
                    url: https://www.unixtimestamp.com/contact.php
                    output: 'Current Version: 2.2.4

                      Fixed Version:   3.0.0

                      Detected technology URL: https://www.unixtimestamp.com/contact.php'
                    state: OPEN
                    severity: MEDIUM
                    severity_id: 2
                    severity_default_id: 2
                    severity_modification_type: NONE
                    first_found: '2024-02-01T16:08:41Z'
                    last_found: '2024-02-01T16:08:41Z'
                    indexed_at: '2024-02-01T16:08:41Z'
                    plugin:
                      bid:
                      - '105658'
                      id: 112435
                      risk_factor: MEDIUM
                      original_risk_factor_num: 2
                      locale: en
                      type: REMOTE
                      intel_type: SENSOR
                      name: jQuery 1.12.4 < 3.0.0 Cross-Site Scripting
                      publication_date: '2018-11-05T00:00:00Z'
                      modification_date: '2023-03-14T00:00:00Z'
                      see_also:
                      - https://github.com/jquery/jquery/issues/2432
                      - https://github.com/jquery/jquery/pull/2588/commits/c254d308a7d3f1eac4d0b42837804cfffcba4bb2
                      solution: Upgrade to jQuery version 3.0.0 or later.
                      synopsis: jQuery 1.12.4 < 3.0.0 Cross-Site Scripting
                      description: 'According to its self-reported version number, jQuery is at least 1.4.0 and prior to 1.12.0 or at least 1.12.4 and prior to 3.0.0-beta1. Therefore, it may be affected by a cross-site scripting vulnerability due to cross-domain ajax request performed without the dataType.


                        Note that the scanner has not tested for these issues but has instead relied only on the application''s self-reported version number.'
                      patch_publication_date: '2018-01-18T00:00:00Z'
                      exploitability_ease: No known exploits are available
                      public_display: 112435
                      policy: []
                      xrefs:
                      - type: owasp_asvs
                        id:
                        - 4.0.2-14.2.1
                        - 4.0.2-5.3.3
                      - type: capec
                        id:
                        - '209'
                        - '588'
                        - '591'
                        - '592'
                        - '63'
                        - '85'
                      - type: hipaa
                        id:
                        - 164.306(a)(1)
                        - 164.306(a)(2)
                      - type: iso
                        id:
                        - 27001-A.14.2.5
                      - type: nist
                        id:
                        - sp800_53-CM-6b
                        - sp800_53-SI-10
                      - type: disa_stig
                        id:
                        - APSC-DV-002490
                        - APSC-DV-002630
                      - type: pci_dss
                        id:
                        - 3.2-6.2
                        - 3.2-6.5.7
                      cpe:
                      - cpe:2.3:a:jquery:jquery:*:*:*:*:*:*:*:*
                      cve:
                      - CVE-2015-9251
                      cwe:
                      - '79'
                      wasc:
                      - Cross-Site Scripting
                      in_the_news: false
                      exploited_by_malware: false
                      exploit_frameworks:
                      - type: canvas
                        ids: []
                      - type: metasploit
                        ids: []
                      - type: d2_elliot
                        ids: []
                      - type: exploithub
                        ids: []
                      - type: core
                        ids: []
                      vpr:
                        score: 3
                        drivers:
                          age_of_vuln:
                            lower_bound: 731
                          exploit_code_maturity: UNPROVEN
                          cvss_impact_score_predicted: false
                          cvss3_impact_score: 2.7
                          threat_intensity_last28: VERY_LOW
                          threat_sources_last28:
                          - No recorded events
                          product_coverage: VERY_HIGH
                        updated: '2023-04-01T06:00:29Z'
                      vpr_v2:
                        score: 4.9
                      epss_score: 10.647
                      cvss2_base_score: 4.3
                      cvss2_temporal_vector: {}
                      cvss2_vector:
                        access_complexity: Medium
                        access_vector: Network
                        authentication: None required
                        availability_impact: None
                        confidentiality_impact: None
                        integrity_impact: Partial
                        raw: CVSS2#AV:N/AC:M/Au:N/C:N/I:P/A:N
                      cvss3_base_score: 6.1
                      cvss3_temporal_vector: {}
                      cvss3_vector:
                        access_complexity: Low
                        access_vector: Network
                        availability_impact: None
                        confidentiality_impact: Low
                        integrity_impact: Low
                        raw: CVSS:3.0/AV:N/AC:L/PR:N/UI:R/S:C/C:L/I:L/A:N
                      cvss4_base_score: 6.9
                      cvss4_vector:
                        attack_vector: Network
                        attack_complexity: Low
                        attack_requirements: Present
                        privileges_required: High
                        user_interaction: None
                        vulnerable_system_confidentiality: None
                        vulnerable_system_integrity: None
                        vulnerable_system_availability: High
                        subsequent_system_confidentiality: None
                        subsequent_system_integrity: None
                        subsequent_system_availability: High
                        raw: AV:N/AC:L/AT:P/PR:H/UI:N/VC:N/VI:N/VA:H/SC:N/SI:N/SA:H
                      cvss4_threat_vector:
                        threat_score: 3.6
                        exploit_maturity: Unreported
                        raw: CVSS:4.0/E:U
                      owasp_2010:
                      - A2
                      owasp_2013:
                      - A3
                      - A9
                      owasp_2017:
                      - A7
                      - A9
                      owasp_2021:
                      - A3
                      - A6
                      owasp_api_2019:
                      - API7
                    asset:
                      uuid: 112f0ca3-2933-479c-ba50-f7eae89974af
                      fqdn: www.unixtimestamp.com
                      ipv4s:
                      - 52.45.249.224
                      ipv4: 52.45.249.224
                    scan:
                      completed_at: '2024-02-01T16:08:41Z'
                      uuid: 8c6490cf-7052-4167-bc9b-598edad80746
        '400':
          description: Returned if your request specified invalid parameters, if your request was improperly formatted, or if the WAS findings chunk was not ready for download.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to download WAS findings chunks.
        '404':
          description: Returned if Tenable Web App Scanning could not find a chunk with the specified UUID or if the chunk with the specified UUID has expired.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v1/export/vulns/{export_uuid}/cancel:
    post:
      summary: Cancel findings export
      description: Cancels the specified WAS finding export job. If you cancel an export job, Tenable Web App Scanning finishes any chunk that is currently processing, terminates the processing of any unprocessed chunks, and updates the job status to `CANCELLED`. If a canceled job includes completed chunks, you can download those chunks for three days after cancellation. <div class="perms-callout">Requires the Basic [16] user role. See [Roles](doc:roles).</div>
      operationId: was-export-findings-cancel
      tags:
      - Exports
      parameters:
      - description: The UUID for the WAS findings export request to cancel.
        required: true
        name: export_uuid
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Returned if the specified WAS findings export job was canceled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Text describing the export job status, `CANCELLED`.
              examples:
                response:
                  value:
                    status: CANCELLED
        '400':
          description: Returned if your request specified invalid parameters, if your request was improperly formatted, or if Tenable Web App Scanning could not cancel the WAS findings job.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to cancel WAS findings export jobs.
        '404':
          description: Returned if Tenable Web App Scanning could not find the specified WAS findings export job.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
components:
  schemas:
    cvss_temporal_vector:
      description: CVSSv2 temporal metrics for the vulnerability.
      type: object
      properties:
        exploitability:
          type: string
          description: "The CVSSv2 Exploitability (E) temporal metric for the vulnerability the plugin covers. Possible values include:\n - U—Unproven\n - POC—Proof-of-Concept\n - F—Functional\n - H—High\n - ND—Not Defined"
        remediation_level:
          type: string
          description: "The CVSSv2 Remediation Level (RL) temporal metric for the vulnerability the plugin covers. Possible values include: \n - OF—Official Fix\n - TF—Temporary Fix\n - W—Workaround\n - U—Unavailable\n - ND—Not Defined"
        report_confidence:
          type: string
          description: "The CVSSv2 Report Confidence (RC) temporal metric for the vulnerability the plugin covers. Possible values include: \n - UC—Unconfirmed\n - UR—Uncorroborated\n - C—Confirmed\n - ND—Not Defined"
        raw:
          type: string
          description: The complete `cvss_temporal_vector` metrics and result values for the vulnerability the plugin covers in a condensed and coded format. For example, `E:U/RL:OF/RC:C`.
    cvss4_threat_vector:
      type: object
      description: 'An object representing the CVSS v4.0 Threat metrics for the vulnerability. These metrics provide context on current, observed threat activity in the wild, such as evidence of exploitation or the presence of available exploit code. Threat metrics can help refine the severity and prioritization of vulnerabilities beyond their intrinsic characteristics. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).


        **Caution:** The `cvss4_threat_vector` object is currently only available for Vulnerability Management exports. It will be added to Web App Scanning findings exports soon.'
      properties:
        threat_score:
          type: number
          format: float
          description: The CVSS v4.0 threat score (CVSS-T), which adjusts the base score by incorporating real-world threat intelligence, such as the presence of active exploitation, exploit code availability, or observed malware activity. This score reflects the current threat landscape for the vulnerability. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
        exploit_maturity:
          type: string
          description: The CVSS v4.0 Exploit Maturity (E) metric, indicating the current development status of exploit techniques or code for the vulnerability. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - Not Defined
          - Attacked
          - Proof-of-Concept
          - Unreported
        raw:
          type: string
          description: The complete `cvss4_threat_vector` metrics and their result values for the vulnerability, expressed as a concise, coded string. This threat vector is typically appended to the CVSSv4 Base vector. For example, `CVSS:4.0/E:U`. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
    was_plugin:
      type: object
      description: Information about the plugin that detected the finding.
      properties:
        id:
          type: integer
          description: The ID of the plugin that identified the finding.
        risk_factor:
          type: string
          description: 'The risk factor of the finding associated with the plugin. The risk factor is determined based on the calculation of the CVSS score, possible values are: <ul><li>`Low`—The vulnerability has a CVSS score between 0.1 and 3.9</li><li>`Medium`—The vulnerability has a CVSS score between 4.0 and 6.9</li><li>`High`—The vulnerability has a CVSS score between 7.0 and 9.9</li><li>`Critical`—The vulnerability has a CVSS score of 10.0</li></ul>.'
        original_risk_factor_num:
          type: string
          format: int32
          description: The code for the severity originally assigned to a plugin.
        locale:
          type: string
          description: Specifies plugin language.
        type:
          type: string
          description: The general type of plugin check (for example, `local` or `remote`).
        intel_type:
          type: string
          description: The intelligence type/source for plugin.
        name:
          type: string
          description: The name of the plugin that identified the vulnerability.
        version:
          type: string
          description: The version of the plugin used to perform the check.
        publication_date:
          type: string
          description: A timestamp in ISO 8601 format indicating the date and time the plugin was first published.
        modification_date:
          type: string
          description: A timestamp in ISO 8601 format indicating the date and time the plugin was last updated.
        solution:
          type: string
          description: Remediation information for the vulnerability.
        synopsis:
          type: string
          description: Brief description of the plugin or vulnerability.
        description:
          type: string
          description: Full text description of the vulnerability.
        patch_publication_date:
          type: string
          description: A timestamp in ISO 8601 format indicating the date and time the vendor published a patch for the vulnerability.
        exploitability_ease:
          type: string
          description: Description of how easy it is to exploit the issue.
        stig_severity:
          type: string
          description: Security Technical Implementation Guide (STIG) severity code for the vulnerability.
        public_display:
          type: integer
          description: Public display details of plugin.
        in_the_news:
          type: boolean
          description: A value specifying whether this plugin has received media attention (for example, ShellShock, Meltdown).
        exploited_by_malware:
          type: boolean
          description: The finding discovered by this plugin is known to be exploited by malware.
        epss_score:
          type: number
          format: float
          description: 'The Exploit Prediction Scoring System (EPSS) score estimates the likelihood (as a percentage) that a software vulnerability will be exploited in the wild within the next 30 days. The score ranges from 0 to 100, with higher values indicating a greater probability of exploitation. For more information, see FIRST''s [Exploit Prediction Scoring System (EPSS)](https://www.first.org/epss/).


            **Caution:** The `epss_score` property is currently only available for Vulnerability Management exports. It will be added to Web App Scanning findings exports soon.'
          minimum: 0
          maximum: 100
        cvss2_base_score:
          type: number
          format: float
          minimum: 0
          maximum: 10
          description: The CVSSv2 base score (intrinsic and fundamental characteristics of a finding that are constant over time and user environments).
        cvss2_temporal_score:
          type: number
          format: float
          description: The CVSSv2 temporal score (characteristics of a finding that change over time but not among user environments).
        cvss3_base_score:
          type: number
          format: float
          minimum: 0
          maximum: 10
          description: The CVSSv3 base score (intrinsic and fundamental characteristics of a finding that are constant over time and user environments).
        cvss3_temporal_score:
          type: number
          format: float
          description: The CVSSv3 temporal score (characteristics of a finding that change over time but not among user environments).
        cvss4_base_score:
          type: number
          format: float
          minimum: 0
          maximum: 10
          description: The CVSS version 4 (CVSSv4) base score, representing the intrinsic and fundamental characteristics of a vulnerability that remain constant over time and across different user environments. The score ranges from 0 to 10, with higher values indicating greater severity. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
        see_also:
          type: array
          description: Links to external websites that contain helpful information about the vulnerability.
          items:
            type: string
        bid:
          type: array
          description: The Bugtraq ID for the plugin.
          items:
            type: integer
        policy:
          type: array
          description: The policy for the plugin.
          items:
            type: string
        xrefs:
          type: array
          description: References to third-party information about the finding, exploit, or update associated with the plugin. Each reference includes a type and an ID. For example, 'FEDORA' and '2003-047'.
          items:
            type: string
        cpe:
          type: array
          description: The Common Platform Enumeration (CPE) number for the plugin.
          items:
            type: string
        cve:
          type: array
          description: The Common Vulnerability and Exposure (CVE) ID for the plugin.
          items:
            type: string
        cwe:
          type: array
          description: The Common Weakness Enumeration (CWE) ID for the plugin.
          items:
            type: string
        wasc:
          type: array
          description: The Web Application Security Consortium (WASC) ID for the plugin.
          items:
            type: string
        owasp_2010:
          type: array
          description: A list of chapters in OWASP Categories 2010 report for the plugin.
          items:
            type: string
        owasp_2013:
          type: array
          description: A list of chapters in OWASP Categories 2013 report for the plugin.
          items:
            type: string
        owasp_2017:
          type: array
          description: A list of chapters in OWASP Categories 2017 report for the plugin.
          items:
            type: string
        owasp_2021:
          type: array
          description: A list of chapters in OWASP Categories 2021 report for the plugin.
          items:
            type: string
        owasp_api_2019:
          type: array
          description: A list of chapters in OWASP Categories API 2019 report for the plugin.
          items:
            type: string
        exploit_frameworks:
          type: array
          description: A list of exploit frameworks which can exploit findings reported by plugin.
          items:
            $ref: '#/components/schemas/exploit_framework'
        vpr:
          type: object
          description: 'Information about the Vulnerability Priority Rating (VPR) for the vulnerability.


            To learn more about VPR, see [Vulnerability Priority Rating](https://docs.tenable.com/vulnerability-management/Content/Explore/Findings/RiskMetrics.htm#Vulnerability-Priority-Rating-) in the _Tenable Vulnerability Management User Guide_. To learn about the enhancements introduced in VPR v2, refer to the whitepaper [Enhancements to Tenable Vulnerability Priority Rating (VPR)](https://www.tenable.com/whitepapers/enhancements-to-tenable-vulnerability-priority-rating-vpr).'
          properties:
            score:
              type: number
              format: float
              description: The Vulnerability Priority Rating (VPR) for the vulnerability. If a plugin is designed to detect multiple vulnerabilities, the VPR represents the highest value calculated for a vulnerability associated with the plugin. For more information, see <a href="https://docs.tenable.com/vulnerability-management/Content/Analysis/RiskMetrics.htm" target="_blank">Severity vs. VPR</a> in the <i>Tenable Vulnerability Management User Guide</i>.
            drivers:
              type: object
              description: The key drivers Tenable uses to calculate a vulnerability's VPR. For more information, see [Vulnerability Priority Rating Drivers](doc:vpr-drivers-tio).
              properties:
                age_of_vuln:
                  type: object
                  description: 'A range representing the number of days since the National Vulnerability Database (NVD) published the vulnerability. Ranges include: <ul><li>0-7 days</li><li>7-30 days</li><li>30-60 days</li><li>60-180 days</li><li>180-365 days</li><li>365-730 days</li><li>More than 730 days (+731)</li></ul>'
                  properties:
                    lower_bound:
                      type: integer
                      description: The lower bound of the range. For example, for the 0-7 days range, this attribute is `0`. For the highest range (more than 730 days), this value is `731`.
                    upper_bound:
                      type: integer
                      description: The upper bound of the range. For example, for the 0-7 days range, this attribute is `7`. For the highest range (more than 730 days), this value is `0`, which signifies that there is no higher category.
                exploit_code_maturity:
                  type: string
                  description: The relative maturity of a possible exploit for the vulnerability based on the existence, sophistication, and prevalence of exploit intelligence from internal and external sources (for example, Reversinglabs, Exploit-db, Metasploit, etc.). The possible values (`High`, `Functional`, `PoC`, or `Unproven`) parallel the CVSS Exploit Code Maturity categories.
                cvss_impact_score_predicted:
                  type: boolean
                  description: A value specifying whether Tenable predicted the CVSSv3 impact score for the vulnerability because NVD did not provide one (`true`) or used the NVD-provided CVSSv3 impact score (`false`) when calculating the VPR.
                cvss3_impact_score:
                  type: number
                  format: float
                  description: The NVD-provided CVSSv3 impact score for the vulnerability. If the NVD did not provide a score, Vulnerability Management displays a Tenable-predicted score.
                threat_intensity_last28:
                  type: string
                  description: ' The relative intensity based on the number and frequency of recently observed threat events related to this vulnerability: `Very Low`, `Low`, `Medium`, `High`, or `Very High`.'
                threat_sources_last28:
                  type: array
                  description: A list of all sources (for example, social media channels, the dark web, etc.) where threat events related to this vulnerability occurred.
                  items:
                    type: string
                product_coverage:
                  type: string
                  description: 'The relative number of unique products affected by the vulnerability: `Low`, `Medium`, `High`, or `Very High`.'
                threat_recency:
                  type: object
                  description: 'A range representing the number of days since a threat event occurred for the vulnerability. Ranges include: <ul><li>0-7 days</li><li>7-30 days</li><li>30-120 days</li><li>120-365 days</li><li>More than 365 days (+365)</li></ul>'
                  properties:
                    lower_bound:
                      type: integer
                      description: The lower bound of the range. For example, for the 0-7 days range, this attribute is `0`. For the highest range (more than 365 days), this value is `366`.
                    upper_bound:
                      type: integer
                      description: The upper bound of the range. For example, for the 0-7 days range, this attribute is `7`. For the highest range (more than 730 days), this value is `0`, which signifies that there is no higher category.
            updated:
              type: string
              description: The ISO timestamp when v last imported the VPR for this vulnerability. v imports a VPR value the first time you scan a vulnerability on your network. Then, Tenable Web App Scanning automatically re-imports new and updated VPR values daily.
        vpr_v2:
          type: object
          description: "Details about the Vulnerability Priority Rating (VPR) version 2 for the vulnerability. This enhanced version is labeled **VPR (Beta)** in the user interface. \n\n**Caution**: The `plugin.vpr_v2` response property is scheduled for deprecation on July 1, 2026 as part of the transition to VPR v2. To ensure continued functionality, update all integrations to use the `plugin.vpr` property. On the deprecation date, the system will begin populating `plugin.vpr` with data from the updated VPR model. For more information, see [Vulnerability Priority Rating: Transition to VPR Version 2](changelog:vulnerability-priority-rating-transition-to-version-2).\n\nTo learn more about VPR, see [Vulnerability Priority Rating](https://docs.tenable.com/vulnerability-management/Content/Explore/Findings/RiskMetrics.htm#Vulnerability-Priority-Rating-) in the _Tenable Vulnerability Management User Guide_. To learn about the enhancements introduced in VPR v2, refer to the whitepaper [Enhancements to Tenable Vulnerability Priority Rating (VPR)](https://www.tenable.com/whitepapers/enhancements-to-tenable-vulnerability-priority-rating-vpr)."
          properties:
            score:
              description: 'The Vulnerability Priority Rating (VPR) version 2 score assigned to the vulnerability. This enhanced version is labeled **VPR (Beta)** in the user interface. If a plugin detects multiple vulnerabilities, this score reflects the highest VPR among them.


                For details about VPR, see [Vulnerability Priority Rating](https://docs.tenable.com/vulnerability-management/Content/Explore/Findings/RiskMetrics.htm#Vulnerability-Priority-Rating-) in the _Tenable Vulnerability Management User Guide_. For details on improvements introduced in VPR v2, see the whitepaper [Enhancements to Tenable Vulnerability Priority Rating (VPR)](https://www.tenable.com/whitepapers/enhancements-to-tenable-vulnerability-priority-rating-vpr).'
              type: number
              format: float
              minimum: 0.1
              maximum: 10
        cvss3_temporal_vector:
          $ref: '#/components/schemas/cvss3_temporal_vector'
        cvss3_vector:
          $ref: '#/components/schemas/cvss3_vector'
        cvss4_vector:
          $ref: '#/components/schemas/cvss4_vector'
        cvss4_threat_vector:
          $ref: '#/components/schemas/cvss4_threat_vector'
        cvss2_temporal_vector:
          $ref: '#/components/schemas/cvss_temporal_vector'
        cvss2_vector:
          $ref: '#/components/schemas/cvss_vector'
        canvas_package:
          type: string
          description: The name of the CANVAS exploit pack that includes the vulnerability.
        checks_for_default_account:
          type: boolean
          description: A value specifying whether the plugin checks for default accounts.
        checks_for_malware:
          type: boolean
          description: A value specifying whether the plugin checks for malware.
        d2_elliot_name:
          type: string
          description: The name of the exploit in the D2 Elliot Web Exploitation framework.
        exploit_available:
          type: boolean
          description: A value specifying whether a public exploit exists for the vulnerability.
        exploit_framework_canvas:
          type: boolean
          description: A value specifying whether an exploit exists in the Immunity CANVAS framework.
        exploit_framework_core:
          type: boolean
          description: A value specifying whether  an exploit exists in the CORE Impact framework.
        exploit_framework_d2_elliot:
          type: boolean
          description: A value specifying whether  an exploit exists in the D2 Elliot Web Exploitation framework.
        exploit_framework_exploithub:
          type: boolean
          description: A value specifying whether  an exploit exists in the ExploitHub framework.
        exploit_framework_metasploit:
          type: boolean
          description: A value specifying whether  an exploit exists in the Metasploit framework.
        exploited_by_nessus:
          type: boolean
          description: A value specifying whether Nessus exploited the vulnerability during the process of identification.
        exploithub_sku:
          type: string
          description: The SKU number of the exploit in the ExploitHub framework.
        family:
          type: string
          description: The family to which plugin belongs.
        family_id:
          type: integer
          description: The ID of the plugin family.
        has_patch:
          type: boolean
          description: A value specifying whether the vendor has published a patch for the vulnerability.
        metasploit_name:
          type: string
          description: The name of the related exploit in the Metasploit framework.
        ms_bulletin:
          type: string
          description: The Microsoft security bulletin that the plugin covers.
        unsupported_by_vendor:
          type: boolean
          description: Software found by this plugin is unsupported by the software's vendor (for example, Windows 95 or Firefox 3).
        usn:
          type: string
          description: Ubuntu security notice that the plugin covers.
        vuln_publication_date:
          type: string
          description: A timestamp in ISO 8601 format indicating the date and time the vulnerability was first publicly disclosed. This represents the initial public availability of information about the vulnerability
        workaround:
          type: string
          description: A description that explains a workaround for remediating the vulnerability.
        workaround_type:
          type: string
          description: "The workaround action required to remediate the vulnerability. Possible workaround types include: \n - `Configuration Change` — You must alter the configuration of software on the asset.\n - `Disable Service` — You must disable a service on the asset."
          enum:
          - Configuration Change
          - Disable Service
        workaround_published:
          type: string
          description: An ISO timestamp indicating the date and time when the workaround was published.
        vendor_unpatched:
          type: boolean
          description: Indicates if the vulnerability has an available patch from the vendor.
        has_workaround:
          type: boolean
          description: Indicates if a workaround exists for the vulnerability.
    cvss3_vector:
      type: object
      description: Additional CVSSv3 metrics for the vulnerability.
      properties:
        access_vector:
          type: string
          description: "The CVSSv2 Attack Vector (AV) metric for the vulnerability the plugin covers. Possible values include:\n - Network—Corresponds to the Network (N) value for the AV metric. \n - Adjacent Network—Corresponds to the Adjacent Network (A) value for the AV metric. \n - Local—Corresponds to the Local (L) value for the AV metric"
        access_complexity:
          type: string
          description: "The CVSSv3 Access Complexity (AC) metric for the vulnerability the plugin covers. Possible values include: \n - H—High\n - M—Medium\n - L—Low"
        authentication:
          type: string
          description: "The CVSSv2 Authentication (Au) metric for the vulnerability the plugin covers. Possible values include:\n - None required—Corresponds to the None (N) value for the Au metric. \n - Requires-single-instance—Corresponds to the Single (S) value for the Au metric. \n - Requires-multiple-instances—Corresponds to the Multiple (M) value for the Au metric"
        confidentiality_impact:
          type: string
          description: "The CVSSv3 confidentiality impact metric of the vulnerability the plugin covers to the vulnerable component. Possible values include: \n - H—High\n - L—Low\n - N—None"
        integrity_impact:
          type: string
          description: "The CVSSv3 integrity impact metric for the vulnerability the plugin covers. Possible values include:\n - H—High\n - L—Low\n - N—None"
        availability_impact:
          type: string
          description: "The CVSSv2 availability impact metric for the vulnerability the plugin covers. Possible values include: \n - H—High\n - L—Low\n - N—None"
        raw:
          type: string
          description: The complete `cvss3_vector` metrics and result values for the vulnerability the plugin covers in a condensed and coded format. For example, `AV:N/AC:M/Au:N/C:C/I:C/A:C`.
    was-scan-information:
      description: Information about the latest scan that detected the vulnerability.
      type: object
      properties:
        schedule_uuid:
          type: string
          description: The schedule UUID for the scan that found the vulnerability.
        started_at:
          type: string
          description: The ISO timestamp when the scan started.
        completed_at:
          type: string
          description: The ISO timestamp when the scan completed.
        uuid:
          type: string
          description: The UUID of the scan that found the vulnerability.
    cvss_vector:
      type: object
      description: Additional CVSSv2 metrics for the vulnerability.
      properties:
        access_vector:
          type: string
          description: "The CVSSv2 Access Vector (AV) metric for the vulnerability the plugin covers. Possible values include: \n - L—Local\n - A—Adjacent Network\n - N—Network"
        access_complexity:
          type: string
          description: "The CVSSv2 Access Complexity (AC) metric for the vulnerability the plugin covers. Possible values include:\n - H—High\n - M—Medium\n - L—Low"
        authentication:
          type: string
          description: "The CVSSv2 Authentication (Au) metric for the vulnerability the plugin covers. Possible values include: \n - N—None\n - S—Single\n - M—Multiple"
        confidentiality_impact:
          type: string
          description: "The CVSSv2 confidentiality impact metric for the vulnerability the plugin covers. Possible values include: \n - N—None\n - P—Partial\n - C—Complete"
        integrity_impact:
          type: string
          description: "The CVSSv2 integrity impact metric for the vulnerability the plugin covers. Possible values include: \n - N—None\n - P—Partial\n - C—Complete"
        availability_impact:
          type: string
          description: "The CVSSv2 availability impact metric for the vulnerability the plugin covers. Possible values include: \n - N—None\n - P—Partial\n - C—Complete"
        raw:
          type: string
          description: The complete `cvss_vector` metrics and result values for the vulnerability the plugin covers in a condensed and coded format. For example, `AV:N/AC:M/Au:N/C:C/I:C/A:C`.
    cvss3_temporal_vector:
      type: object
      description: CVSSv3 temporal metrics for the vulnerability.
      properties:
        exploitability:
          type: string
          description: "The CVSSv3 Exploit Maturity Code (E) for the vulnerability the plugin covers. Possible values include: \n - Unproven—Corresponds to the Unproven (U) value for the E metric\n - Proof-of-concept—Corresponds to the Proof-of-Concept (POC) value for the E metric\n - Functional—Corresponds to the Functional (F) value for the E metric\n - High—Corresponds to the High (H) value for the E metric\n - Not-defined—Corresponds to the Not Defined (ND) value for the E metric"
        remediation_level:
          type: string
          description: "The CVSSv3 Remediation Level (RL) temporal metric for the vulnerability the plugin covers. Possible values include: \n - O—Official Fix\n - T—Temporary Fix\n - W—Workaround\n - U—Unavailable\n - X—Not Defined"
        report_confidence:
          type: string
          description: "The CVSSv3 Report Confidence (RC) temporal metric for the vulnerability the plugin covers. Possible values include: \n - U—Unknown\n - R—Reasonable\n - C—Confirmed\n - X—Not Defined"
        raw:
          type: string
          description: The complete `cvss3_temporal_vector` metrics and result values for the vulnerability the plugin covers in a condensed and coded format. For example, `E:U/RL:OF/RC:C`.
    epss_filter:
      description: "Filters vulnerabilities by their Exploit Prediction Scoring System (EPSS) score, expressed as a percentage from 0 to 100. You can combine properties to define value ranges. For example, use `gte: 50` and `lte: 80` to return vulnerabilities with EPSS scores between 50 and 80 inclusive. \n\nFor more information, see FIRST's [Exploit Prediction Scoring System (EPSS)](https://www.first.org/epss/).\n\n**Note:** This filter is not yet available but will be supported soon."
      type: object
      properties:
        eq:
          description: Returns vulnerabilities with an EPSS score equal to the specified value(s). Cannot be combined with `lt`, `gt`, `lte`, or `gte`.
          type: array
          items:
            type: number
            format: float
            minimum: 0
            maximum: 100
        neq:
          description: Returns vulnerabilities with an EPSS score _not_ equal to the specified value(s). Can be combined with `eq`.
          type: array
          items:
            type: number
            format: float
            minimum: 0
            maximum: 100
        gt:
          description: Returns vulnerabilities with an EPSS score _greater than_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 100
        gte:
          description: Returns vulnerabilities with an EPSS score _greater than or equal to_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 100
        lt:
          description: Returns vulnerabilities with an EPSS score _less than_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 100
        lte:
          description: Returns vulnerabilities with an EPSS score _less than or equal to_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 100
    exploit_framework:
      type: object
      description: Detail of exploit framework
      properties:
        type:
          type: string
          description: Framework type/name. Eg. canvas, metasploit, exploithub, etc.
        ids:
          type: array
          description: framework ids
          items:
            type: string
    response-findings-export-status:
      description: Information about the specified findings export job.
      type: object
      properties:
        uuid:
          type: string
          description: The UUID of the findings export request.
        status:
          type: string
          description: "The status of the findings export request. Possible values include:\n - QUEUED—Tenable Web App Scanning has queued the export request until other requests currently in process are completed.\n - PROCESSING—Tenable Web App Scanning has started processing the export request.\n - FINISHED—Tenable Web App Scanning has completed processing the export request. The list of chunks is complete.\n - CANCELLED—An administrator has cancelled the export request.\n - ERROR—Tenable Web App Scanning encountered an error while processing the export request. Tenable recommends that you retry the request. If the status persists on retry, contact Tenable Support."
        reason:
          type: string
          description: "The reason the export failed or completed with errors. This property is only present when the export status is `ERROR` or `FINISHED` with failed chunks. Possible values include:\n - \"The export request timed out. Try again.\"\n - \"An unexpected error occurred while processing the export. Try again later.\"\n - \"The export could not be completed. If this issue persists, please contact support.\"\n - \"{N} of {M} chunks failed to process. The remaining chunks are available for download.\""
        chunks_available:
          type: array
          description: A list of completed chunks available for download.
          items:
            type: integer
            format: int32
        chunks_failed:
          type: array
          description: A list of chunks for which the export process failed. If a chunk fails processing, submit the export request again. If the chunk continues to fail, contact Tenable Support.
          items:
            type: integer
            format: int32
        chunks_cancelled:
          type: array
          description: A list of chunks for which the export process was cancelled. If a chunk fails processing, Tenable Web App Scanning automatically cancels all subsequent chunks queued for export in the same request.
          items:
            type: integer
            format: int32
        total_chunks:
          type: integer
          description: The total number of chunks associated with the export job as a whole.
        chunks_available_count:
          type: integer
          description: The total number of completed chunks available for download.
        empty_chunks_count:
          type: integer
          description: The total number of empty chunks.
        finished_chunks:
          type: integer
          description: The number of chunks that have been processed and are available for download.
        filters:
          type: object
          description: The filters used in the findings export job request. For a list of possible filters, see the filters available for the [Export findings](ref:was-export-findings) endpoint.
          properties: {}
        num_assets_per_chunk:
          type: integer
          description: The number of assets contained in each export chunk.
        created:
          type: integer
          format: int64
          description: A Unix timestamp indicating the date and time on which the exports job was created.
    vpr_filter:
      description: 'Filters vulnerabilities based on their Vulnerability Priority Rating (VPR) version 1 score. You can define score ranges using properties such as `gte` (greater than or equal to) and `lte` (less than or equal to). For example, to match vulnerabilities with VPR scores between 9.0 and 9.9, include `{ "gte": 9.0, "lte": 9.9 }` in the filter.




        For details about VPR, see [Vulnerability Priority Rating](https://docs.tenable.com/vulnerability-management/Content/Explore/Findings/RiskMetrics.htm#Vulnerability-Priority-Rating-) in the _Tenable Vulnerability Management User Guide_.'
      type: object
      properties:
        eq:
          description: Returns vulnerabilities with a VPR exactly equal to the specified score or scores. This property _cannot_ be used in combination with `lt`, `gt`, `lte`, or `gte`.
          type: array
          items:
            type: number
            format: float
            minimum: 0.1
            maximum: 10
        neq:
          description: Returns vulnerabilities with a VPR _not_ equal to the specified score or scores. This property can be combined with the `eq` property.
          type: array
          items:
            type: number
            format: float
            minimum: 0.1
            maximum: 10
        gt:
          description: Returns vulnerabilities with a VPR _greater than_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
        gte:
          description: Returns vulnerabilities with a VPR _greater than or equal to_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
        lt:
          description: Returns vulnerabilities with a VPR _less than_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
        lte:
          description: Returns vulnerabilities with a VPR _less than or equal to_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
    cvss4_vector:
      type: object
      description: An object representing the full set of CVSS v4.0 base metrics for the vulnerability. These metrics define the intrinsic characteristics of the vulnerability, including how it can be exploited (e.g., attack vector, privileges required) and the potential impacts to both the vulnerable system and subsequent systems (e.g., confidentiality, integrity, availability). For the complete specification, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
      properties:
        attack_vector:
          type: string
          description: The CVSSv4 Attack Vector (AV) metric, which describes the context by which the vulnerability can be exploited. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - Network
          - Adjacent
          - Local
          - Physical
        attack_complexity:
          type: string
          description: The CVSSv4 Attack Complexity (AC) metric, which indicates the conditions beyond the attacker's control that must exist to exploit the vulnerability. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - Low
          - High
        attack_requirements:
          type: string
          description: The CVSSv4 Attack Requirements (AR) metric specifies prerequisite conditions of the vulnerable component that must be met for an attack to succeed. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - None
          - Present
        privileges_required:
          type: string
          description: The CVSSv4 Privileges Required (PR) metric indicates the level of privileges an attacker must have to successfully exploit the vulnerability. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - None
          - Low
          - High,
        user_interaction:
          type: string
          description: The CVSSv4 User Interaction (UI) metric describes the level of user interaction required for an attack to succeed. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - None
          - Passive
          - Active
        vulnerable_system_confidentiality:
          type: string
          description: The CVSSv4 Vulnerable System Confidentiality (VC) metric measures the impact on the confidentiality of information on the vulnerable system. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - High
          - Low
          - None
        vulnerable_system_integrity:
          type: string
          description: The CVSSv4 Vulnerable System Integrity (VI) metric measures the impact on the integrity of information on the vulnerable system. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - High
          - Low
          - None
        vulnerable_system_availability:
          type: string
          description: The CVSSv4 Vulnerable System Availability (VA) metric measures the impact on the availability of the vulnerable system. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - High
          - Low
          - None
        subsequent_system_confidentiality:
          type: string
          description: The CVSSv4 Subsequent System Confidentiality (SC) metric measures the impact on the confidentiality of information on systems _subsequent_ to the vulnerable component. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - High
          - Low
          - None
        subsequent_system_integrity:
          type: string
          description: The CVSSv4 Subsequent System Integrity (SI) metric measures the impact on the integrity of information on systems *subsequent* to the vulnerable component. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - High
          - Low
          - None
        subsequent_system_availability:
          type: string
          description: The CVSSv4 Subsequent System Availability (SA) metric measures the impact on the availability of systems _subsequent_ to the vulnerable component. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
          enum:
          - High
          - Low
          - None
        raw:
          type: string
          description: The complete CVSSv4 Base vector string representing all metric values in a compact, standardized format. This includes metrics such as Attack Vector, Attack Complexity, Privileges Required, and others. For example, `AV:N/AC:L/AT:P/PR:H/UI:N/VC:N/VI:N/VA:H/SC:N/SI:N/SA:H`. For more details, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).
    cvss4_filter:
      description: 'Filters vulnerabilities based on their CVSS version 4 (CVSSv4) base score. You can specify score ranges using the provided comparison properties. For example, to retrieve vulnerabilities with a CVSSv4 score between 7.0 and 9.9, include `{ "gte": 7.0, "lte": 9.9 }` in your filter.


        For more details about CVSSv4, see the [CVSS v4.0 Specification](https://www.first.org/cvss/v4-0/specification-document).'
      type: object
      properties:
        eq:
          description: Returns vulnerabilities with a CVSSv4 score exactly equal to the specified value(s). Cannot be combined with `lt`, `gt`, `lte`, or `gte`.
          type: array
          items:
            type: number
            format: float
            minimum: 0
            maximum: 10
        neq:
          description: Returns vulnerabilities with a CVSSv4 score _not_ equal to the specified value(s). Can be combined with eq.
          type: array
          items:
            type: number
            format: float
            minimum: 0
            maximum: 10
        gt:
          description: Returns vulnerabilities with a CVSSv4 score _greater than_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 10
        gte:
          description: Returns vulnerabilities with a CVSSv4 score _greater than or equal to_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 10
        lt:
          description: Returns vulnerabilities with a CVSSv4 score _less than_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 10
        lte:
          description: Returns vulnerabilities with a CVSSv4 score _less than or equal to_ the specified value. Cannot be combined with `eq`.
          type: number
          format: float
          minimum: 0
          maximum: 10
    response-findings-export-jobs:
      type: object
      properties:
        uuid:
          type: string
          description: The UUID of the findings export request.
        status:
          type: string
          description: "The status of the findings export request. Possible values include:\n - QUEUED—Tenable Web App Scanning has queued the export request until other requests currently in process are completed.\n - PROCESSING—Tenable Web App Scanning has started processing the export request.\n - FINISHED—Tenable Web App Scanning has completed processing the export request. The list of chunks is complete.\n - CANCELLED—An administrator has cancelled the export request.\n - ERROR—Tenable Web App Scanning encountered an error while processing the export request. Tenable recommends that you retry the request. If the status persists on retry, contact Tenable Support."
        reason:
          type: string
          description: "The reason the export failed or completed with errors. This property is only present when the export status is `ERROR` or `FINISHED` with failed chunks. Possible values include:\n - \"The export request timed out. Try again.\"\n - \"An unexpected error occurred while processing the export. Try again later.\"\n - \"The export could not be completed. If this issue persists, please contact support.\"\n - \"{N} of {M} chunks failed to process. The remaining chunks are available for download.\""
        total_chunks:
          type: integer
          description: The total number of chunks associated with the export job as a whole.
        chunks_available_count:
          type: integer
          description: The total number of completed chunks available for download.
        empty_chunks_count:
          type: integer
          description: The total number of empty chunks.
        finished_chunks:
          type: integer
          description: The number of chunks that have been processed and are available for download.
        filters:
          type: object
          description: The filters used in the findings export job request. For a list of possible filters, see the filters available for the [Export findings](ref:was-export-findings) endpoint.
          properties: {}
        num_assets_per_chunk:
          type: integer
          description: The number of assets contained in each export chunk.
        created:
          type: integer
          format: int64
          description: A Unix timestamp indicating the date and time on which the exports job was created.
    ErrorResponse:
      type: object
      required:
      - reasons
      description: Tenable Web App Scanning error response.
      properties:
        reasons:
          type: array
          description: A list of reasons for the Tenable Web App Scanning error.
          items:
            type: object
            description: A reason for the Tenable Web App Scanning error, including a code and an extended description.
            minItems: 1
            required:
            - code
            - reason
            properties:
              code:
                type: string
                description: "The Tenable Web App Scanning error code. Error code values include:\n - `NOT_FOUND`—Returned if Tenable Web App Scanning could not find the resource you specified.\n - `INVALID_ID_FORMAT`—Returned if you specify a resource ID in an invalid format.\n - `INVALID_PARAMETER`—Returned if you specify an invalid URL parameter.\n- `INVALID_JSON_BODY`—Returned if you specify invalid JSON in request payload.\n - `DUPLICATE_ENTITY`—Returned if you attempt to create a duplicate resource.\n - `NOT_ALLOWED`—Returned if Tenable Web App Scanning encounters a stateful conflict, for example, if you attempt to start a scan that is already in progress.\n - `OPERATION_FORBIDDEN`—Returned if you do not have sufficient permissions to access a resource or complete a task."
              reason:
                type: string
                description: The extended description of the cause of the Tenable Web App Scanning error.
    response-was-findings-chunk:
      type: object
      description: A chunk of WAS findings.
      properties:
        finding_id:
          type: string
          description: The unique identifier of the finding (vulnerability).
        url:
          type: string
          description: The fully-qualified domain name or URL associated with the finding.
        input_type:
          type: string
          description: The type of HTML Form input associated with the finding.
        input_name:
          type: string
          description: The type of page element that's vulnerable. For example, an HTML form.
          example: form
        http_method:
          type: string
          description: The HTTP method associated with the finding. For example, the GET or POST HTTP method.
        output:
          type: string
          description: The text output from the plugin that detected the finding.
          example: 'The backup directory detected at URL: http://webscantest.com/rfplaces/somedir1.rar

            Identified by converting the original directory name of ''somedir1'' to ''somedir1.rar''.'
        proof:
          type: string
          description: The output from the web application corroborating that the finding is present.
          example: <xss_9a3511f8-7852-4096-a7c0-6065ff8ebad3/>
        payload:
          type: string
          description: The attack payload used to detect the finding.
          example: alert('xss')
        state:
          type: string
          description: "The state of the finding as determined by the Tenable Web App Scanning state service. Possible values include:\n - OPEN—The finding is currently present on an asset.\n - REOPENED—The finding was previously marked as fixed on an asset but has returned.\n - FIXED—The finding was present on an asset but is no longer detected.\n\nNote that the API uses different terms for finding states than the user interface. The `new` and `active` states in the user interface map to the `OPEN` state in the API. The `resurfaced` state in the user interface maps to the `REOPENED` state in the API. The `FIXED` state is the same."
          enum:
          - OPEN
          - REOPENED
          - FIXED
        severity:
          type: string
          description: The severity of the finding as defined using the Common Vulnerability Scoring System (CVSS) base score. Possible values include `info` (CVSS score of 0), `low` (CVSS score between 0.1 and 3.9), `medium` (CVSS score between 4.0 and 6.9), `high` (CVSS score between 7.0 and 9.9), and `critical` (CVSS score of 10.0).
          enum:
          - INFO
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
        severity_id:
          type: integer
          format: int32
          description: "The code for the severity assigned when a user recast the risk associated with the finding. Possible values include: \n - 0—The vulnerability has a CVSS score of 0, which corresponds to the \"info\" severity level.\n - 1—The vulnerability has a CVSS score between 0.1 and 3.9, which corresponds to the \"low\" severity level.\n - 2—The vulnerability has a CVSS score between 4.0 and 6.9, which corresponds to the \"medium\" severity level.\n - 3—The vulnerability has a CVSS score between 7.0 and 9.9, which corresponds to the \"high\" severity level.\n - 4—The vulnerability has a CVSS score of 10.0, which corresponds to the \"critical\" severity level."
        severity_default_id:
          type: integer
          format: int32
          description: The code for the severity originally assigned to a finding before a user recast the risk associated with the finding. Possible values are the same as for the `severity_id` attribute.
        recast_reason:
          type: string
          description: The text that appears in the Comment field of the recast rule in the Tenable Web App Scanning user interface.
        recast_rule_uuid:
          type: string
          description: The UUID of the recast rule that applies to the plugin.
        severity_modification_type:
          type: string
          description: "The type of modification a user made to the finding's severity. Possible values include: \n - none—No modification has been made.\n - recasted—A user in the Web App Scanning user interface has recast the risk associated with the finding. \n - accepted—A user in the Web App Scanning user interface has accepted the risk associated with the finding. \n\nFor more information about recast and accept rules, see the [Recast/Accept Rules](https://docs.tenable.com/vulnerability-management/Content/Settings/Recast/AboutRecastRules.htm) in the Tenable Vulnerability Management User Guide."
        first_found:
          type: string
          description: An ISO timestamp indicating the date and time when a scan first detected the finding on the asset.
        last_found:
          type: string
          description: An ISO timestamp indicating the date and time when a scan last detected the finding on the asset.
        last_fixed:
          type: string
          description: An ISO timestamp indicating the date and time when a scan no longer detects the previously detected finding on the asset.
        last_observed:
          type: string
          description: An ISO timestamp indicating the date and time when the finding was previously detected/observed on the asset.
        indexed_at:
          type: integer
          format: int64
          description: An ISO timestamp indicating the date and time when the vulnerability was indexed into Tenable Web App Scanning.
        plugin:
          $ref: '#/components/schemas/was_plugin'
        asset:
          $ref: '#/components/schemas/response-was-export-chunk-asset'
        scan:
          $ref: '#/components/schemas/was-scan-information'
    response-was-export-chunk-asset:
      type: object
      description: Information about the asset where the scan detected the vulnerability.
      properties:
        uuid:
          type: string
          description: The UUID of the asset where a scan found the vulnerability.
        fqdn:
          type: string
          description: The fully-qualified domain name of the asset where a scan found the vulnerability.
        ipv4:
          type: string
          description: The IPv4 address of the asset where a scan found the vulnerability.
        ipv4s:
          type: array
          description: The list of IPv4 addresses if the asset has multiple IPv4 addresses.
          items:
            type: string
    vpr_v2_filter:
      description: "Filters vulnerabilities based on their Vulnerability Priority Rating (VPR) version 2 score. This enhanced version is labeled **VPR (Beta)** in the user interface. You can define score ranges using properties such as `gte` (greater than or equal to) and `lte` (less than or equal to). For example, to match vulnerabilities with VPR scores between 9.0 and 9.9, include `{ \"gte\": 9.0, \"lte\": 9.9 }` in the filter. \n\n**Caution**: The `vpr_v2_score` filter parameter is scheduled for deprecation on July 1, 2026 as part of the transition to VPR v2. To ensure continued functionality, update all integrations to use the `vpr_score` filter parameter. On the deprecation date, the system will update `vpr_score` to support the new VPR model. For more information, see [Vulnerability Priority Rating: Transition to VPR Version 2](changelog:vulnerability-priority-rating-transition-to-version-2). \n\nFor details about VPR, see [Vulnerability Priority Rating](https://docs.tenable.com/vulnerability-management/Content/Explore/Findings/RiskMetrics.htm#Vulnerability-Priority-Rating-) in the _Tenable Vulnerability Management User Guide_. To learn about the enhancements introduced in VPR v2, refer to the whitepaper [Enhancements to Tenable Vulnerability Priority Rating (VPR)](https://www.tenable.com/whitepapers/enhancements-to-tenable-vulnerability-priority-rating-vpr)."
      type: object
      properties:
        eq:
          description: Returns vulnerabilities with a VPR exactly equal to the specified score or scores. This property _cannot_ be used in combination with `lt`, `gt`, `lte`, or `gte`.
          type: array
          items:
            type: number
            format: float
            minimum: 0.1
            maximum: 10
        neq:
          description: Returns vulnerabilities with a VPR _not_ equal to the specified score or scores. This property can be combined with the `eq` property.
          type: array
          items:
            type: number
            format: float
            minimum: 0.1
            maximum: 10
        gt:
          description: Returns vulnerabilities with a VPR _greater than_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
        gte:
          description: Returns vulnerabilities with a VPR _greater than or equal to_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
        lt:
          description: Returns vulnerabilities with a VPR _less than_ the specified score. This property cannot be combined with the `eq` property.
          type: number
          format: float
          minimum: 0.1
          maximum: 10
        lte:
[...]
