openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Application setting API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Application setting
  description: Tenable.ad global configuration
paths:
  /api/application-settings:
    get:
      summary: Get the application settings
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the GET /application-settings response payload
                type: object
                additionalProperties: false
                required:
                - userRegistration
                - activityLogsIsActive
                - activityLogsRetentionDurationInMonth
                - smtpServerAddress
                - smtpServerPort
                - smtpAccount
                - smtpAccountPassword
                - smtpUseStartTLS
                - tls
                - emailSender
                - defaultProfileId
                - defaultRoleIds
                - internalCertificate
                - telemetryEnabled
                - ioaAutomaticConfiguration
                - cloudStatisticsIsActive
                - healthCheckGlobalStatusDisplayEnabled
                properties:
                  userRegistration:
                    type: boolean
                  activityLogsIsActive:
                    type: boolean
                  activityLogsRetentionDurationInMonth:
                    type: integer
                    enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                  smtpServerAddress:
                    type: string
                    nullable: true
                  smtpServerPort:
                    type: number
                    nullable: true
                  smtpAccount:
                    type: string
                    nullable: true
                  smtpAccountPassword:
                    type: string
                    nullable: true
                    x-secret: true
                  smtpUseStartTLS:
                    type: boolean
                  smtpRelayId:
                    type: number
                    nullable: true
                  tls:
                    type: boolean
                  emailSender:
                    type: string
                  defaultRoleIds:
                    type: array
                    items:
                      type: integer
                  defaultProfileId:
                    type: integer
                  internalCertificate:
                    type: string
                    nullable: true
                  telemetryEnabled:
                    type: boolean
                  ioaAutomaticConfiguration:
                    type: boolean
                  cloudStatisticsIsActive:
                    type: boolean
                  healthCheckGlobalStatusDisplayEnabled:
                    type: boolean
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Application setting
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update the application settings
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the PATCH /application-settings response payload
                type: object
                additionalProperties: false
                required:
                - userRegistration
                - activityLogsIsActive
                - activityLogsRetentionDurationInMonth
                - smtpServerAddress
                - smtpServerPort
                - smtpAccount
                - smtpAccountPassword
                - smtpUseStartTLS
                - tls
                - emailSender
                - defaultProfileId
                - defaultRoleIds
                - internalCertificate
                - telemetryEnabled
                - ioaAutomaticConfiguration
                - cloudStatisticsIsActive
                - healthCheckGlobalStatusDisplayEnabled
                properties:
                  userRegistration:
                    type: boolean
                  activityLogsIsActive:
                    type: boolean
                  activityLogsRetentionDurationInMonth:
                    type: integer
                    enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                  smtpServerAddress:
                    type: string
                    nullable: true
                  smtpServerPort:
                    type: number
                    nullable: true
                  smtpAccount:
                    type: string
                    nullable: true
                  smtpAccountPassword:
                    type: string
                    nullable: true
                    x-secret: true
                  smtpUseStartTLS:
                    type: boolean
                  smtpRelayId:
                    type: number
                    nullable: true
                  tls:
                    type: boolean
                  emailSender:
                    type: string
                  defaultRoleIds:
                    type: array
                    items:
                      type: integer
                  defaultProfileId:
                    type: integer
                  internalCertificate:
                    type: string
                    nullable: true
                  telemetryEnabled:
                    type: boolean
                  ioaAutomaticConfiguration:
                    type: boolean
                  cloudStatisticsIsActive:
                    type: boolean
                  healthCheckGlobalStatusDisplayEnabled:
                    type: boolean
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Application setting
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Application settings
              type: object
              additionalProperties: false
              properties:
                userRegistration:
                  type: boolean
                activityLogsIsActive:
                  type: boolean
                activityLogsRetentionDurationInMonth:
                  type: integer
                  enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  nullable: true
                smtpServerAddress:
                  type: string
                  nullable: true
                smtpServerPort:
                  type: integer
                  nullable: true
                smtpAccount:
                  type: string
                  nullable: true
                smtpAccountPassword:
                  type: string
                  nullable: true
                  x-secret: true
                smtpUseStartTLS:
                  type: boolean
                smtpRelayId:
                  type: number
                  nullable: true
                tls:
                  type: boolean
                emailSender:
                  type: string
                defaultRoleIds:
                  type: array
                  items:
                    type: integer
                defaultProfileId:
                  type: integer
                internalCertificate:
                  type: string
                  nullable: true
                telemetryEnabled:
                  type: boolean
                ioaAutomaticConfiguration:
                  type: boolean
                cloudStatisticsIsActive:
                  type: boolean
                healthCheckGlobalStatusDisplayEnabled:
                  type: boolean
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
