openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Dashboard API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Dashboard
  description: A widget container
paths:
  /api/dashboards:
    get:
      summary: Retrieve all dashboard instances.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - name
                  - order
                  - userId
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    order:
                      type: number
                    userId:
                      type: number
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Dashboard
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
    post:
      summary: Create dashboard instance.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - id
                - name
                - order
                - userId
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  order:
                    type: number
                  userId:
                    type: number
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Dashboard
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - name
              - order
              properties:
                name:
                  type: string
                  maxLength: 100
                order:
                  type: number
                  minimum: 0
                  maximum: 2147483647
  /api/dashboards/{id}:
    get:
      summary: Get dashboard instance by id.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - id
                - name
                - order
                - userId
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  order:
                    type: number
                  userId:
                    type: number
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Dashboard
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update dashboard instance.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - id
                - name
                - order
                - userId
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  order:
                    type: number
                  userId:
                    type: number
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Dashboard
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  maxLength: 100
                order:
                  type: number
                  minimum: 0
                  maximum: 2147483647
    delete:
      summary: Delete dashboard instance with it's associated widgets
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                additionalProperties: false
                nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Dashboard
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
