openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About SAML configuration API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: SAML configuration
  description: Authentification configuration with SAML
paths:
  /api/saml-configuration:
    get:
      summary: Get saml-configuration singleton.
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                additionalProperties: false
                required:
                - enabled
                - providerLoginUrl
                - encryptionCertificate
                - signatureCertificate
                - serviceProviderUrl
                - assertEndpoint
                - activateCreatedUsers
                - allowedGroups
                properties:
                  enabled:
                    type: boolean
                  providerLoginUrl:
                    type: string
                    nullable: true
                  encryptionCertificate:
                    type: string
                    nullable: true
                  signatureCertificate:
                    type: string
                    nullable: true
                  serviceProviderUrl:
                    type: string
                    nullable: true
                  assertEndpoint:
                    type: string
                    nullable: true
                  activateCreatedUsers:
                    type: boolean
                  allowedGroups:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                        defaultProfileId:
                          type: integer
                        defaultRoleIds:
                          type: array
                          items:
                            type: integer
                    nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - SAML configuration
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update saml-configuration singleton.
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                additionalProperties: false
                required:
                - enabled
                - providerLoginUrl
                - encryptionCertificate
                - signatureCertificate
                - serviceProviderUrl
                - assertEndpoint
                - activateCreatedUsers
                - allowedGroups
                properties:
                  enabled:
                    type: boolean
                  providerLoginUrl:
                    type: string
                    nullable: true
                  encryptionCertificate:
                    type: string
                    nullable: true
                  signatureCertificate:
                    type: string
                    nullable: true
                  serviceProviderUrl:
                    type: string
                    nullable: true
                  assertEndpoint:
                    type: string
                    nullable: true
                  activateCreatedUsers:
                    type: boolean
                  allowedGroups:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                        defaultProfileId:
                          type: integer
                        defaultRoleIds:
                          type: array
                          items:
                            type: integer
                    nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - SAML configuration
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                enabled:
                  type: boolean
                providerLoginUrl:
                  type: string
                  nullable: true
                signatureCertificate:
                  type: string
                  nullable: true
                activateCreatedUsers:
                  type: boolean
                allowedGroups:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                    - name
                    - defaultRoleIds
                    - defaultProfileId
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                      defaultProfileId:
                        type: integer
                      defaultRoleIds:
                        type: array
                        items:
                          type: integer
                  nullable: true
  /api/saml-configuration/generate-certificate:
    get:
      summary: Generates SAML certificate
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - encryptionCertificate
                properties:
                  encryptionCertificate:
                    type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - SAML configuration
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
