openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About LDAP configuration API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: LDAP configuration
  description: Configuration of LDAP for authentication purposes.
paths:
  /api/ldap-configuration:
    get:
      summary: Get ldap-configuration singleton.
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - enabled
                - url
                - searchUserDN
                - searchUserPassword
                - userSearchBase
                - userSearchFilter
                - allowedGroups
                properties:
                  enabled:
                    type: boolean
                    default: 'false'
                  url:
                    type: string
                    nullable: true
                  searchUserDN:
                    type: string
                    nullable: true
                  searchUserPassword:
                    type: string
                    nullable: true
                  userSearchBase:
                    type: string
                    nullable: true
                  userSearchFilter:
                    type: string
                    nullable: true
                  allowedGroups:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                        defaultRoleIds:
                          type: array
                          items:
                            type: integer
                        defaultProfileId:
                          type: integer
                    nullable: true
                  enableSaslBinding:
                    type: boolean
                  relayId:
                    type: number
                    nullable: true
                  relayUuid:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - LDAP configuration
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update ldap-configuration singleton.
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - enabled
                - url
                - searchUserDN
                - searchUserPassword
                - userSearchBase
                - userSearchFilter
                - allowedGroups
                properties:
                  enabled:
                    type: boolean
                    default: 'false'
                  url:
                    type: string
                    nullable: true
                  searchUserDN:
                    type: string
                    nullable: true
                  searchUserPassword:
                    type: string
                    nullable: true
                  userSearchBase:
                    type: string
                    nullable: true
                  userSearchFilter:
                    type: string
                    nullable: true
                  allowedGroups:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                        defaultRoleIds:
                          type: array
                          items:
                            type: integer
                        defaultProfileId:
                          type: integer
                    nullable: true
                  enableSaslBinding:
                    type: boolean
                  relayId:
                    type: number
                    nullable: true
                  relayUuid:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - LDAP configuration
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                enabled:
                  type: boolean
                url:
                  type: string
                  nullable: true
                searchUserDN:
                  type: string
                  nullable: true
                searchUserPassword:
                  type: string
                  nullable: true
                userSearchBase:
                  type: string
                  nullable: true
                userSearchFilter:
                  type: string
                  nullable: true
                allowedGroups:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                    - name
                    - defaultRoleIds
                    - defaultProfileId
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                      defaultRoleIds:
                        type: array
                        items:
                          type: integer
                      defaultProfileId:
                        type: integer
                  nullable: true
                enableSaslBinding:
                  type: boolean
                relayId:
                  type: number
                  nullable: true
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
