openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Lockout policy API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Lockout policy
  description: Configuration of the mechanism that locks out user accounts after multiple failed login attempts.
paths:
  /api/lockout-policy:
    get:
      summary: Get the lockout policy
      description: 'Required license type: none'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: GET /lockout-policy response payload
                type: object
                additionalProperties: false
                required:
                - enabled
                - lockoutDuration
                - failedAttemptThreshold
                - failedAttemptPeriod
                properties:
                  enabled:
                    type: boolean
                  lockoutDuration:
                    type: integer
                    minimum: 0
                  failedAttemptThreshold:
                    type: integer
                    minimum: 1
                    maximum: 50
                  failedAttemptPeriod:
                    type: integer
                    minimum: 0
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Lockout policy
      x-tenablead-required-product-license-type: []
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
    patch:
      summary: Update the lockout policy
      description: 'Required license type: none'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: PATCH /lockout-policy response payload
                nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Lockout policy
      x-tenablead-required-product-license-type: []
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: PATCH /lockout-policy request payload
              type: object
              additionalProperties: false
              properties:
                enabled:
                  type: boolean
                lockoutDuration:
                  type: integer
                  minimum: 0
                failedAttemptThreshold:
                  type: integer
                  minimum: 1
                  maximum: 50
                failedAttemptPeriod:
                  type: integer
                  minimum: 0
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
