openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Topology API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Topology
  description: A graph to represent the trust relationships between different Active Directories
paths:
  /api/profiles/{profileId}/topology:
    get:
      summary: Get a representation of the AD topology.
      description: 'Required license type: ioa, ioaPreview, ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the get /profiles/{profileId}/topology response
                type: object
                additionalProperties: false
                required:
                - infrastructures
                - trusts
                properties:
                  infrastructures:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - uid
                      - name
                      - known
                      - directories
                      properties:
                        uid:
                          type: string
                        name:
                          type: string
                        known:
                          type: boolean
                        directories:
                          type: array
                          minItems: 1
                          items:
                            type: object
                            additionalProperties: false
                            required:
                            - uid
                            - name
                            - known
                            properties:
                              uid:
                                type: string
                              name:
                                type: string
                              known:
                                type: boolean
                              id:
                                type: integer
                  trusts:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - from
                      - to
                      - hazardLevel
                      - attributes
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                        hazardLevel:
                          type: string
                          enum:
                          - regular
                          - dangerous
                          - unknown
                        attributes:
                          type: array
                          items:
                            type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Topology
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
