openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Attack API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Attack
  description: Attacks as detected by Tenable.ad
paths:
  /api/profiles/{profileId}/attacks:
    get:
      summary: Get all attacks
      description: 'Required license type: ioa, ioaPreview'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates attack search response payload
                type: array
                items:
                  description: Attack instance
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - directoryId
                  - attackTypeId
                  - dc
                  - date
                  - vector
                  - source
                  - destination
                  - isClosed
                  properties:
                    id:
                      type: number
                      description: Unique numeric identifier of the attack
                    directoryId:
                      type: number
                      description: Identifier of the directory the attacked Domain Controller belongs to
                    attackTypeId:
                      type: number
                      description: Identifier of the attack-type that has identified the attack
                    dc:
                      type: string
                      description: Fully qualified domain name of the attacked Domain Controller
                    date:
                      type: string
                      format: date-time
                      description: Date on which the attack has been identified
                    vector:
                      type: object
                      additionalProperties: false
                      properties:
                        template:
                          type: string
                          description: Localized description template for the attack vector
                        attributes:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            required:
                            - name
                            - value
                            - valueType
                            properties:
                              name:
                                type: string
                                description: Name of the attack vector attribute
                              value:
                                type: string
                                description: JSON-stringified value of the attack vector attribute
                              valueType:
                                type: string
                                description: Type of the attack vector attribute
                      description: Attack vector data
                    source:
                      type: object
                      additionalProperties: false
                      properties:
                        ip:
                          type: string
                          description: Endpoint IP, if available
                          nullable: true
                        type:
                          enum:
                          - computer
                          - dc
                          - server
                          - user
                          - null
                          description: Endpoint object type, if available
                        hostname:
                          type: string
                          description: Endpoint hostname, if available
                          nullable: true
                      description: Information on the source of the attack
                    destination:
                      type: object
                      additionalProperties: false
                      properties:
                        ip:
                          type: string
                          description: Endpoint IP, if available
                          nullable: true
                        type:
                          enum:
                          - computer
                          - dc
                          - server
                          - user
                          - null
                          description: Endpoint object type, if available
                        hostname:
                          type: string
                          description: Endpoint hostname, if available
                          nullable: true
                      description: Information on the destination of the attack
                    isClosed:
                      type: boolean
                      description: Whether the customer has closed the attack
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Attack
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: attackTypeIds
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        deprecated: false
      - name: dateEnd
        in: query
        schema:
          type: string
          format: date-time
        required: false
        deprecated: false
      - name: dateStart
        in: query
        schema:
          type: string
          format: date-time
        required: false
        deprecated: false
      - name: includeClosed
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        required: false
        deprecated: false
      - name: limit
        in: query
        schema:
          type: string
          pattern: ^[0-9]+$
        required: false
        deprecated: false
      - name: order
        in: query
        schema:
          type: string
          enum:
          - desc
          - asc
        required: false
        deprecated: false
      - name: resourceType
        in: query
        schema:
          type: string
          enum:
          - infrastructure
          - directory
          - hostname
          - ip
        required: true
        deprecated: false
      - name: resourceValue
        in: query
        schema:
          type: string
        required: true
        deprecated: false
      - name: search
        in: query
        schema:
          type: string
        required: false
        deprecated: false
      security:
      - ApiKey: []
  /api/profiles/{profileId}/attacks/export:
    get:
      summary: Get all attacks in CSV rows format
      description: 'Required license type: ioa, ioaPreview'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates attack search response payload
                type: array
                items:
                  description: Attack instance
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - directoryId
                  - attackTypeId
                  - dc
                  - date
                  - vector
                  - source
                  - destination
                  - isClosed
                  properties:
                    id:
                      type: number
                      description: Unique numeric identifier of the attack
                    directoryId:
                      type: number
                      description: Identifier of the directory the attacked Domain Controller belongs to
                    attackTypeId:
                      type: number
                      description: Identifier of the attack-type that has identified the attack
                    dc:
                      type: string
                      description: Fully qualified domain name of the attacked Domain Controller
                    date:
                      type: string
                      format: date-time
                      description: Date on which the attack has been identified
                    vector:
                      type: object
                      additionalProperties: false
                      properties:
                        template:
                          type: string
                          description: Localized description template for the attack vector
                        attributes:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            required:
                            - name
                            - value
                            - valueType
                            properties:
                              name:
                                type: string
                                description: Name of the attack vector attribute
                              value:
                                type: string
                                description: JSON-stringified value of the attack vector attribute
                              valueType:
                                type: string
                                description: Type of the attack vector attribute
                      description: Attack vector data
                    source:
                      type: object
                      additionalProperties: false
                      properties:
                        ip:
                          type: string
                          description: Endpoint IP, if available
                          nullable: true
                        type:
                          enum:
                          - computer
                          - dc
                          - server
                          - user
                          - null
                          description: Endpoint object type, if available
                        hostname:
                          type: string
                          description: Endpoint hostname, if available
                          nullable: true
                      description: Information on the source of the attack
                    destination:
                      type: object
                      additionalProperties: false
                      properties:
                        ip:
                          type: string
                          description: Endpoint IP, if available
                          nullable: true
                        type:
                          enum:
                          - computer
                          - dc
                          - server
                          - user
                          - null
                          description: Endpoint object type, if available
                        hostname:
                          type: string
                          description: Endpoint hostname, if available
                          nullable: true
                      description: Information on the destination of the attack
                    isClosed:
                      type: boolean
                      description: Whether the customer has closed the attack
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Attack
      x-tenablead-required-product-license-type:
      - ioa
      - ioaPreview
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: attackTypeIds
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        deprecated: false
      - name: dateEnd
        in: query
        schema:
          type: string
          format: date-time
        required: false
        deprecated: false
      - name: dateStart
        in: query
        schema:
          type: string
          format: date-time
        required: false
        deprecated: false
      - name: includeClosed
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        required: false
        deprecated: false
      - name: limit
        in: query
        schema:
          type: string
          pattern: ^[0-9]+$
        required: false
        deprecated: false
      - name: order
        in: query
        schema:
          type: string
          enum:
          - desc
          - asc
        required: false
        deprecated: false
      - name: resourceType
        in: query
        schema:
          type: string
          enum:
          - infrastructure
          - directory
          - hostname
          - ip
        required: true
        deprecated: false
      - name: resourceValue
        in: query
        schema:
          type: string
        required: true
        deprecated: false
      - name: search
        in: query
        schema:
          type: string
        required: false
        deprecated: false
      security:
      - ApiKey: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
