openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About AD object API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: AD object
  description: Representation of an Active Directory Object
paths:
  /api/ad-objects:
    get:
      summary: Return the last state of every ad-object at the provided timestampBy default, the timestamp is now. Objects out of scope are included
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates GET /ad-objects response payload
                type: object
                additionalProperties: false
                properties:
                  _embedded:
                    type: object
                    properties:
                      ad-object:
                        type: array
                        items:
                          additionalProperties: false
                          required:
                          - id
                          - directoryId
                          - objectId
                          - type
                          - objectAttributes
                          properties:
                            id:
                              type: number
                            directoryId:
                              type: number
                            objectId:
                              type: string
                            type:
                              type: string
                              enum:
                              - LDAP
                              - SYSVOL
                            objectAttributes:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                required:
                                - name
                                - value
                                - valueType
                                properties:
                                  name:
                                    type: string
                                  value:
                                    type: string
                                  valueType:
                                    type: string
                                    enum:
                                    - boolean
                                    - string
                                    - integer
                                    - date
                                    - object
                                    - array/boolean
                                    - array/string
                                    - array/integer
                                    - array/date
                                    - array/object
                  _links:
                    type: object
                    additionalProperties: true
                    properties:
                      next:
                        type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
  /api/directories/{directoryId}/ad-objects/{id}:
    get:
      summary: Get ad-object instance by id.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: AD object
                type: object
                additionalProperties: false
                required:
                - id
                - directoryId
                - objectId
                - type
                - objectAttributes
                properties:
                  id:
                    type: number
                  directoryId:
                    type: number
                  objectId:
                    type: string
                  type:
                    type: string
                    enum:
                    - LDAP
                    - SYSVOL
                  objectAttributes:
                    type: array
                    minItems: 0
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      - value
                      - valueType
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                        valueType:
                          type: string
                          enum:
                          - boolean
                          - string
                          - integer
                          - date
                          - object
                          - array/boolean
                          - array/string
                          - array/integer
                          - array/date
                          - array/object
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: directoryId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
  /api/infrastructures/{infrastructureId}/directories/{directoryId}/ad-objects/{id}:
    get:
      summary: Get ad-object instance by id.
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: AD object
                type: object
                additionalProperties: false
                required:
                - id
                - directoryId
                - objectId
                - type
                - objectAttributes
                properties:
                  id:
                    type: number
                  directoryId:
                    type: number
                  objectId:
                    type: string
                  type:
                    type: string
                    enum:
                    - LDAP
                    - SYSVOL
                  objectAttributes:
                    type: array
                    minItems: 0
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      - value
                      - valueType
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                        valueType:
                          type: string
                          enum:
                          - boolean
                          - string
                          - integer
                          - date
                          - object
                          - array/boolean
                          - array/string
                          - array/integer
                          - array/date
                          - array/object
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: directoryId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: infrastructureId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
  /api/profiles/{profileId}/checkers/{checkerId}/ad-objects/{id}:
    get:
      summary: Retrieve an AD object by id that have deviances for a specific profile and checker
      description: 'Required license type: ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the GET /profiles/:profileId/checkers/:checkerId/ad-objects/:adObjectId response
                type: object
                required:
                - id
                - directoryId
                - objectId
                - type
                - objectAttributes
                - reasons
                additionalProperties: false
                properties:
                  id:
                    type: number
                  directoryId:
                    type: number
                  objectId:
                    type: string
                  type:
                    type: string
                    enum:
                    - LDAP
                    - SYSVOL
                  objectAttributes:
                    type: array
                    minItems: 0
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      - value
                      - valueType
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                        valueType:
                          type: string
                          enum:
                          - boolean
                          - string
                          - integer
                          - date
                          - object
                          - array/boolean
                          - array/string
                          - array/integer
                          - array/date
                          - array/object
                  reasons:
                    type: array
                    items:
                      type: number
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: checkerId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: showIgnored
        in: query
        schema:
          type: string
          pattern: ^(true|false)$
          x-patternError: should be a boolean string
        required: false
        deprecated: false
      security:
      - ApiKey: []
  /api/infrastructures/{infrastructureId}/directories/{directoryId}/events/{eventId}/ad-objects/{id}:
    get:
      summary: Get one ad-object by event and by id
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates /infrastructures/:infrastructureId/directories/:directoryId/events/:eventId/ad-objects/:id response
                type: object
                additionalProperties: false
                required:
                - id
                - directoryId
                - objectId
                - type
                - objectAttributes
                properties:
                  id:
                    type: number
                  directoryId:
                    type: number
                  objectId:
                    type: string
                  type:
                    type: string
                    enum:
                    - LDAP
                    - SYSVOL
                  objectAttributes:
                    type: array
                    minItems: 0
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      - value
                      - valueType
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                        valueType:
                          type: string
                          enum:
                          - boolean
                          - string
                          - integer
                          - date
                          - object
                          - array/boolean
                          - array/string
                          - array/integer
                          - array/date
                          - array/object
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: directoryId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: infrastructureId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: eventId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
  /api/infrastructures/{infrastructureId}/directories/{directoryId}/events/{eventId}/ad-objects/{id}/changes:
    get:
      summary: Get one ad-object changes between a given event and the event which precedes it
      description: 'Required license type: ioe, ioaPreview, ioa'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: AD object changes
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required:
                  - attributeName
                  - values
                  properties:
                    attributeName:
                      type: string
                    valueType:
                      type: string
                      enum:
                      - boolean
                      - string
                      - integer
                      - date
                      - object
                      - array/boolean
                      - array/string
                      - array/integer
                      - array/date
                      - array/object
                    values:
                      type: object
                      additionalProperties: false
                      required:
                      - before
                      properties:
                        before:
                          type: string
                          nullable: true
                        after:
                          type: string
                          nullable: true
                        current:
                          type: string
                          nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      - ioaPreview
      - ioa
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: infrastructureId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: directoryId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: eventId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: wantedValues
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        deprecated: false
      security:
      - ApiKey: []
  /api/profiles/{profileId}/checkers/{checkerId}/ad-objects/search:
    post:
      summary: Search all AD objects having deviances by profile by checker
      description: 'Required license type: ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the get /ad-objects response
                type: array
                items:
                  description: Deviant AD object
                  type: object
                  required:
                  - id
                  - directoryId
                  - objectId
                  - type
                  - objectAttributes
                  - reasons
                  additionalProperties: false
                  properties:
                    id:
                      type: number
                    directoryId:
                      type: number
                    objectId:
                      type: string
                    type:
                      type: string
                      enum:
                      - LDAP
                      - SYSVOL
                    objectAttributes:
                      type: array
                      minItems: 0
                      items:
                        type: object
                        additionalProperties: false
                        required:
                        - name
                        - value
                        - valueType
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                          valueType:
                            type: string
                            enum:
                            - boolean
                            - string
                            - integer
                            - date
                            - object
                            - array/boolean
                            - array/string
                            - array/integer
                            - array/date
                            - array/object
                    reasons:
                      type: array
                      items:
                        type: number
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - AD object
      x-tenablead-required-product-license-type:
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: profileId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: checkerId
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      - name: perPage
        in: query
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: false
        deprecated: false
      - name: page
        in: query
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: false
        deprecated: false
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Validates GET /ad-objects/ params
              type: object
              additionalProperties: false
              required:
              - expression
              - directories
              - reasons
              - showIgnored
              properties:
                expression:
                  type: object
                directories:
                  type: array
                  items:
                    type: integer
                reasons:
                  type: array
                  items:
                    type: integer
                dateStart:
                  type: string
                  format: date-time
                dateEnd:
                  type: string
                  format: date-time
                showIgnored:
                  type: boolean
                  nullable: true
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
