openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Checker API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Checker
  description: Checkers are the implementations of the state of the art of AD security
paths:
  /api/checkers:
    get:
      summary: Retrieve all checker instances.
      description: 'Required license type: ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Validates the get /checkers response
                type: array
                items:
                  description: A checker instance
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - codename
                  - categoryId
                  - remediationCost
                  properties:
                    id:
                      type: number
                      description: ' Unique numeric identifier of the checker'
                    codename:
                      type: string
                      example: C-SAMPLE-DUMMY
                      description: ' Unique string identifier of the checker'
                    categoryId:
                      type: integer
                      description: Identifier of the category the checker belongs to
                    remediationCost:
                      type: integer
                      description: Remediation cost of the checker findings
                      deprecated: true
                    name:
                      type: string
                      default: null
                      description: Localized name of the checker
                      nullable: true
                    description:
                      type: string
                      default: null
                      description: Localized description of the checker
                      nullable: true
                    execSummary:
                      type: string
                      default: null
                      description: Localized executive summary of the checker findings
                      nullable: true
                    vulnerabilityDetail:
                      type: object
                      default: {}
                      properties:
                        detail:
                          type: string
                          default: null
                          nullable: true
                      description: Localized technical explanations on the checks performed by the checker
                    attackerKnownTools:
                      type: array
                      default: []
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: null
                            nullable: true
                          url:
                            type: string
                            default: null
                            nullable: true
                          author:
                            type: string
                            default: null
                            nullable: true
                      description: Known attacker tools that can exploit the vulnerabilities the checker looks for
                    resources:
                      type: array
                      default: []
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: null
                            nullable: true
                          url:
                            type: string
                            default: null
                            nullable: true
                          type:
                            type: string
                            default: null
                            nullable: true
                      description: Resources helping understand the vulnerabilities the checker looks for
                    recommendation:
                      type: object
                      default: {}
                      properties:
                        name:
                          type: string
                          default: null
                          nullable: true
                        description:
                          type: string
                          default: null
                          nullable: true
                        execSummary:
                          type: string
                          default: null
                          nullable: true
                        detail:
                          type: string
                          default: null
                          nullable: true
                        resources:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                default: null
                                nullable: true
                              url:
                                type: string
                                default: null
                                nullable: true
                              type:
                                type: string
                                default: null
                                nullable: true
                      description: Recommendations on how to remediate the issues identified by the checker
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Checker
      x-tenablead-required-product-license-type:
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      security:
      - ApiKey: []
  /api/checkers/{id}:
    get:
      summary: Get checker instance by id.
      description: 'Required license type: ioe'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Checker
                type: object
                additionalProperties: false
                required:
                - id
                - codename
                - categoryId
                - remediationCost
                properties:
                  id:
                    type: number
                  codename:
                    type: string
                    example: C-toto-s
                  categoryId:
                    type: integer
                  remediationCost:
                    type: integer
                  name:
                    type: string
                    default: null
                    nullable: true
                  description:
                    type: string
                    default: null
                    nullable: true
                  execSummary:
                    type: string
                    default: null
                    nullable: true
                  vulnerabilityDetail:
                    type: object
                    default: {}
                    properties:
                      detail:
                        type: string
                        default: null
                        nullable: true
                  attackerKnownTools:
                    type: array
                    default: []
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          default: null
                          nullable: true
                        url:
                          type: string
                          default: null
                          nullable: true
                        author:
                          type: string
                          default: null
                          nullable: true
                  resources:
                    type: array
                    default: []
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          default: null
                          nullable: true
                        url:
                          type: string
                          default: null
                          nullable: true
                        type:
                          type: string
                          default: null
                          nullable: true
                  recommendation:
                    type: object
                    default: {}
                    properties:
                      name:
                        type: string
                        default: null
                        nullable: true
                      description:
                        type: string
                        default: null
                        nullable: true
                      execSummary:
                        type: string
                        default: null
                        nullable: true
                      detail:
                        type: string
                        default: null
                        nullable: true
                      resources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              default: null
                              nullable: true
                            url:
                              type: string
                              default: null
                              nullable: true
                            type:
                              type: string
                              default: null
                              nullable: true
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      tags:
      - Checker
      x-tenablead-required-product-license-type:
      - ioe
      parameters:
      - name: x-api-key
        description: The user's API key
        in: header
        schema:
          type: string
          default: put-your-api-key-here
        required: true
        deprecated: false
      - name: id
        in: path
        schema:
          type: string
          pattern: ^[0-9]+$
          x-patternError: should be a numerical string
        required: true
        deprecated: false
      security:
      - ApiKey: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
