openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Scans API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Scans
paths:
  /pci-asv/scans/list:
    get:
      tags:
      - Scans
      summary: List PCI scans
      description: 'Returns a list of PCI scans in PCI ASV.


        **Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license.. <div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>'
      operationId: pci-scans-list
      parameters:
      - description: 'The field you want to use to sort the results by along with the sort order. The field is specified first, followed by a colon, and the order is specified second (`asc` or `desc`). For example, `name:desc` would sort results by the `name` field in descending order.


          If you specify multiple fields, the fields must be separated by commas. For example, `name:desc,started_at:asc` would first sort results by the `name` field in descending order and then by the `started_at` field in ascending order.'
        name: sort
        in: query
        schema:
          type: string
      - description: The number of records to retrieve.
        name: limit
        in: query
        schema:
          type: integer
          format: int32
      - description: The starting record to retrieve. If this parameter is omitted, Tenable PCI ASV uses the default value of `0`.
        name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returned if the list of PCI scans was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - pagination
                - items
                properties:
                  pagination:
                    $ref: '#/components/schemas/Response-Pagination'
                  scans:
                    type: array
                    description: An array of PCI ASV scan objects.
                    items:
                      $ref: '#/components/schemas/Response-ScansList'
              examples:
                response:
                  value:
                    pagination:
                      total: 2
                      offset: 0
                      limit: 200
                      sort:
                      - name: name
                        order: asc
                    scans:
                    - asset_count: 4
                      updated_at: '2023-01-13T08:30:03.219Z'
                      name: PCI Scan Example 1
                      cde.uuid: 2a26c398-d61f-4f0f-8aea-bce410a64818
                      started_at: '2023-01-13T05:30:12Z'
                      scan_type: nessus
                      failure_count: 68
                      import_status: complete
                      vulnerability_count: 229
                      uuid: 1ud20a81-5dbf-4749-9173-62ba398c0646
                      ended_at: '2023-01-13T05:50:03Z'
                      status: 100
                    - asset_count: 4
                      updated_at: '2023-01-13T08:30:03.219Z'
                      name: PCI Scan Example 2
                      cde.uuid: 1a26c398-d61f-4f0f-8aea-bce410a64818
                      started_at: '2023-01-13T05:30:12Z'
                      scan_type: nessus
                      failure_count: 68
                      import_status: complete
                      vulnerability_count: 229
                      uuid: bu7e71d6-25db-44a1-8869-f7b234480c11
                      ended_at: '2023-01-13T05:50:03Z'
                      status: 100
        '400':
          description: Returned if you do not have a license to use Tenable PCI ASV.
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                    - rule: user.does_not_have_access_for_api
                      message: Please contact Tenable support to enable API access for this endpoint in your container.
                    error: Please contact Tenable support to enable API access for this endpoint in your container.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have the required permissions to view the list of PCI scans. For example, if you're an analyst user instead of an administrator.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /scans:
    post:
      summary: Create scan
      description: "Creates a scan configuration. For more information and request body examples, see [Create a Scan](doc:create-scan-tio). \n\n**Note:** Tenable Vulnerability Management limits the active number of scans to 10,000 scans. Tenable recommends you re-use scheduled scans instead of creating new scans. Alternatively, you can delete unused scans. An HTTP 403 error is returned if you attempt to create a scan after you have already reached the scan limit of 10,000.  <div class=\"perms-callout\">Requires the Scan Operator [24] user role or the `VM.VM_SCAN.VM_SCAN.CREATE` custom role privilege. See [Roles](doc:roles).</div>"
      operationId: scans-create
      tags:
      - Scans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - uuid
              - settings
              type: object
              properties:
                uuid:
                  type: string
                  description: 'The UUID for the Tenable-provided scan template to use. Use the [List templates](ref:editor-list-templates) endpoint to find the template UUID.


                    **Caution:** The defaults listed for a template via the [Get template details](ref:editor-template-details) endpoint apply to the user interface only. When you create a scan via the API you must include the settings in the request even if the setting is listed as a default in the editor. For example, even if `host_tagging` is set to `yes` by default in the editor, you still need to include `"host_tagging": "yes"` in the `settings` object for the scan.'
                  example: 9afd5e49-b4a8-4ab3-8c44-4ed329a505c44e51e1f403febe40
                settings:
                  $ref: '#/components/schemas/scans_Request-ScanSettings'
                credentials:
                  $ref: '#/components/schemas/scans_request-create-scan-credentials-object'
                plugins:
                  $ref: '#/components/schemas/scans_request-create-and-update-plugins-object'
                audits:
                  $ref: '#/components/schemas/scans_Request-ScanAudits'
      responses:
        '200':
          description: Returned the scan configuration was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_scan-object-create-update-response'
              examples:
                response:
                  value:
                    scan:
                      container_id: 3584b24b-7f26-4684-b644-a2a92103d6c2
                      owner_uuid: 595e5aa0-e631-4e99-80e2-e1be8cc7bdc1
                      uuid: template-8b64a4a8-50b4-4077-bcc4-31f451fa3549f4f660ba792e0b0f
                      name: Full Network Scan
                      description: Scan all hosts daily
                      policy_id: 16
                      scanner_id: null
                      scanner_uuid: 00000000-0000-0000-0000-00000000000000000000000000001
                      emails: person_1@example.com,person_2@example.com
                      sms: +15555555555,+14444444444
                      enabled: true
                      dashboard_file: null
                      include_aggregate: true
                      scan_time_window: null
                      custom_targets: null
                      starttime: null
                      rrules: null
                      timezone: US/Central
                      notification_filter_type: and
                      notification_filters:
                      - value: CVE-2023-2234
                        quality: eq
                        filter: cve
                      tag_targets:
                      - 1cf4f3a3-9878-44ce-9fa7-3a969c602e28
                      - 9808942a-2053-43a7-8580-7caebdfb959f
                      shared: 0
                      user_permissions: 128
                      default_permissions: 0
                      owner: user2@example.com
                      owner_id: 2
                      last_modification_date: 1544145190
                      creation_date: 1544145190
                      type: public
                      id: 26
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you attempt to create a scan after you have already reached the scan limit of 10,000. Tenable recommends you re-use scheduled scans instead of creating new scans.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - scans_cloud: []
    get:
      summary: List scans
      description: "Returns a list of scans where you have at least CAN VIEW [16] scan permissions. \n\n**Note:** Keep in mind potential [rate limits](doc:rate-limiting) when using this endpoint. To check the status of your scans, use the [Get latest scan status](ref:scans-get-latest-status) endpoint. Tenable recommends the [Get latest scan status](ref:scans-get-latest-status) endpoint especially if you are programmatically checking the status of large numbers of scans.<div class=\"perms-callout\">Requires the Basic [16] user role and the Can View [16] scan permission. Alternatively, requires the `VM.VM_SCAN.VM_SCAN.READ` custom role privilege . See [Roles](doc:roles) and [Permissions](doc:permissions).</div>"
      operationId: scans-list
      tags:
      - Scans
      parameters:
      - description: The unique identifier of the folder to filter by. When provided, only scans within this folder are returned.
        required: false
        name: folder_id
        in: query
        schema:
          type: integer
      - description: "Filters results to scans that are either currently active or were executed on or after the specified Unix timestamp (in seconds). \n\n**Note:** Despite the parameter name, this refers to the scan execution time, not the date the scan configuration was last modified."
        required: false
        name: last_modification_date
        in: query
        schema:
          type: integer
          format: int64
          example: 1770881803
      - description: Filters results to scans started on or after the specified Unix timestamp (in seconds).
        required: false
        name: started_from
        in: query
        schema:
          type: integer
          format: int64
          example: 1770881803
      - description: Filters results to scans started on or before the specified Unix timestamp (in seconds).
        required: false
        name: started_to
        in: query
        schema:
          type: integer
          format: int64
          example: 1770881803
      responses:
        '200':
          description: Returned if the list of scans was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scans:
                    type: array
                    items:
                      $ref: '#/components/schemas/scans_scan-object-list'
                  folders:
                    type: array
                    items: {}
                  timestamp:
                    type: integer
                    description: The Unix timestamp when Tenable Vulnerability Management received the list request.
                    format: int64
              examples:
                response:
                  value:
                    scans:
                    - control: true
                      creation_date: 1667846780
                      enabled: false
                      id: 32
                      last_modification_date: 1667955712
                      legacy: false
                      name: Example Scan 1
                      owner: example@example.com
                      policy_id: 30
                      read: false
                      schedule_uuid: 26cf08d3-3f94-79f4-8038-996376eabd4f186741fe15533e70
                      shared: true
                      status: completed
                      template_uuid: 131a8e52-3ea6-a291-ec0a-d2ff0619c19d7bd788d6be818b65
                      has_triggers: false
                      type: remote
                      permissions: 16
                      user_permissions: 128
                      uuid: c1d84965-c4c6-47ea-99c6-2111b803bcae
                      wizard_uuid: 931a8e52-3ea6-a291-ec0a-d2ff0619c19d7bd788d6be818b65
                      progress: 100
                      total_targets: 3072
                    - control: true
                      creation_date: 1667846760
                      enabled: false
                      id: 29
                      last_modification_date: 1667951900
                      legacy: false
                      name: Example Scan 2
                      owner: example@example.com
                      policy_id: 27
                      read: false
                      schedule_uuid: 461e4ebc-b309-face-6fa1-afa4ba163cb6d84b9dc0a0dc5020
                      shared: true
                      status: completed
                      template_uuid: 231a8e52-3ea6-a291-ec0a-d2ff0619c19d7bd788d6be818b65
                      has_triggers: false
                      type: remote
                      permissions: 16
                      user_permissions: 128
                      uuid: a2ae343e-308b-4540-90b9-ceae09641d84
                      wizard_uuid: 831a8e52-3ea6-a291-ec0a-d2ff0619c19d7bd788d6be818b65
                      progress: 100
                      total_targets: 3072
                    - control: true
                      creation_date: 1656499184
                      enabled: false
                      id: 14
                      last_modification_date: 1656499323
                      legacy: false
                      name: Example Scan 3
                      owner: system
                      read: true
                      schedule_uuid: bca83022-b67a-5f73-c0ca-db4542057d40fa937bee56c5655b
                      shared: false
                      status: completed
                      has_triggers: false
                      type: pvs
                      permissions: 0
                      user_permissions: 128
                      uuid: d83acc14-2f92-44d3-a843-80c2c4f35ebf
                      progress: 100
                      total_targets: 1
                    folders:
                    - id: 43
                      name: My Scans
                      type: main
                      custom: 0
                      unread_count: 3
                      default_tag: 1
                    - id: 44
                      name: Trash
                      type: trash
                      custom: 0
                      unread_count: 2
                      default_tag: 0
                    timestamp: 1671477512
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - scans_cloud: []
  /scans/{scan_id}:
    get:
      summary: Get scan details
      description: "Returns scan results for a specific scan. If you submit a request without query parameters, Tenable Vulnerability Management returns results from the latest run of the specified scan. If you submit a request using the query parameters to specify a historical run of the scan, Tenable Vulnerability Management returns the scan results for the specified run. \n\n**Note:** Keep in mind potential [rate limits](doc:rate-limiting) and [concurrency limits](doc:concurrency-limiting) when using this endpoint. To check the status of a scan, use the [Get latest scan status](ref:scans-get-latest-status) endpoint. Tenable recommends the [Get latest scan status](ref:scans-get-latest-status) endpoint especially if you are programmatically checking the status of large numbers of scans. \n\n**Note:** This endpoint returns limited data if scan results are older than 35 days. Scans that are older than 35 days are effectively \"archived\". The `info.is_archived` attribute in the response message for this endpoint serves as the indication of archival status. For complete data from archived scan results, use the [Export scan](ref:scans-export-request) endpoint instead. <div class=\"perms-callout\">Requires the Scan Operator [24] user role and the Can View [16] scan permission. Alternatively, requires the `VM.VM_SCAN.VM_SCAN.READ` custom role privilege . See [Roles](doc:roles) and [Permissions](doc:permissions).</div>"
      operationId: scans-details
      tags:
      - Scans
      parameters:
      - description: 'The unique identifier for the scan. You can use either the `schedule_uuid` (string) or the `id` (integer) retrieved from the [List Scans](ref:scans-list) endpoint.


          **Note:** Tenable recommends using the `schedule_uuid` for consistency across scan instances.'
        required: true
        name: scan_id
        in: path
        schema:
          oneOf:
          - title: String Value for UUID
            type: string
          - title: Integer Value for ID
            type: integer
      - description: The unique identifier of the specific scan historical instance you want to retrieve. This value enables you to access data from a previous execution of the scan and corresponds to the `id` attribute from the [Get scan history](ref:scans-history) endpoint.
        name: history_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Returned if the details for the specified scan were retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    $ref: '#/components/schemas/scans_scan-info-response-object'
                  comphosts:
                    type: array
                    description: A list of the hosts that had compliance checks run against them. If the scan results are older than 35 days (that is, if the `info.archived` attribute for the scan is `true`), this array does not appear in the response message.
                    items:
                      $ref: '#/components/schemas/scans_host'
                  hosts:
                    type: array
                    description: A list of the hosts targeted by the scan for the specified run. This lists includes both hosts assessed for vulnerabilities and compliance checks. If the scan results are older than 35 days (that is, if the `info.archived` attribute for the scan is `true`), this array does not appear in the response message.
                    items:
                      $ref: '#/components/schemas/scans_host'
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/scans_note'
                  remediations:
                    type: object
                  vulnerabilities:
                    type: array
                    description: A list of vulnerabilities that the scan identified on the target hosts. If the scan results are older than 35 days (that is, if the `info.archived` attribute for the scan is `true`), this array does not appear in the response message.
                    items:
                      $ref: '#/components/schemas/scans_vulnerability'
                  filters:
                    type: array
                    description: A list of filters. If the scan results are older than 35 days (that is, if the `info.archived` attribute for the scan is `true`), this array does not appear in the response message.
                    items:
                      $ref: '#/components/schemas/scans_filter'
                  history:
                    type: array
                    description: A list of details about each time the scan has run.
                    items:
                      $ref: '#/components/schemas/scans_history-in-scan-details-response'
                  compliance:
                    type: array
                    description: A list of compliance checks performed during the run of the scan. If the scan results are older than 35 days (that is, if the `info.archived` attribute for the scan is `true`), this array does not appear in the response message.
                    items:
                      $ref: '#/components/schemas/scans_vulnerability'
                  progress:
                    type: integer
                    description: The progress of the scan ranging from 0 to 100.
              examples:
                response:
                  value:
                    info:
                      owner: user2@example.com
                      name: KitchenSinkScan
                      no_target: false
                      folder_id: 9
                      control: false
                      user_permissions: 128
                      schedule_uuid: b0eeabbe-a612-429a-a60e-0f68eafb8c36f60557ee0e264228
                      edit_allowed: false
                      scanner_name: null
                      policy: null
                      shared: false
                      object_id: 11
                      tag_targets:
                      - 1cf4f3a3-9878-44ce-9fa7-3a969c602e28
                      - 9808942a-2053-43a7-8580-7caebdfb959f
                      acls:
                      - permissions: 0
                        owner: null
                        display_name: null
                        name: null
                        id: null
                        type: default
                      - permissions: 128
                        owner: 1
                        display_name: user2@example.com
                        name: user2@example.com
                        id: 2
                        type: user
                      hostcount: 10
                      uuid: fd7d0d8e-c0e1-4439-97a5-d5c3a5c2d369ab8f7ecb158c480e
                      status: imported
                      scan_type: null
                      targets: null
                      alt_targets_used: null
                      pci-can-upload: null
                      scan_start: 1430933086
                      timestamp: 1430934526
                      is_archived: false
                      scan_end: 1430934526
                      haskb: true
                      hasaudittrail: true
                      scanner_start: null
                      scanner_end: null
                    history:
                    - history_id: 10328682
                      owner_id: 2
                      creation_date: 1430933086
                      last_modification_date: 1430934526
                      uuid: fd7d0d8e-c0e1-4439-97a5-d5c3a5c2d369ab8f7ecb158c480e
                      type: null
                      status: imported
                      scheduler: 0
                      alt_targets_used: false
                      is_archived: false
                    hosts:
                    - asset_id: 5
                      host_id: 5
                      hostname: 192.0.2.57
                      progress: 100-100/200-200
                      scanprogresscurrent: 100
                      scanprogresstotal: 100
                      numchecksconsidered: 100
                      totalchecksconsidered: 100
                      severitycount:
                        item:
                        - count: 156
                          severitylevel: 0
                        - count: 1
                          severitylevel: 1
                        - count: 6
                          severitylevel: 2
                        - count: 3
                          severitylevel: 3
                        - count: 0
                          severitylevel: 4
                      severity: 166
                      score: 3766
                      info: 156
                      low: 1
                      medium: 6
                      high: 3
                      critical: 0
                      host_index: 0
                    - asset_id: 3
                      host_id: 3
                      hostname: 192.0.2.57
                      progress: 100-100/200-200
                      scanprogresscurrent: 100
                      scanprogresstotal: 100
                      numchecksconsidered: 100
                      totalchecksconsidered: 100
                      severitycount:
                        item:
                        - count: 52
                          severitylevel: 0
                        - count: 11
                          severitylevel: 1
                        - count: 100
                          severitylevel: 2
                        - count: 58
                          severitylevel: 3
                        - count: 32
                          severitylevel: 4
                      severity: 253
                      score: 388162
                      info: 52
                      low: 11
                      medium: 100
                      high: 58
                      critical: 32
                      host_index: 1
                    - asset_id: 9
                      host_id: 9
                      hostname: 192.0.2.57
                      progress: 100-100/200-200
                      scanprogresscurrent: 100
                      scanprogresstotal: 100
                      numchecksconsidered: 100
                      totalchecksconsidered: 100
                      severitycount:
                        item:
                        - count: 115
                          severitylevel: 0
                        - count: 5
                          severitylevel: 1
                        - count: 21
                          severitylevel: 2
                        - count: 45
                          severitylevel: 3
                        - count: 16
                          severitylevel: 4
                      severity: 202
                      score: 207265
                      info: 115
                      low: 5
                      medium: 21
                      high: 45
                      critical: 16
                      host_index: 2
                    vulnerabilities:
                    - count: 68
                      plugin_id: 34220
                      plugin_name: Netstat Portscanner (WMI)
                      severity: 0
                      plugin_family: Port scanners
                      vuln_index: 1
                    - count: 65
                      plugin_id: 34252
                      plugin_name: Microsoft Windows Remote Listeners Enumeration (WMI)
                      severity: 0
                      plugin_family: Windows
                      vuln_index: 2
                    - count: 41
                      plugin_id: 14272
                      plugin_name: netstat portscanner (SSH)
                      severity: 0
                      plugin_family: Port scanners
                      vuln_index: 3
                    comphosts:
                    - asset_id: 5
                      host_id: 5
                      hostname: 192.0.2.57
                      progress: 100-100/200-200
                      scanprogresscurrent: 100
                      scanprogresstotal: 100
                      numchecksconsidered: 100
                      totalchecksconsidered: 100
                      severitycount:
                        item:
                        - count: 0
                          severitylevel: 0
                        - count: 145
                          severitylevel: 1
                        - count: 62
                          severitylevel: 2
                        - count: 0
                          severitylevel: 3
                        - count: 86
                          severitylevel: 4
                      score: 867650
                      info: 0
                      low: 145
                      medium: 62
                      high: 0
                      critical: 86
                      host_index: 0
                      severity: 293
                    - asset_id: 3
                      host_id: 3
                      hostname: 192.0.2.57
                      progress: 100-100/200-200
                      scanprogresscurrent: 100
                      scanprogresstotal: 100
                      numchecksconsidered: 100
                      totalchecksconsidered: 100
                      severitycount:
                        item:
                        - count: 0
                          severitylevel: 0
                        - count: 52
                          severitylevel: 1
                        - count: 1
                          severitylevel: 2
                        - count: 0
                          severitylevel: 3
                        - count: 45
                          severitylevel: 4
                      score: 450620
                      info: 0
                      low: 52
                      medium: 1
                      high: 0
                      critical: 45
                      host_index: 1
                      severity: 98
                    - asset_id: 9
                      host_id: 9
                      hostname: 192.0.2.57
                      progress: 100-100/200-200
                      scanprogresscurrent: 100
                      scanprogresstotal: 100
                      numchecksconsidered: 100
                      totalchecksconsidered: 100
                      severitycount:
                        item:
                        - count: 0
                          severitylevel: 0
                        - count: 61
                          severitylevel: 1
                        - count: 23
                          severitylevel: 2
                        - count: 0
                          severitylevel: 3
                        - count: 64
                          severitylevel: 4
                      score: 642910
                      info: 0
                      low: 61
                      medium: 23
                      high: 0
                      critical: 64
                      host_index: 2
                      severity: 148
                    compliance:
                    - count: 5
                      host_id: 0
                      hostname: null
                      plugin_family: Unix Compliance Checks
                      plugin_id: 143e17d31e1a30830fcc2c3539d803d0
                      plugin_name: 'BSI-100-2: S 4.13: /etc/group consistency - Careful allocation of identifiers'
                      severity: 1
                      severity_index: 0
                    - count: 5
                      host_id: 0
                      hostname: null
                      plugin_family: Unix Compliance Checks
                      plugin_id: 21361aed1df4e64051bc939431ca3096
                      plugin_name: 'BSI-100-2: S 4.105: No world writeable files - Preventing unauthorised acquisition of administrator rights'
                      severity: 3
                      severity_index: 1
                    - count: 5
                      host_id: 0
                      hostname: null
                      plugin_family: Unix Compliance Checks
                      plugin_id: 5784176f032f448cb73b6cd4d4cff8be
                      plugin_name: 'BSI-100-2: S 4.105: Rlogind must be deactivated'
                      severity: 3
                      severity_index: 2
                    filters:
                    - name: host.id
                      readable_name: Asset ID
                      control:
                        type: entry
                        regex: '[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}(,[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12})*'
                        readable_regex: c15c917b-e722-4cbf-a666-9ea11c3a6def
                      operators:
                      - eq
                      - neq
                      - match
                      - nmatch
                      group_name: vulnerability
                    - name: plugin.attributes.bid
                      readable_name: Bugtraq ID
                      control:
                        type: entry
                        regex: ^[0-9]+(,[0-9]+)*
                        readable_regex: NUMBER
                        maxlength: 18
                      operators:
                      - eq
                      - neq
                      - match
                      - nmatch
                      group_name: vulnerability
                    - name: plugin.attributes.exploit_framework_canvas
                      readable_name: CANVAS Exploit Framework
                      control:
                        type: dropdown
                        list:
                        - 'true'
                        - 'false'
                      operators:
                      - eq
                      - neq
                      group_name: vulnerability
                    notes:
                    - message: One or more AirWatch API settings are not set
                      title: MDM501 AirWatch API settings misconfiguration
                    - message: Unable to connect to the ActiveSync server.
                      title: MDM501 ActiveSync connection error
                    - message: ADSI server (example.com) could not connect to server.
                      title: 'adsi_enum_directory_trusts.nbin: ADSI error'
                    remediations:
                      num_cves: 2536
                      num_hosts: 10
                      num_remediated_cves: 2283
                      num_impacted_hosts: 8
                      remediations:
                      - vulns: 1
                        value: 96a449d372af3d23ca9a4f9f9a2ea73e
                        hosts: 1
                        remediation: 'FreeBSD : gpgme -- heap-based buffer overflow in gpgsm status handler (f166dd0b-6845-4830-a9fe-d9af0467fc30): Update the affected package.'
                      - vulns: 296
                        value: 319a8ba9e264c876028b2a5abf5a1b0e
                        hosts: 1
                        remediation: 'FreeBSD : mozilla -- multiple vulnerabilities (8e3ca454-2405-4dc0-abed-2bc43690fbf8): Update the affected packages.'
                      - vulns: 0
                        value: c22105fdc2756d11c39d1380e58c8fbc
                        hosts: 1
                        remediation: 'RHEL 6 / 7 : postgresql (RHSA-2015:0750): Update the affected packages.'
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management could not find the specified scan configuration.
          content:
            application/json:
              schema:
                type: object
                description: Error message
                properties:
                  error:
                    type: string
                    description: A brief description of the cause of the error.
              examples:
                response:
                  value:
                    info:
                      error: Scan not found
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - scans_cloud: []
    put:
      summary: Update scan
      description: "Updates the scan configuration. For example, you can enable or disable a scan, change the scan name, description, folder, scanner, targets, and schedule parameters. For more information and request body examples, see [Update a Scan](doc:update-scan-tio). \n\nFor information on updating remediation scans and request body examples, see [Manage Remediation Scans](doc:io-manage-remediation-scans). <div class=\"perms-callout\">Requires the Scan Operator [24] user role and the Can Edit [64] scan permission. Alternatively, requires the `VM.VM_SCAN.VM_SCAN.EDIT` custom role privilege. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>"
      operationId: scans-configure
      tags:
      - Scans
      parameters:
      - description: The unique identifier for the scan you want to update. This identifier can be either the `scans.schedule_uuid` or the `scans.id` attribute in the response message from the [List scans](ref:scans-list) endpoint. Tenable recommends that you use `scans.schedule_uuid`.
        required: true
        name: scan_id
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uuid
              - settings
              properties:
                uuid:
                  type: string
                  description: 'The UUID for the Tenable-provided scan template to use. Use the [List templates](ref:editor-list-templates) endpoint to find the template UUID.


                    **Caution:** The defaults listed for a template via the [Get template details](ref:editor-template-details) endpoint apply to the user interface only. When you create a scan via the API you must include the settings in the request even if the setting is listed as a default in the editor. For example, even if `host_tagging` is set to `yes` by default in the editor, you still need to include `"host_tagging": "yes"` in the `settings` object for the scan.'
                  example: 9afd5e49-b4a8-4ab3-8c44-4ed329a505c44e51e1f403febe40
                settings:
                  $ref: '#/components/schemas/scans_Request-ScanSettings'
                credentials:
                  $ref: '#/components/schemas/scans_request-update-scan-credentials-object'
                plugins:
                  $ref: '#/components/schemas/scans_request-create-and-update-plugins-object'
                audits:
                  $ref: '#/components/schemas/scans_Request-ScanAudits'
      responses:
        '200':
          description: Returned if the specified scan configuration was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_scan-object-create-update-response'
              examples:
                response:
                  value:
                    container_id: 3584b24b-7f26-4684-b644-a2a92103d6c2
                    owner_uuid: 595e5aa0-e631-4e99-80e2-e1be8cc7bdc1
                    uuid: template-8b64a4a8-50b4-4077-bcc4-31f451fa3549f4f660ba792e0b0f
                    name: Basic Daily Network Scan
                    description: Scan all hosts daily
                    policy_id: 16
                    scanner_id: null
                    scanner_uuid: 00000000-0000-0000-0000-00000000000000000000000000001
                    emails: person_1@example.com,person_2@example.com
                    sms: +15555555555,+14444444444
                    enabled: false
                    dashboard_file: null
                    include_aggregate: true
                    scan_time_window: null
                    custom_targets: null
                    starttime: null
                    rrules: null
                    timezone: US/Central
                    notification_filter_type: and
                    notification_filters:
                    - value: Critical
                      quality: eq
                      filter: risk_factor
                    tag_targets:
                    - 1cf4f3a3-9878-44ce-9fa7-3a969c602e28
                    - 9808942a-2053-43a7-8580-7caebdfb959f
                    shared: 0
                    user_permissions: 128
                    default_permissions: 0
                    owner: user2@example.com
                    owner_id: 2
                    last_modification_date: 1544207231
                    creation_date: 1544145190
                    type: public
                    id: 26
        '400':
          description: "Returned under the following conditions:\n - Your request message is missing a required parameter.\n - Your request included a user-defined template, which is invalid for a remediation scan."
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management could not find the specified scan configuration.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - scans_cloud: []
    delete:
      summary: Delete scan
      description: 'Deletes a scan.


        You cannot delete scans with a `running`, `paused`, or `stopping` status. For more information, see [Scan Status](doc:scan-status-tio). <div class="perms-callout">Requires the Scan Manager [40] user role and the Can Edit [64] scan permission. Alternatively, requires the `VM.VM_SCAN.VM_SCAN.DELETE` custom role privilege. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>'
      operationId: scans-delete
      tags:
      - Scans
      parameters:
      - description: The unique identifier for the scan you want to delete. This identifier can be either the `scans.schedule_uuid` or the `scans.id` attribute in the response message from the [List scans](ref:scans-list) endpoint. Tenable recommends that you use `scans.schedule_uuid`.
        required: true
        name: scan_id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Returned if the specified scan configuration was deleted successfully.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management could not find the specified scan configuration.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scans_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - scans_cloud: []
  /was/v2/configs/{config_id}/scans:
    post:
      summary: Launch scan
      description: Launches a scan using the specified configuration.<div class="perms-callout">Requires the Scan Operator [24] user role or the `WAS.SCAN_WAS.MANAGE` custom role privilege. Also requires the `WAS.SCAN_WAS_SYSTEM_TEMPLATE.USE` custom role privilege if using a Tenable-provided scan template. Additionally, requires the Can Execute [32] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-launch
      tags:
      - Scans
      parameters:
      - description: The UUID of the scan configuration to use to launch a scan.
        in: path
        name: config_id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: Returned if Tenable Web App Scanning successfully launches the scan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    description: The UUID of the scan. Retain this UUID to [view the scan details](ref:was-v2-scans-details), including the scan status.
              examples:
                response:
                  value:
                    scan_id: 7b1438f9-321f-4f74-b39b-5e183794984f
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have either user permissions to launch the scan or scan permissions to use the scan configuration. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '404':
          description: Returned if Tenable Web App Scanning cannot find the specified scan configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_FOUND
        '409':
          description: Returned if a scan is already is a running for the specified configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_ALLOWED
                      reason: 'This configuration already has a running scan: ''695dddfa-d5fd-40ab-a82e-1615ca3a84bd'''
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /api/v3/was/import:
    post:
      summary: Import scan
      description: 'Imports a scan that was previously exported in JSON format.


        **Note:** Attachments and scan files in DB format can''t be imported. <div class="perms-callout">Requires the Basic [16] user role or the `WAS.SCAN_WAS.IMPORT` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>'
      operationId: was-v3-scans-import
      tags:
      - Scans
      x-readme:
        explorer-enabled: false
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Filedata:
                  type: string
                  description: The scan import JSON file to upload.
                  format: binary
      responses:
        '202':
          description: Returned if the scan was imported successfully.
          content:
            application/json:
              examples:
                response:
                  value: {}
        '400':
          description: Returned if any UUIDs in the JSON file are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: INVALID_ID_FORMAT
                      reason: The provided ID of '10-ABC' must be UUID type
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permissions to import a scan. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value: {}
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v2/configs/{config_id}/scans/search:
    post:
      summary: Search scans
      description: Returns a list of scans. <div class="perms-callout">Requires the Basic [16] user role or the `WAS.SCAN_WAS.READ` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-search
      tags:
      - Scans
      parameters:
      - in: path
        name: config_id
        required: true
        schema:
          type: string
          format: uuid
        description: The UUID of the config that was used for the scan.
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: Single Filter
                $ref: '#/components/schemas/AppliedFilters-Vulnerabilities'
              - title: Multiple Filters
                type: object
                properties:
                  AND:
                    type: array
                    description: An array of filters that must all be satisfied.
                    items:
                      $ref: '#/components/schemas/AppliedFilters-Scans'
                  OR:
                    type: array
                    description: An array of filters where at least one must be satisfied.
                    items:
                      $ref: '#/components/schemas/AppliedFilters-Scans'
      responses:
        '200':
          description: Returns a list of scans.
          content:
            application/json:
              schema:
                type: object
                required:
                - pagination
                - items
                properties:
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                  items:
                    type: array
                    description: A list of scans.
                    items:
                      $ref: '#/components/schemas/Scan'
              examples:
                response:
                  value:
                    pagination:
                      total: 2098
                      offset: 0
                      limit: 10
                      sort:
                      - name: created_at
                        order: desc
                    items:
                    - scan_id: 0d94f5b4-f811-44cb-802a-7f1c600818c3
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 988cd296-58b0-419e-bd43-0d884080daf6
                      asset_id: f8598420-1e33-4aed-abd0-56d114e96d3e
                      target: http://example.com/
                      created_at: '2020-12-07T20:00:14.319827Z'
                      updated_at: '2020-12-07T20:01:19.815217Z'
                      started_at: '2020-12-07T20:01:00.386897Z'
                      finalized_at: '2020-12-07T20:01:19.808199Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 1
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 1
                        queued_pages: 0
                        audited_pages: 1
                        request_count: 163
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: config_audit
                    - scan_id: 864b8026-ac4e-4b25-b895-bf264cfc59cc
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: e3467cb8-4d1f-44d1-ac77-fe261022db0b
                      asset_id: 5cf19656-afc6-4290-b685-cb29b750e020
                      target: http://192.0.2.119/
                      created_at: '2020-12-07T14:30:41.342350Z'
                      updated_at: '2020-12-07T18:30:49.565002Z'
                      started_at: null
                      finalized_at: '2020-12-07T18:30:49.508707Z'
                      requested_action: start
                      status: aborted
                      metadata: null
                      scanner: null
                      template_name: scan
                    - scan_id: c8ee70c3-d81f-47c3-97b0-f1fabf5f9b18
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 55cdee55-56a5-40c4-9d03-dee2ec7dfdb2
                      asset_id: 5cf19656-afc6-4290-b685-cb29b750e020
                      target: http://192.0.2.119/
                      created_at: '2020-12-07T14:30:41.246525Z'
                      updated_at: '2020-12-07T14:41:49.778380Z'
                      started_at: '2020-12-07T14:31:20.876292Z'
                      finalized_at: '2020-12-07T14:41:49.766614Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 26
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 11
                        queued_pages: 0
                        audited_pages: 18
                        request_count: 2725
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: scan
                    - scan_id: 086da4cc-a3bc-42a4-864b-9d97a794923e
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 69a86d77-1e7d-4489-8a7a-0a501b1d0d0a
                      asset_id: 5cf19656-afc6-4290-b685-cb29b750e020
                      target: https://192.0.2.119
                      created_at: '2020-12-07T12:00:28.818222Z'
                      updated_at: '2020-12-07T12:00:53.051974Z'
                      started_at: '2020-12-07T12:00:47.479393Z'
                      finalized_at: '2020-12-07T12:00:53.032269Z'
                      requested_action: start
                      status: aborted
                      metadata: null
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: scan
                    - scan_id: 4e59f5c1-c530-4455-b585-908f144e28c2
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 42900a9a-335c-44bc-a80b-a0616b899d47
                      asset_id: 5cf19656-afc6-4290-b685-cb29b750e020
                      target: http://192.0.2.119/
                      created_at: '2020-12-07T12:00:28.731409Z'
                      updated_at: '2020-12-07T12:11:23.354890Z'
                      started_at: '2020-12-07T12:00:46.467506Z'
                      finalized_at: '2020-12-07T12:11:23.339756Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 48
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 23
                        queued_pages: 0
                        audited_pages: 30
                        request_count: 4333
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: scan
                    - scan_id: 0c8a726d-fe66-4672-9bae-61d22aefd372
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 988cd296-58b0-419e-bd43-0d884080daf6
                      asset_id: f8598420-1e33-4aed-abd0-56d114e96d3e
                      target: http://example.com/
                      created_at: '2020-12-06T20:00:46.137448Z'
                      updated_at: '2020-12-06T20:01:18.982088Z'
                      started_at: '2020-12-06T20:01:00.475819Z'
                      finalized_at: '2020-12-06T20:01:18.977261Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 1
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 1
                        queued_pages: 0
                        audited_pages: 1
                        request_count: 163
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: config_audit
                    - scan_id: 3ccf83ef-13fe-49ff-aad0-9f5af1b2d39a
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 988cd296-58b0-419e-bd43-0d884080daf6
                      asset_id: f8598420-1e33-4aed-abd0-56d114e96d3e
                      target: http://example.com/
                      created_at: '2020-12-05T20:00:18.679060Z'
                      updated_at: '2020-12-05T20:00:53.905932Z'
                      started_at: '2020-12-05T20:00:35.450322Z'
                      finalized_at: '2020-12-05T20:00:53.899011Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 1
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 1
                        queued_pages: 0
                        audited_pages: 1
                        request_count: 163
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: config_audit
                    - scan_id: 6f1ed550-7894-40b3-a6ea-3be06f9338a4
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 988cd296-58b0-419e-bd43-0d884080daf6
                      asset_id: f8598420-1e33-4aed-abd0-56d114e96d3e
                      target: http://example.com/
                      created_at: '2020-12-04T20:00:20.058359Z'
                      updated_at: '2020-12-04T20:01:34.843822Z'
                      started_at: '2020-12-04T20:01:15.837083Z'
                      finalized_at: '2020-12-04T20:01:34.831731Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 1
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 1
                        queued_pages: 0
                        audited_pages: 1
                        request_count: 162
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: config_audit
                    - scan_id: db2e705d-d9e1-44f8-af8c-895096b214b0
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 42900a9a-335c-44bc-a80b-a0616b899d47
                      asset_id: 5cf19656-afc6-4290-b685-cb29b750e020
                      target: http://192.0.2.119/
                      created_at: '2020-12-04T12:00:39.733492Z'
                      updated_at: '2020-12-04T12:11:32.035955Z'
                      started_at: '2020-12-04T12:00:56.278028Z'
                      finalized_at: '2020-12-04T12:11:32.029569Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 48
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 23
                        queued_pages: 0
                        audited_pages: 30
                        request_count: 4248
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: scan
                    - scan_id: 55cb0d87-c835-4263-86dd-7c157f8fd2fa
                      user_id: 01c924ee-e6ab-4d55-b283-dffba6dcce4c
                      config_id: 988cd296-58b0-419e-bd43-0d884080daf6
                      asset_id: f8598420-1e33-4aed-abd0-56d114e96d3e
                      target: http://example.com/
                      created_at: '2020-12-03T20:00:23.578614Z'
                      updated_at: '2020-12-03T20:01:25.441773Z'
                      started_at: '2020-12-03T20:01:06.985067Z'
                      finalized_at: '2020-12-03T20:01:25.434118Z'
                      requested_action: start
                      status: completed
                      metadata:
                        found_urls: 1
                        queued_urls: 0
                        scan_status: running
                        audited_urls: 1
                        queued_pages: 0
                        audited_pages: 1
                        request_count: 162
                        response_time: 0
                      scanner:
                        group_name: US Cloud Scanner
                      template_name: config_audit
        '400':
          description: Returned if your request specifies invalid query parameter values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: INVALID_JSON_BODY
                      reason: 'Query decoding Instant failed: Text ''2019-06-24T19:48:00'' could not be parsed at index 19'
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v2/scans/{scan_id}:
    get:
      summary: Get scan details
      description: Returns scan details.<div class="perms-callout">Requires the Basic [16] user role or the `WAS.SCAN_WAS.READ` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-details
      tags:
      - Scans
      parameters:
      - in: path
        name: scan_id
        required: true
        schema:
          type: string
          format: uuid
        description: The UUID of the scan for which you want to view details.
      responses:
        '200':
          description: Returns scan details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
              examples:
                response:
                  value:
                    scan_id: 7f2fc25a-bdd8-4ad4-91dd-b9563ed69560
                    user_id: 53e1d711-f18f-4a75-a86e-1c47bccff1b7
                    config_id: a772daba-3d6d-412c-8ee0-3279b19650b2
                    target: http://192.0.2.119
                    created_at: '2020-02-05T23:11:49.342Z'
                    updated_at: '2020-02-05T23:22:15.510Z'
                    requested_action: start
                    status: completed
                    metadata:
                      queued_urls: 0
                      scan_status: stopping
                      crawled_urls: 1
                      queued_pages: 0
                      audited_pages: 1
                      request_count: 74
                      response_time: 0
        '400':
          description: Returned if your request specifies an invalid scan ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: INVALID_ID_FORMAT
                      reason: The provided ID of '10-ABC' must be UUID type
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Web App Scanning cannot find the specified scan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_FOUND
                      reason: Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
    patch:
      summary: Update scan status
      description: Update the `requested_action` attribute for a scan. The requested action must be valid for the scan's current status. For example, you can pause or stop a scan if it has a status of `running` or resume a scan if it has a status of `paused`. Otherwise, Tenable Web App Scanning returns a 409 response code. This request creates an asynchronous update job.<div class="perms-callout">Requires the Scan Operator [24] user role or the `WAS.SCAN_WAS.MANAGE` custom role privilege. Additionally, requires the Can Execute [32] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-status-update
      tags:
      - Scans
      parameters:
      - in: path
        name: scan_id
        required: true
        schema:
          type: string
          format: uuid
        description: The UUID of the scan for which you want to update status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - requested_action
              properties:
                requested_action:
                  type: string
                  description: The action to apply to the scan.
                  enum:
                  - pause
                  - resume
                  - stop
      responses:
        '202':
          description: Returned if Tenable Web App Scanning successfully creates an update job.
          content:
            application/json:
              examples:
                response:
                  value: {}
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Web App Scanning cannot find the specified scan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_FOUND
                      reason: Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found
        '409':
          description: Returned if the requested action update is invalid for the current scan status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_ALLOWED
                      reason: Can't update scan '6453b06e-116f-431d-9f94-945bfaae0bfb' with status 'Stopped'
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
    delete:
      summary: Delete scan
      description: Removes the specified scan and all vulnerabilities it detected. This request creates an asynchronous deletion job.<div class="perms-callout">Requires the Scan Operator [24] user role or the `WAS.SCAN_WAS.MANAGE` custom role privilege. Additionally, requires the Can Edit [64] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-delete
      tags:
      - Scans
      parameters:
      - in: path
        name: scan_id
        required: true
        schema:
          type: string
          format: uuid
        description: The UUID of the scan for which you want to delete.
      responses:
        '202':
          description: Returned if Tenable Web App Scanning successfully creates the deletion job.
          content:
            application/json:
              examples:
                response:
                  value: {}
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Web App Scanning cannot find the specified scan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_FOUND
                      reason: Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found
        '409':
          description: Returned if you attempt to delete a running scan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: NOT_ALLOWED
                      reason: Can't delete scan '33e6fb4f-ea5a-4141-b564-0c95adbecc3d' with status 'Running'
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v2/scans/{scan_id}/notes:
    get:
      summary: Get scan notes
      description: Returns a list of notes for the specified scan. <div class="perms-callout">Requires the Basic [16] user role or the `WAS.SCAN_WAS.READ` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-notes-list
      parameters:
      - description: The UUID of the scan for which you want to view notes.
        in: path
        name: scan_id
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/sort'
      tags:
      - Scans
      responses:
        '200':
          description: A list of scan notes for the requested scan.
          content:
            application/json:
              schema:
                type: object
                required:
                - pagination
                - items
                properties:
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                  items:
                    type: array
                    description: A list of scan notes.
                    items:
                      $ref: '#/components/schemas/ScanNote'
              examples:
                response:
                  value:
                    pagination:
                      total: 1
                      offset: 0
                      limit: 10
                      sort:
                      - name: created_at
                        order: desc
                    items:
                    - scan_note_id: 79c83486-d589-4568-9bdb-5cdccc315ccb
                      scan_id: e51094c7-ebe2-4296-a978-ba2563d0cb66
                      created_at: '2020-04-07T00:17:37Z'
                      severity: high
                      title: Authentication Failed
                      message: The scanner was unable to authenticate to the web application using the given options.
        '400':
          description: Returned if your request specifies an invalid scan UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    reasons:
                    - code: INVALID_ID_FORMAT
                      reason: The provided ID of '10-ABC' must be UUID type
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permissions for the scan. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
  /was/v2/scans/{scan_id}/vulnerabilities/search:
    post:
      summary: Search vulnerabilities for scan
      description: Returns a list of vulnerabilities for the specified scan. <div class="perms-callout">Requires the Basic [16] user role or the `WAS.SCAN_WAS.READ` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>
      operationId: was-v2-scans-details-vulns-search
      parameters:
      - description: The UUID of the scan for which you want to view vulnerabilities.
        in: path
        name: scan_id
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: Single Filter
                $ref: '#/components/schemas/AppliedFilters-VulnerabilitiesByScan'
              - title: Multiple Filters
                type: object
                properties:
                  AND:
                    type: array
                    description: An array of filters that must all be satisfied.
                    items:
                      $ref: '#/components/schemas/AppliedFilters-VulnerabilitiesByScan'
                  OR:
                    type: array
                    description: An array of filters where at least one must be satisfied.
                    items:
                      $ref: '#/components/schemas/AppliedFilters-VulnerabilitiesByScan'
      tags:
      - Scans
      responses:
        '200':
          description: A list of scan vulnerabilities for the requested scan.
          content:
            application/json:
              schema:
                type: object
                required:
                - pagination
                - items
                properties:
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                  items:
                    type: array
                    description: A list of vulnerabilities.
                    items:
                      $ref: '#/components/schemas/Vulnerability'
              examples:
                response:
                  value:
                    pagination:
                      total: 30
                      offset: 0
                      limit: 10
                      sort:
                      - name: created_at
                        order: desc
                    items:
                    - vuln_id: 3072f8d9-a0c2-443f-bca8-b47e63ebaa80
                      scan_id: 7f3428c5-0f5a-4812-a728-fffbcbf7c132
                      plugin_id: 98009
                      created_at: '2020-02-05T23:25:31Z'
                      uri: http://192.0.2.119
                      is_page: false
                      details:
                        input_name: null
                        input_type: null
                        output: 'The scan has discovered 23 distinct URLs, 11 of which are in the target scope.


                          From these 11 URLs, 21 have been effectively crawled.


                          Response times ranged between 0.003519s and 0.143464s.


                          Here is the distribution of URL types for this web application:

                          - 11 as "text/html"

                          - 1 as "text/css"

                          - 2 as "text/javascript"

                          - 3 as "image/png"

                          - 4 as "image/jpeg"


                          You can access the complete list of URLs with the information collected by the scan as an attachment to this plugin.'
                        proof: null
                        payload: null
                        selector: null
                        selector_url: null
                        signature: null
                        request: null
                        response: null
                      attachments:
                      - attachment_id: b13a9fb5-cb0d-47d8-a6c1-063fbe6f8250
                        created_at: '2020-02-05T23:25:33.740Z'
                        attachment_name: sitemap.csv
                        md5: md5:b2e06491f801f7f5b5f229bbf6efd7e9
                        file_type: text/plain
                        size: 0
                    - vuln_id: a1dc9d88-44de-4f5c-9258-3dbb02baa010
                      scan_id: 7f3428c5-0f5a-4812-a728-fffbcbf7c132
                      plugin_id: 98000
                      created_at: '2020-02-05T23:25:31Z'
                      uri: http://192.0.2.119
                      is_page: false
                      details:
                        input_name: null
                        input_type: null
                        output: '

                          Engine Version      0.41.0_INIT_SITEMAP_SNAPSHOT-6

                          Scan ID             7f3428c5-0f5a-4812-a728-fffbcbf7c132


                          Start Time          2020-02-05 23:23:36 +0000

                          Duration            00:01:52


                          Requests            664

                          Requests/s          59.2445

                          Mean Response Time  0.0542s


                          Bandwidth Usage

                          - Data to Target    200 KB

                          - Data from Target  546 KB


                          Network TimeOuts    0

                          Browser TimeOuts    0

                          Protocols           HTTP/HTTPs


                          Authentication

                          - None


                          Plugins Included:

                          - 98000 "Scan Information"

                          - 98003 "OS Detection"

                          - 98009 "Web Application Sitemap"

                          - 98019 "Network Timeout Encountered"

                          - 98024 "HTTP Server Authentication Detected"

                          - 98025 "HTTP Server Authentication Succeeded"

                          - 98026 "HTTP Server Authentication Failed"

                          - 98033 "Login Form Detected"

                          - 98034 "Login Form Authentication Failed"

                          - 98035 "Login Form Authentication Succeeded"

                          - 98043 "Scan logged-out intermittently"

                          - 98044 "Scan aborted after being logged out"

                          - 98050 "Interesting response"

                          - 98056 "Missing HTTP Strict Transport Security Policy"

                          - 98057 "Insecure ''Access-Control-Allow-Origin'' header"

                          - 98059 "Technologies Detected"

                          - 98060 "Missing ''X-Frame-Options'' Header"

                          - 98062 "Cookie set for parent domain"

                          - 98063 "Cookie Without HttpOnly Flag Detected"

                          - 98064 "Cookie Without Secure Flag Detected"

                          - 98077 "Private IP address disclosure"

                          - 98078 "E-mail address disclosure"

                          - 98079 "CVS/SVN user disclosure"

                          - 98080 "Form-based File Upload"

                          - 98081 "Password field with auto-complete"

                          - 98082 "Unencrypted password form"

                          - 98083 "CAPTCHA Detection"

                          - 98084 "Directory Listing"

                          - 98091 "Mixed Resource Detection"

                          - 98092 "HTML Object"

                          - 98129 "Credit card number disclosure"

                          - 98136 "Target Information"

                          - 98137 "Scan aborted after too many timeouts"

                          - 98138 "Screenshot"

                          - 98139 "Cookie Authentication Succeeded"

                          - 98140 "Cookie Authentication Failed"

                          - 98141 "Selenium Authentication Succeeded"

                          - 98142 "Selenium Authentication Failed"

                          - 98143 "Selenium Crawl Succeeded"

                          - 98145 "Selenium Crawl Failed"

                          - 98526 "Missing Feature Policy"

                          - 98527 "Missing Referrer Policy"

                          - 98611 "Error Message"

                          - 98612 "Missing ''Expect-CT'' Header"

                          - 98615 "Basic Authentication Without HTTPS"

                          - 98618 "HTTP Header Information Disclosure"

                          - 98647 "Missing Subresource Integrity (SRI)"

                          - 98648 "Missing ''Content-Type'' Header"

                          - 98649 "Invalid Subresource Integrity"

                          - 98715 "Permissive HTTP Strict Transport Security Policy Detected"

                          - 98772 "XHR Detection"

                          - 112526 "Missing ''X-XSS-Protection'' Header"

                          - 112527 "Disabled ''X-XSS-Protection'' Header"

[...]
