openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Access Control (Users) API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Access Control (Users)
  x-displayName: Access Control (Users)
paths:
  /users:
    post:
      summary: Create user
      description: Creates a new user.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: users-create
      tags:
      - Access Control (Users)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'Specifies the login name for the user. A valid username must be in the format `name@domain`, where `domain` corresponds to a domain approved for your Tenable Vulnerability Management instance.


                    **Note:** During initial setup, Tenable configures approved domains for your Vulnerability Management instance. To add domains to your instance, contact Tenable Support.'
                password:
                  type: string
                  description: Specifies the initial password for the user. Passwords must be at least 12 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character symbol.
                  format: password
                permissions:
                  type: integer
                  description: Specifies the user role as an integer value, as described in [User Roles](doc:roles#user-roles). If omitted, the system applies the Basic [16] user role by default.
                  format: int32
                name:
                  type: string
                  description: Specifies the name of the user (for example, first and last name).
                email:
                  type: string
                  description: 'Specifies the email address of the user. A valid email address must be in the format `name@domain`, where `domain` corresponds to a domain approved for your Tenable Vulnerability Management instance. Administrators can create users with an email address that has a domain outside of the approved domains.


                    This email address overrides the email address set in `username`. If omitted, the system uses the `username` value as the user''s email address.


                    **Note:** During initial setup, Tenable configures approved domains for your Vulnerability Management instance. To add domains to your instance, contact Tenable Support.'
              required:
              - username
              - password
      responses:
        '200':
          description: Returned if the user account was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_user-object'
              examples:
                response:
                  value:
                    uuid: d748ab37-f2cf-461c-8648-a8328c0f483e
                    id: 2276957
                    user_name: user4@example.com
                    username: user4@example.com
                    email: user4@example.com
                    name: User Four
                    type: local
                    container_uuid: f8973c82-01a7-4aee-9754-4a61e3b3e70e
                    permissions: 32
                    login_fail_count: 0
                    login_fail_total: 0
                    enabled: true
                    lockout: 0
                    uuid_id: d748ab37-f2cf-461c-8648-a8328c0f483e
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to create a user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
    get:
      summary: List users
      description: Returns a list of users.<div class="perms-callout">Requires the Basic [16] user role. If the requesting user has the Administrator [64] user role, Tenable Vulnerability Management returns all attributes for individual user details. Otherwise, user details include only the `uuid`, `id`, `username`, and `email` attributes. See [Roles](doc:roles).</div>
      operationId: users-list
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies whether to include role-based access control (RBAC) role information in the response. If `true`, the system includes an `rbac_roles` array for each user containing the name and UUID of their assigned role. If omitted, the system uses the default value of `false`.
        required: false
        name: withRoles
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Returned if the list of users was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                description: An object containing an array of user objects.
                properties:
                  users:
                    $ref: '#/components/schemas/Access_Control_Users_users'
              examples:
                response:
                  value:
                    users:
                    - uuid: 0d67d2fa-558c-4f89-b506-41b4b73101e1
                      id: 2247978
                      user_name: admin@example.com
                      username: admin@example.com
                      email: admin@example.com
                      name: Admin User
                      type: local
                      permissions: 64
                      rbac_roles:
                      - name: Administrator
                        uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      ui_permitted: true
                      ui_saml_only: false
                      api_permitted: true
                      last_login_attempt: 1641369870871
                      login_fail_count: 0
                      login_fail_total: 5
                      last_apikey_access: 1782787386952
                      enabled: true
                      undeletable: true
                      group_uuids:
                      - f3cd0bb2-cabb-4825-9d0c-49c77fe5fba7
                      - 00000000-0000-0000-0000-000000000000
                      lockout: 0
                      preferences:
                        enableExplore: 'true'
                        defaultApp: 'null'
                        enableWebAppWorkbench: 'false'
                        pinnedExposureInitiatives: '[]'
                        enableAssetWorkbench: 'false'
                        enableVMWorkbench: 'false'
                        enableExploreV2: 'false'
                        tenableGridState: 'null'
                      container_uuid: f8973c82-01a7-4aee-9754-4a61e3b3e70e
                      lastlogin: 1727938102779
                      uuid_id: 0d67d2fa-558c-4f89-b506-41b4b73101e1
                    - uuid: 1eddf745-7f6b-440a-90c6-df88efe2cf77
                      id: 2276956
                      user_name: user2@example.com
                      username: user2@example.com
                      email: user2@example.com
                      name: User Two
                      type: local
                      permissions: 40
                      rbac_roles:
                      - name: Scan Manager
                        uuid: b2c3d4e5-f6a7-8901-bcde-f12345678901
                      ui_permitted: true
                      ui_saml_only: false
                      api_permitted: true
                      last_login_attempt: 1584354906000
                      login_fail_count: 0
                      login_fail_total: 1
                      enabled: false
                      undeletable: false
                      group_uuids:
                      - 2d5c70da-b177-43ed-8325-a25a846c8977
                      - 00000000-0000-0000-0000-000000000000
                      lockout: 0
                      preferences:
                        enableExplore: 'true'
                        defaultApp: 'null'
                        enableWebAppWorkbench: 'false'
                        pinnedExposureInitiatives: '[]'
                        enableAssetWorkbench: 'false'
                        enableVMWorkbench: 'false'
                        enableExploreV2: 'false'
                        tenableGridState: 'null'
                      container_uuid: f8973c82-01a7-4aee-9754-4a61e3b3e70e
                      uuid_id: 1eddf745-7f6b-440a-90c6-df88efe2cf77
                    - uuid: d748ab37-f2cf-461c-8648-a8328c0f483e
                      id: 2347290
                      user_name: user3@example.com
                      username: user3@example.com
                      email: user3@example.com
                      type: local
                      permissions: 16
                      rbac_roles:
                      - name: Custom Role
                        uuid: c3d4e5f6-a7b8-9012-cdef-234567890abc
                      ui_permitted: true
                      ui_saml_only: false
                      api_permitted: true
                      login_fail_count: 0
                      login_fail_total: 0
                      enabled: true
                      undeletable: false
                      group_uuids:
                      - 00000000-0000-0000-0000-000000000000
                      lockout: 0
                      preferences:
                        enableExplore: 'true'
                        defaultApp: 'null'
                        enableWebAppWorkbench: 'false'
                        pinnedExposureInitiatives: '[]'
                        enableAssetWorkbench: 'false'
                        enableVMWorkbench: 'false'
                        enableExploreV2: 'false'
                        tenableGridState: 'null'
                      container_uuid: f8973c82-01a7-4aee-9754-4a61e3b3e70e
                      lastlogin: 1763122889995
                      uuid_id: d748ab37-f2cf-461c-8648-a8328c0f483e
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to view the list of users.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}:
    get:
      summary: Get user details
      description: Returns details for a specific user.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: users-details
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the UUID (`uuid`) or unique ID (`id`) of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returned if the user details were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_user-object'
              examples:
                response:
                  value:
                    uuid: 60f73e4f-8983-41c2-a13c-39074cbb6229
                    id: 2247978
                    user_name: user@example.com
                    username: user@example.com
                    email: user@example.com
                    name: User One
                    type: local
                    permissions: 64
                    last_login_attempt: 1641369870871
                    login_fail_count: 0
                    login_fail_total: 5
                    last_apikey_access: 1782787386952
                    enabled: true
                    undeletable: true
                    group_uuids:
                    - f3cd0bb2-cabb-4825-9d0c-49c77fe5fba7
                    - 00000000-0000-0000-0000-000000000000
                    lockout: 0
                    preferences:
                      enableExplore: 'true'
                      defaultApp: 'null'
                      enableWebAppWorkbench: 'false'
                      pinnedExposureInitiatives: '[]'
                      tenableGridState: '{"Settings_User_Group_Users":{"columns":{"user_name":{"hide":false,"sort":null,"sortIndex":null,"order":1},"name":{"hide":false,"sort":null,"sortIndex":null,"order":2},"twoFactor":{"hide":false,"sort":null,"sortIndex":null,"order":3},"lastlogin":{"hide":false,"sort":null,"sortIndex":null,"order":4},"last_login_attempt":{"hide":false,"sort":null,"sortIndex":null,"order":5},"login_fail_total":{"hide":false,"sort":null,"sortIndex":null,"order":6},"last_apikey_access":{"hide":false,"sort":null,"sortIndex":null,"order":7},"role":{"hide":false,"sort":null,"sortIndex":null,"order":8}}}}'
                      enableAssetWorkbench: 'false'
                      enableVMWorkbench: 'false'
                      enableExploreV2: 'false'
                    container_uuid: 270f77d7-3b5b-478c-ac06-be827c00753e
                    lastlogin: 1727938102779
                    uuid_id: 60f73e4f-8983-41c2-a13c-39074cbb6229
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to view the user details.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
    put:
      summary: Update user
      description: Updates an existing user account.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: users-edit
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the UUID (`uuid`) or unique ID (`id`) of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: integer
                  description: Specifies the user role as an integer value, as described in [User Roles](doc:roles#user-roles).
                  format: int32
                name:
                  type: string
                  description: Specifies the name of the user (for example, first and last name).
                email:
                  type: string
                  description: 'Specifies the email address of the user. A valid email address must be in the format `name@domain`, where `domain` corresponds to a domain approved for your Tenable Vulnerability Management instance. However, a user can update their own `email` property value to have an unapproved domain if an administrator has already approved the domain for that particular user.


                    This email address overrides the email address set in `username`. If omitted, the system uses the `username` value as the user''s email address.


                    **Note:** During initial setup, Tenable configures approved domains for your Vulnerability Management instance. To add domains to your instance, contact Tenable Support.'
                enabled:
                  type: boolean
                  description: Specifies whether the user's account is enabled (`true`) or disabled (`false`).
      responses:
        '200':
          description: Returned if the user was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_user-object'
              examples:
                response:
                  value:
                    uuid: 1eddf745-7f6b-440a-90c6-df88efe2cf77
                    id: 4
                    user_name: user3@example.com
                    username: user3@example.com
                    email: user3@example.com
                    name: Test User
                    type: local
                    container_uuid: f8973c82-01a7-4aee-9754-4a61e3b3e70e
                    permissions: 32
                    login_fail_count: 0
                    login_fail_total: 0
                    enabled: false
                    lockout: 0
                    uuid_id: 1eddf745-7f6b-440a-90c6-df88efe2cf77
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to update a user.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '409':
          description: Returned if you attempt to change your own account's enabled or disabled status.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
    delete:
      summary: Delete user
      description: Deletes a user.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: users-delete
      tags:
      - Access Control (Users)
      parameters:
      - description: The unique identifier (UUID) of the user to delete.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      - description: 'Specifies the unique identifier (UUID) of the user to assign the deleted user''s objects to.


          **Note:** Web App Scanning scans created by the deleted user are not automatically reassigned. Reassign WAS scans manually before deleting the user.'
        name: successor_user_uuid
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returned if the user was deleted successfully.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to delete the specified user.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '409':
          description: Returned if you attempt to delete your own account.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /access-control/v1/users/{user_uuid}/roles:
    get:
      summary: Get user role
      description: Returns the user role assigned to the specified user. <div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: access-control-users-role-list
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) of the user whose role you want to retrieve.
        required: true
        name: user_uuid
        in: path
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returned if the role for the specified user was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_Object-User-Role'
              examples:
                response:
                  value:
                    container_uuid: 9b42306b-3ebb-451d-a250-0a1985509880
                    user_uuid: e02cad91-e3a6-4608-9145-7d4ece06e928
                    role_uuids:
                    - 7a26f80f-732c-4a2e-b962-d1d9b9511030
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to retrieve the user's role.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
    put:
      summary: Change user role
      description: Changes the role for the specified user. <div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: access-control-users-role-update
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) of the user whose role you want to change.
        required: true
        name: user_uuid
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_uuids:
                  description: 'Specifies the unique identifier (UUID) of the role to assign to the user.


                    **Note:** Although `role_uuids` is defined as an array, you can only provide one role UUID.'
                  type: array
                  minItems: 1
                  maxItems: 1
                  items:
                    type: string
                    format: uuid
              required:
              - role_uuids
      responses:
        '200':
          description: Returned if the user role was changed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_Object-User-Role'
              examples:
                response:
                  value:
                    container_uuid: 9b42306b-3ebb-451d-a250-0a1985509880
                    user_uuid: e02cad91-e3a6-4608-9145-7d4ece06e928
                    role_uuids:
                    - 7a26f80f-732c-4a2e-b962-d1d9b9511030
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to change the user's role.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_uuid}/chpasswd:
    put:
      summary: Change password
      description: "Changes the password for the specified user. \n\nIf you reset a user's password, Tenable Vulnerability Management automatically resets the user's `login_fail_count` and `lockout` attributes to `0`. If you specify that the password is temporary, the user will be forced to reset their password upon next login.<div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>"
      operationId: users-password
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) of the user whose password you want to change.
        required: true
        name: user_uuid
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: Specifies the new password for the user. Passwords must be at least 12 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character symbol.
                  format: password
                temporary:
                  type: boolean
                  description: Specifies whether the password is temporary (`true`) or permanent (`false`). If `true`, the user is forced to reset their password upon next login. If omitted, the system uses the default value of `false`.
              required:
              - password
      responses:
        '200':
          description: Returned if the user password was changed successfully.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted. For example, if the new password is too short.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to change the user's password.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}/enabled:
    put:
      summary: Enable or disable user account
      description: Enables or disables an existing user account.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: users-enabled
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) or unique ID of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Specifies whether to enable (`true`) or disable (`false`) the user account.
              required:
              - enabled
      responses:
        '200':
          description: Returned if the user account status was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_user-object'
              examples:
                response:
                  value:
                    object: user
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to update a user.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '409':
          description: Returned if you attempt to enable or disable your own account.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}/authorizations:
    get:
      summary: Get user authorizations
      description: 'Returns user authorizations for accessing a Tenable Vulnerability Management instance. Access methods include user name and password, single sign-on (SSO) with SAML, and API.

        **Note:** All access methods are authorized by default.


        For background information about managing user authorizations, see [Manage User Access Authorizations](https://docs.tenable.com/vulnerability-management/Content/Settings/access-control/ManageUserAccessAuthorizations.htm) in the Tenable Vulnerability Management User Guide.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>'
      operationId: users-list-auths
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) of the user. To determine the user UUID, use the [GET /users](ref:users-list) endpoint.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returned if the user authorizations was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_authorizations'
              examples:
                response:
                  value:
                    account_uuid: 6c8ffd08-53dc-493e-9823-9f99d4adeab4
                    user_uuid: 4a5e55d6-fd20-465d-9a29-0f1f166d0f49
                    api_permitted: true
                    password_permitted: false
                    saml_permitted: true
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse-Error'
              examples:
                response:
                  value:
                    error: User[UUID=6ab5bc4a-f829-483d-ae75-57c36bb2febd] not found.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
    put:
      summary: Update user authorizations
      description: 'Updates user authorizations for accessing a Tenable Vulnerability Management instance. Use the endpoint to grant and revoke authorizations.


        **Note:** You cannot update authorizations for the current user.


        For background information about managing user authorizations, see [Manage User Access Authorizations](https://docs.tenable.com/vulnerability-management/Content/Settings/access-control/ManageUserAccessAuthorizations.htm) in the Tenable Vulnerability Management User Guide.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>'
      operationId: users-update-auths
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) of the user. To determine the user UUID, use the [GET /users](ref:users-list) endpoint.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Access_Control_Users_authorizations_update'
      responses:
        '204':
          description: Returned if Tenable Vulnerability Management successfully updated the specified user's authorizations.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse-Error'
              examples:
                response:
                  value:
                    error: "Unexpected character ('}' (code 125)): was expecting double-quote to start field name\n at [(String)\"{\r\n\"api_permitted\" : true,\r\n}\"; line: 3, column: 2]"
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse-Error'
              examples:
                response:
                  value:
                    error: User[UUID=6ab5bc4a-f829-483d-ae75-57c36bb2febd] not found.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}/keys:
    put:
      summary: Generate API keys
      description: Generates the API keys for a user.<div class="perms-callout">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>
      operationId: users-keys
      tags:
      - Access Control (Users)
      x-readme:
        explorer-enabled: false
      parameters:
      - description: Specifies the unique identifier (UUID) or unique ID of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returned if the API keys for the specified user were generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_keys'
              examples:
                response:
                  value:
                    accessKey: 26e07fb07181cf86e1bc7a240ce398645cf2bb80bbbefc178f100d6f5ffc067d
                    secretKey: 4be00decc6ea29e65d2910f1d54d23c14190a267285de4b05a481b1e6d3f0fd6
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to generate API keys for the user.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}/two-factor/send-verification:
    post:
      summary: Send verification code
      description: "Sends a one-time verification code to the user's phone number to start the process of enabling two-factor authentication.\n\n **Note:** The workflow for two-factor authentication is as follows:<ol><li>[Send a verification code](ref:users-two-factor-enable).</li><li>[Validate the verification code](ref:users-two-factor-enable-verify).</li><li>[Configure two-factor authentication](ref:users-two-factor).</li></ol><div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>"
      operationId: users-two-factor-enable
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) or unique ID of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sms_phone:
                  type: string
                  description: Specifies the phone number where Tenable Vulnerability Management sends the one-time verification code. Must begin with the `+` character and the country code.
              required:
              - sms_phone
      responses:
        '200':
          description: Returned if the one-time verification code was sent successfully to the specified phone number.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
          content:
            application/json:
              examples:
                response:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "sms_phone" fails because ["sms_phone" with value "11231234567" fails to match the required pattern: /^(\+1[2-9][0-8]\d[2-9]\d{6}|\+[1-9]\d{1,14})$/]'
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}/two-factor/verify-code:
    post:
      summary: Validate verification code
      description: "Validate the verification code sent to a phone number. If this request is successful, it enables two-factor authentication for the specified user.\n\n **Note:** The workflow for two-factor authentication is as follows:<ol><li>[Send a verification code](ref:users-two-factor-enable).</li><li>[Validate the verification code](ref:users-two-factor-enable-verify).</li><li>[Configure two-factor authentication](ref:users-two-factor).</li></ol><div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>"
      operationId: users-two-factor-enable-verify
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) or unique ID of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                verification_code:
                  type: string
                  description: Specifies the verification code sent in the send-verification request.
              required:
              - verification_code
      responses:
        '200':
          description: Returned if the verification code and enabled two-factor authentication was validated successfully.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '400':
          description: Returned if your request specified invalid parameters, if your request was improperly formatted, or if the verification code was empty, incorrect, or expired.
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
  /users/{user_id}/two-factor:
    put:
      summary: Configure two-factor authentication
      description: "Enables or disables a user's two-factor authentication settings.\n\n **Note:** The workflow for two-factor authentication is as follows:<ol><li>[Send a verification code](ref:users-two-factor-enable).</li><li>[Validate the verification code](ref:users-two-factor-enable-verify).</li><li>[Configure two-factor authentication](ref:users-two-factor).</li></ol><div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>"
      operationId: users-two-factor
      tags:
      - Access Control (Users)
      parameters:
      - description: Specifies the unique identifier (UUID) or unique ID of the user.
        required: true
        name: user_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_enabled:
                  type: boolean
                  description: Specifies whether backup email notification for two-factor authentication is enabled (`true`) or disabled (`false`). If enabled, Tenable Vulnerability Management sends the two-factor verification code via email in addition to the SMS message.
                sms_enabled:
                  type: boolean
                  description: Specifies whether SMS two-factor authentication is enabled (`true`) or disabled (`false`). If enabled, the system sends the verification code via SMS. This parameter must be `true` to enable two-factor authentication for the user.
                sms_phone:
                  type: string
                  description: Specifies the phone number to use for two-factor authentication. Must begin with the `+` character and the country code. Required when `sms_enabled` is `true`.
                  example: '+155555555555'
              required:
              - email_enabled
              - sms_enabled
              - sms_phone
      responses:
        '200':
          description: Returned if the two-factor authentication for the specified user was updated successfully.
          content:
            application/json:
              schema: {}
              examples:
                response:
                  value: {}
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Invalid credentials.
        '404':
          description: Returned if Tenable Vulnerability Management cannot find the specified user.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Access_Control_Users_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Access_Control_Users_cloud: []
components:
  schemas:
    Access_Control_Users_ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          description: The HTTP status code of the error.
        error:
          type: integer
          description: The standard HTTP error name.
        message:
          type: string
          description: A brief message about the cause of the error.
    Access_Control_Users_keys:
      type: object
      properties:
        accessKey:
          type: string
          description: The access key for the user account in Tenable Vulnerability Management. Use this key in combination with the user's secret key to submit authorized API requests to Tenable Vulnerability Management.
        secretKey:
          type: string
          description: The secret key for the user account in Tenable Vulnerability Management. Use this key in combination with the user's access key to submit authorized API requests to Tenable Vulnerability Management.
    Access_Control_Users_authorizations_update:
      type: object
      description: An object specifying the authorization settings to apply to the user. Set each property to `true` to grant the authorization or `false` to revoke it.
      properties:
        api_permitted:
          type: boolean
          description: Specifies whether API key authentication is authorized for the user.
        password_permitted:
          type: boolean
          description: Specifies whether username and password login is authorized for the user.
        saml_permitted:
          type: boolean
          description: Specifies whether SSO with SAML is authorized for the user.
        mfa_enrollment_required:
          type: boolean
          description: Specifies whether two-factor authentication enrollment is required for the user.
      required:
      - api_permitted
      - password_permitted
      - saml_permitted
    Access_Control_Users_users:
      type: array
      description: An array of user objects.
      items:
        $ref: '#/components/schemas/Access_Control_Users_user-object'
    Access_Control_Users_Object-User-Role:
      type: object
      properties:
        container_uuid:
          description: The UUID of the container in which the user's account is located.
          type: string
          format: uuid
        user_uuid:
          description: The UUID of the user.
          type: string
          format: uuid
        role_uuids:
          description: The UUID of the role assigned to the user.
          type: array
          items:
            type: string
    Access_Control_Users_ErrorResponse-Error:
      type: object
      properties:
        error:
          type: string
          description: A brief description of the error.
    Access_Control_Users_authorizations:
      type: object
      properties:
        account_uuid:
          type: string
          description: The UUID of the container.
          format: uuid
        user_uuid:
          type: string
          description: The UUID of the user.
          format: uuid
        api_permitted:
          type: boolean
          description: Indicates whether API access is authorized for the user.
        password_permitted:
          type: boolean
          description: Indicates whether user name and password login is authorized for the user.
        saml_permitted:
          type: boolean
          description: Indicates whether SSO with SAML is authorized for the user.
    Access_Control_Users_user-object:
      type: object
      properties:
        uuid:
          type: string
          description: The UUID of the user.
        id:
          type: integer
          description: The unique ID of the user.
        user_name:
          type: string
          description: The username for the user.
        username:
          type: string
          description: The username for the user.
        email:
          type: string
          description: The email address of the user. If this attribute is empty, Tenable Vulnerability Management uses the `username` value as the user's email address.
        name:
          type: string
          description: The name of the user (for example, first and last name).
        type:
          type: string
          description: The type of user. The only supported type is `local`.
        permissions:
          type: integer
          description: The user permissions as described in [Permissions](doc:permissions).
          format: int32
        rbac_roles:
          type: array
          description: The role-based access control (RBAC) roles assigned to the user. This property is only present in the response when the `withRoles` query parameter is set to `true`. For more information, see [Roles](doc:roles).
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the role assigned to the user.
              uuid:
                type: string
                format: uuid
                description: The unique identifier (UUID) of the role assigned to the user.
        ui_permitted:
          type: boolean
          description: Indicates whether the user is permitted to log in to the Tenable Vulnerability Management user interface.
        ui_saml_only:
          type: boolean
          description: Indicates whether the user is restricted to SAML-based authentication for user interface access (`true`) or can use other authentication methods (`false`).
        api_permitted:
          type: boolean
          description: Indicates whether the user is permitted to authenticate using API keys.
        last_login_attempt:
          type: integer
          description: A timestamp in Unix milliseconds indicating the last time the user failed to log in to the Tenable Vulnerability Management user interface. This attribute is only present if the user has attempted unsuccessfully to log in at least once.
        login_fail_count:
          type: integer
          description: "The number of failed login attempts since the user last successfully logged in to the Tenable Vulnerability Management user interface. \n\nIf this attribute is greater than 5, Tenable Vulnerability Management locks the user account (that is, updates the `lockout` attribute for the user to `1`.)\n\nYou can reset this count to `0` by [changing the user's password](ref:users-password) or [generating the user's API keys](ref:users-keys)."
        login_fail_total:
          type: integer
          description: The total number of failed login attempts for the user.
        last_apikey_access:
          type: integer
          description: A timestamp in Unix milliseconds indicating the last time the user authenticated using API keys. This property is only present if the user has made at least one API key-authenticated request.
        enabled:
          type: boolean
          description: Specifies whether the user account is enabled (`true`) or disabled (`false`).
        undeletable:
          type: boolean
          description: Specifies whether the user account is undeletable (`true`) or deletable (`false`).
        two_factor:
          description: An object containing the user's two-factor authentication settings. This property is only present if the user has two-factor authentication configured.
          $ref: '#/components/schemas/Access_Control_Users_TwoFactor'
        group_uuids:
          type: array
          description: The unique identifiers (UUIDs) of the user groups to which the user belongs.
          items:
            type: string
            format: uuid
        lockout:
          type: integer
          description: 'Specifies whether the user can log into the Tenable Vulnerability Management user interface (`0`) or is locked out (`1`).


            Tenable Vulnerability Management automatically updates this attribute to `1` if the `login_fail_count` attribute for the user is greater than 5. To unlock a user account, reset the user''s password using the [PUT /users/{user_id}/chpasswd](ref:users-password) endpoint.


            **Note:** A user can be locked out of the user interface but still submit API requests if they are assigned the appropriate authorizations (`api_permitted`). To prevent a user from submitting API requests, limit authorizations using the [PUT /users/{user_id}/authorizations](ref:users-update-auths) endpoint, or disable the user entirely using the [PUT /users/{user_id}/enabled](ref:users-enabled) endpoint.'
        container_uuid:
          type: string
          description: The UUID of the Tenable Vulnerability Management instance to which the user belongs.
        lastlogin:
          type: integer
          description: A timestamp in Unix milliseconds indicating the last time the user successfully logged in to the Tenable Vulnerability Management user interface. This attribute is only present if the user has logged in successfully at least once.
        preferences:
          type: object
          description: An object containing the user's saved UI preferences for the Tenable Vulnerability Management interface, such as enabled features and column visibility settings. The properties of this object vary based on the user's configuration.
          additionalProperties:
            type: string
        uuid_id:
          type: string
          description: The UUID for the user.
    Access_Control_Users_TwoFactor:
      type: object
      properties:
        sms_phone:
          type: string
          description: The phone number used for two-factor authentication. The phone number begins with the `+` character and the country code. This field is required when sms_enabled is set to `true`.
        sms_enabled:
          type: integer
          description: Indicates whether two-factor authentication is enabled (`1`) or disabled (`0`).
        email_enabled:
          type: integer
          description: Indicates whether backup notification for two-factor authentication is enabled (`1`) or disabled (`0`). If enabled, Tenable Vulnerability Management sends the two-factor verification code via e-mail, as well as via the default SMS message.
  securitySchemes:
    Bearer:
      type: apiKey
      in: header
      name: Authorization
      description: 'Example: Bearer {{token}}'
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
  samples-languages:
  - python
  - curl
  - node
  - powershell
  - ruby
  - javascript
  - objectivec
  - java
  - php
  - csharp
  - go
  - swift
  - kotlin
