openapi: 3.0.0
info:
  version: 1.0.0
  title: Downloads About Inventory API
  description: 'The Downloads API enables customers to access and download installation and update files for available Tenable products. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download the latest version of a file to facilitate the automation of an installation.


    **Note:** The Tenable Downloads API uses a different server URL than the Tenable Vulnerability Management API:


    `https://www.tenable.com/downloads/api/v2/pages`.


    ### Authentication


    Like the Downloads website, certain files require authentication to download. When files have a `"requires_auth": true` attribute on the product list page, the Downloads API uses bearer token authentication and requires a valid token in the Authorization header to download the file:

    ```

    Authorization: Bearer AbCdEf123456

    ```


    To access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api-docs) page.


    Examples of product downloads that **do not** require authentication include Nessus and Nessus Agents.'
servers:
- url: https://www.tenable.com/downloads/api/v2
security:
- Bearer: []
tags:
- name: Inventory
  description: The Tenable Inventory API enables users to search for their organization's assets and the software installed on those assets. Additionally, API endpoints are provided to retrieve a list of asset and software properties that can be used as filters on endpoints that support them. For more information, see [Inventory](https://docs.tenable.com/exposure-management/Content/exposure-management/inventory/inventory.htm) in the _Tenable Exposure Management User Guide_.
  x-displayName: Inventory
paths:
  /api/v1/t1/inventory/assets/search:
    post:
      summary: Search assets
      operationId: inventory-assets-search
      description: 'Returns a list of assets in your organization that match the specified search criteria.


        **Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class="perms-callout">Requires the Basic [16] user role or the `ASSET_INVENTORY.CYBER_ASSET_MANAGEMENT.READ` and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>'
      tags:
      - Inventory
      parameters:
      - description: "Specifies extra asset properties to include in the search results. You can provide multiple properties as a comma-separated list. \n\nUse the [List asset properties](ref:inventory-asset-properties-list) endpoint to retrieve a list of valid properties for this parameter. For example, you might include `created_at`, `sources`, and `fqdns` as extra properties."
        explode: true
        in: query
        name: extra_properties
        required: false
        schema:
          example: prop1,prop2,prop3
          pattern: ^[a-zA-Z0-9_]+(,[a-zA-Z0-9_]+)*$
          type: string
        style: form
      - description: The starting record to retrieve. If omitted, the default value is `0`.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of records to retrieve. If omitted, the default value is `1000`. The maximum value is `1000`.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          type: integer
          maximum: 1000
        style: form
      - description: 'The property and direction to sort the results by, in the format `property:direction`. For example: `asset_name:asc` or `acr:desc`'
        example: acr:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          pattern: ^[a-zA-Z0-9_]+:(asc|desc)$
          type: string
          default: aes:desc
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Inventory_Request-Search-Assets'
        required: true
      responses:
        '200':
          description: Returned if the list of assets was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_Response-Search-Assets'
              examples:
                response:
                  value:
                    data:
                    - id: 309f87d2-9234-54a7-973f-0526600b4e91
                      asset_class: ACCOUNT
                      name: Administrator
                      aes: 936
                      acr: 10
                      extra_properties:
                        created_at: '2025-03-01T13:20:22.166Z'
                        sources:
                        - T.IO
                        - TIE AD
                    - id: dcff2953-c93a-49a1-adbb-c387267a0995
                      asset_class: DEVICE
                      name: srv2
                      aes: 883
                      acr: 8
                      extra_properties:
                        created_at: '2025-03-13T13:25:11.706Z'
                        sources:
                        - T.IO
                        - TIE AD
                        fqdns:
                        - srv2.example.com
                    - id: af440e24-f0ae-4db7-aea8-24b2a126910a
                      asset_class: DEVICE
                      name: srv
                      aes: 876
                      acr: 8
                      extra_properties:
                        created_at: '2025-03-03T21:28:24.202Z'
                        sources:
                        - T.IO
                        - TIE MEID
                        fqdns: []
                    - id: bf675b12-05ee-474a-9126-0acc73d5a3de
                      asset_class: DEVICE
                      name: adcon
                      aes: 875
                      acr: 8
                      extra_properties:
                        created_at: '2025-03-07T01:08:06.783Z'
                        sources:
                        - T.IO
                        - TIE MEID
                        fqdns: []
                    - id: 10242d53-8d66-5d85-8a3b-04877c20b139
                      asset_class: DEVICE
                      name: 'comm. adapter #13901'
                      aes: 841
                      acr: 7
                      extra_properties:
                        created_at: '2024-06-24T19:12:17.422Z'
                        sources:
                        - T.OT
                        fqdns: []
                    - id: 6dc3c256-22ce-53b8-a7ba-8fde481b5803
                      asset_class: DEVICE
                      name: sith
                      aes: 839
                      acr: 10
                      extra_properties:
                        created_at: '2024-02-14T17:09:33.771Z'
                        sources:
                        - T.OT
                        fqdns: []
                    - id: 89148da3-0dbb-56a3-824c-2cc6bef8e042
                      asset_class: DEVICE
                      name: a10_l71
                      aes: 839
                      acr: 7
                      extra_properties:
                        created_at: '2024-06-24T14:12:22.852Z'
                        sources:
                        - T.OT
                        fqdns: []
                    - id: 2548c060-6e2e-526b-9657-2d5fe776acaa
                      asset_class: DEVICE
                      name: Example Name
                      aes: 836
                      acr: 10
                      extra_properties:
                        created_at: '2024-06-24T14:12:20.665Z'
                        sources:
                        - T.OT
                        fqdns: []
                    - id: bdc262d2-a92b-5244-b23e-8d4fff081835
                      asset_class: DEVICE
                      name: Example Name 2
                      aes: 833
                      acr: 10
                      extra_properties:
                        created_at: '2024-02-14T17:09:27.900Z'
                        sources:
                        - T.OT
                        fqdns: []
                    - id: cb927ee0-3e0f-5bac-9b65-0c87bad0b700
                      asset_class: DEVICE
                      name: Example Name 3
                      aes: 820
                      acr: 10
                      extra_properties:
                        created_at: '2024-02-14T17:09:10.502Z'
                        sources:
                        - T.OT
                        fqdns: []
                    pagination:
                      total: 100
                      offset: 0
                      limit: 10
                      sort:
                        name: aes
                        order: desc
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse-400'
              examples:
                response:
                  value:
                    message: Requested EXAMPLE not found
                    status: 400
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse'
              examples:
                response:
                  value:
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to search assets.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Inventory_cloud: []
  /api/v1/t1/inventory/findings/search:
    post:
      summary: Search findings
      operationId: inventory-findings-search
      description: 'Returns a list of findings in your organization that match the specified search criteria.


        **Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class="perms-callout">Requires the Basic [16] user role or the `ASSET_INVENTORY.CYBER_ASSET_MANAGEMENT.READ` and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>'
      tags:
      - Inventory
      parameters:
      - description: "Specifies extra findings properties to include in the search results. You can provide multiple properties as a comma-separated list. \n\nUse the [List finding properties](ref:inventory-finding-properties-list) endpoint to retrieve a list of valid properties for this parameter. For example, you might include `asset_name`, `solution`, and `vpr_score` as extra properties."
        explode: true
        in: query
        name: extra_properties
        required: false
        schema:
          example: prop1,prop2,prop3
          pattern: ^[a-zA-Z0-9_]+(,[a-zA-Z0-9_]+)*$
          type: string
        style: form
      - description: The starting record to retrieve. If omitted, the default value is `0`.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of records to retrieve. If omitted, the default value is `1000`. The maximum value is `10000`.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 10000
          type: integer
        style: form
      - description: 'The property and direction to sort the results by, in the format `property:direction`. For example: `finding_name:asc` or `severity:desc`'
        example: severity:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          pattern: ^[a-zA-Z0-9_]+:(asc|desc)$
          type: string
          default: severity:desc
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Inventory_Request-Search-Findings'
        required: true
      responses:
        '200':
          description: Returned if the list of findings was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_Response-Search-Findings'
              examples:
                response:
                  value:
                    data:
                    - id: 0040b719-9b8a-4fbc-b4ce-15461d2f831b
                      name: 'KB4497932: Security update for Adobe Flash Player (May 2019)'
                      asset_id: fd58d73f-0ade-4004-910c-e4a927f7486f
                      state: ACTIVE
                      severity: MEDIUM
                      extra_properties:
                        detection_id: NESSUS:125068
                        asset_name: sql1
                    - id: 0069ea2d-a682-4f01-aec0-3c210fc51912
                      name: 'MS17-009: Security Update for Microsoft Windows PDF Library (4010319)'
                      asset_id: fd58d73f-0ade-4004-910c-e4a927f7486f
                      state: ACTIVE
                      severity: MEDIUM
                      extra_properties:
                        detection_id: NESSUS:97731
                        asset_name: sql1
                    - id: 00ed588c-09f5-4b6d-99d3-e318f7fbbb61
                      name: 'KB5001382: Windows 8.1 and Windows Server 2012 R2 Security Update (Apr 2021)'
                      asset_id: fd58d73f-0ade-4004-910c-e4a927f7486f
                      state: ACTIVE
                      severity: MEDIUM
                      extra_properties:
                        detection_id: NESSUS:148477
                        asset_name: sql1
                    - id: 00fcaf1f-ac6f-40d8-ae3d-d23419b3f4a7
                      name: 'KB4034662: Security update for Adobe Flash Player (August 2017)'
                      asset_id: fd58d73f-0ade-4004-910c-e4a927f7486f
                      state: ACTIVE
                      severity: MEDIUM
                      extra_properties:
                        detection_id: NESSUS:102266
                        asset_name: sql1
                    - id: 0147a29d-ad5c-5035-bb09-6398a17e9b8e
                      name: securityHubEnabled
                      asset_id: 40be10a4-2681-5285-b62f-56b6e858ff8c
                      state: ACTIVE
                      severity: MEDIUM
                      extra_properties:
                        detection_id: CS:AC_AWS_0631
                        asset_name: ap-southeast-2
                    - id: 01574e2c-785b-50eb-b64a-c12f7c4afdff
                      name: securityHubEnabled
                      asset_id: 1046e6bd-8ebc-56db-ae06-1d28d597420b
                      state: ACTIVE
                      severity: MEDIUM
                      extra_properties:
                        detection_id: CS:AC_AWS_0631
                        asset_name: eu-central-1
                    pagination:
                      total: 100
                      offset: 0
                      limit: 10
                      sort:
                        name: id
                        order: asc
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse-400'
              examples:
                response:
                  value:
                    message: Requested EXAMPLE not found
                    status: 400
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse'
              examples:
                response:
                  value:
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to search findings.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Inventory_cloud: []
  /api/v1/t1/inventory/software/search:
    post:
      summary: Search software
      operationId: inventory-software-search
      description: 'Returns a list of software installed on your assets that match the specified search criteria.


        **Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class="perms-callout">Requires the Basic [16] user role or the `ASSET_INVENTORY.CYBER_ASSET_MANAGEMENT.READ` and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>'
      tags:
      - Inventory
      parameters:
      - description: "Specifies extra software properties include in the search results. You can provide multiple properties as a comma-separated list. \n\nUse the [List software properties](ref:inventory-software-properties-list) endpoint to retrieve a list of valid properties for this parameter. For example, you might include `cpe`, `version`, and `file_location` as extra properties."
        explode: true
        in: query
        name: extra_properties
        required: false
        schema:
          example: prop1,prop2,prop3
          pattern: ^[a-zA-Z0-9_]+(,[a-zA-Z0-9_]+)*$
          type: string
        style: form
      - description: The starting record to retrieve. If omitted, the default value is `0`.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of records to retrieve. If omitted, the default value is `1000`. The maximum value is `1000`.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      - description: 'The property and direction to sort the results by, in the format `property:direction`. For example: `application:asc` or `version:desc`'
        example: application:asc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          pattern: ^[a-zA-Z0-9_]+:(asc|desc)$
          type: string
          default: application:asc
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Inventory_Request-Search-Software'
        required: true
      responses:
        '200':
          description: Returned if the list of installed software was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_Response-Search-Software'
              examples:
                response:
                  value:
                    data:
                    - application: .net_core
                      publisher: microsoft
                      type:
                      - APPLICATION
                      devices_count: 4
                      extra_properties:
                        cpe: cpe:2.3:a:microsoft:.net_core:6.0.16.32323:*:*:*:*:*:*:*
                        version: 6.0.16.32323
                        file_location: C:\Program Files\dotnet\shared\Microsoft.NetCore.App\6.0.16\
                    - application: .net_core_windows
                      publisher: Any
                      type:
                      - APPLICATION
                      devices_count: 1
                      extra_properties:
                        cpe: cpe:2.3:*:*:.net_core_windows:6.0.2.30914:*:*:*:*:*:*:-
                        version: 6.0.2.30914
                        file_location: C:\Program Files\dotnet\shared\Microsoft.NetCore.App\6.0.2\
                    - application: .net_framework
                      publisher: microsoft
                      type:
                      - APPLICATION
                      devices_count: 19
                      extra_properties:
                        cpe: cpe:2.3:a:microsoft:.net_framework:4.8.9277.0:*:*:*:*:*:*:*
                        version: 4.8.9277.0
                        file_location: C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\system.web.dll
                    - application: 7-zip
                      publisher: 7-zip
                      type:
                      - APPLICATION
                      devices_count: 1
                      extra_properties:
                        cpe: cpe:2.3:a:7-zip:7-zip:9.20.0.0:*:*:*:*:*:*:*
                        version: 9.20.0.0
                        file_location: C:\Program Files\7-Zip
                    - application: acrobat_reader
                      publisher: adobe
                      type:
                      - APPLICATION
                      devices_count: 2
                      extra_properties:
                        cpe: cpe:2.3:*:adobe:acrobat_reader:11.0.0.379:*:*:*:*:*:*:-
                        version: 11.0.0.379
                        file_location: C:\Program Files (x86)\Adobe\Reader 11.0\Reader
                    - application: asp.net_core
                      publisher: microsoft
                      type:
                      - APPLICATION
                      devices_count: 3
                      extra_properties:
                        cpe: cpe:2.3:*:microsoft:asp.net_core:6.0.2:*:*:*:*:*:*:-
                        version: 6.0.2
                        file_location: C:\Program Files (x86)\dotnet\shared\Microsoft.AspNetCore.App\6.0.2
                    - application: azure_active_directory_connect
                      publisher: microsoft
                      type:
                      - APPLICATION
                      devices_count: 1
                      extra_properties:
                        cpe: cpe:2.3:a:microsoft:azure_active_directory_connect:2.4.131.0:*:*:*:*:*:*:*
                        version: 2.4.131.0
                        file_location: C:\Program Files\Microsoft Azure Active Directory Connect\AzureADConnect.exe
                    - application: azure_command-line_interface
                      publisher: microsoft
                      type:
                      - APPLICATION
                      devices_count: 3
                      extra_properties:
                        cpe: cpe:2.3:a:microsoft:azure_command-line_interface:2.65.0:*:*:*:*:*:*:*
                        version: 2.65.0
                        file_location: C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az
                    - application: azure_connected_machine_agent
                      publisher: microsoft
                      type:
                      - APPLICATION
                      devices_count: 1
                      extra_properties:
                        cpe: cpe:2.3:a:microsoft:azure_connected_machine_agent:1.32.02371.1114:*:*:*:*:*:*:*
                        version: 1.32.02371.1114
                        file_location: C:\Program Files\AzureConnectedMachineAgent
                    pagination:
                      total: 100
                      offset: 0
                      limit: 10
                      sort:
                        name: application
                        order: asc
        '400':
          description: Returned if your request specified invalid parameters or if your request was improperly formatted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse-400'
              examples:
                response:
                  value:
                    message: Requested EXAMPLE not found
                    status: 400
        '401':
          description: Returned if the API keys specified in your request are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse'
              examples:
                response:
                  value:
                    error: Unauthorized
                    message: Invalid credentials.
        '403':
          description: Returned if you do not have permission to search software.
        '429':
          description: Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).
          content:
            text/html:
              examples:
                response:
                  value: "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
        '500':
          description: Returned if an internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory_ErrorResponse'
              examples:
                response:
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message: An internal server error occurred. Please wait a moment and try your request again.
      security:
      - Inventory_cloud: []
  /api/v1/t1/inventory/assets/properties:
    get:
      summary: List asset properties
      description: "Returns a list of asset properties that can be used as filters on endpoints that support them. For example, the properties that are returned by this endpoint can be used as filters for the [Search assets](ref:inventory-assets-search) or [Export assets](ref:inventory-export-assets) endpoints.\n\n In addition to the asset properties, the results list includes the logical operators you can use with the asset properties along with the supported values.\n\n**Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class=\"perms-callout\">Requires the Basic [16] user role or the `ASSET_INVENTORY.CYBER_ASSET_MANAGEMENT.READ` and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>"
      operationId: inventory-asset-properties-list
      tags:
      - Inventory
      parameters:
      - name: asset_classes
        description: 'The asset classes you want to retrieve property filters for. If this parameter is omitted, Tenable Exposure Management returns property filters for all asset classes.


          Asset classes enable users to easily separate asset data based on its type. For more information about asset classes, see [Asset Classes](https://docs.tenable.com/exposure-management/Content/exposure-management/inventory/classes.htm) in the Tenable Exposure Management User Guide.'
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Inventory_AssetClasses'
      responses:
        '200':
          description: Returned if the list of asset properties was retrieved successfully.
          content:
            application/json:
              schema:
                description: A list of asset properties.
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Inventory_Properties-Object'
              examples:
                response:
                  value:
                    properties:
                    - key: asset_id
                      readable_name: Asset ID
                      control:
                        type: STRING
                        multiple_allowed: true
                        regex:
                          hint: 01234567-abcd-ef01-2345-6789abcdef01
                          expression: '[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}(,[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12})*'
                      operators:
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Asset ID

                        ## A unique identifier for an asset


                        An asset ID is a unique identifier that is assigned to each asset in a cyber asset management system. This identifier can be used to track the asset, its associated vulnerabilities, and its security posture. Asset IDs are typically generated automatically by the asset management system, but they can also be manually assigned.


                        Here are some key points to understand about asset IDs in the context of the cyber industry:

                        - **Uniqueness**: Asset IDs must be unique within the asset management system. This ensures that each asset can be easily identified and tracked.

                        - **Accuracy**: Asset IDs must be accurate and up-to-date. This ensures that the asset management system has the most accurate information about each asset.

                        - **Consistency**: Asset IDs must be consistent across all systems and applications that use them. This ensures that there is no confusion about which asset is being referred to.


                        Asset IDs are an important part of cyber asset management. They help to track assets, their associated vulnerabilities, and their security posture. Asset IDs must be unique, accurate, and consistent.

                        '
                    - key: asset_class
                      readable_name: Asset Class
                      control:
                        type: STRING
                        multiple_allowed: true
                        selection:
                        - name: Account
                          value: ACCOUNT
                          deprecated: false
                        - name: Web Application
                          value: APPLICATION
                          deprecated: false
                        - name: Container
                          value: CONTAINER
                          deprecated: false
                        - name: Other Resource
                          value: GENERAL
                          deprecated: false
                        - name: Device
                          value: DEVICE
                          deprecated: false
                        - name: Group
                          value: GROUP
                          deprecated: false
                        - name: Infrastructure As Code
                          value: IAC
                          deprecated: true
                        - name: Storage
                          value: STORAGE
                          deprecated: false
                        - name: Person
                          value: IDENTITY
                          deprecated: true
                        - name: Resource
                          value: RESOURCE
                          deprecated: false
                        - name: Role
                          value: ROLE
                          deprecated: false
                      operators:
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Asset Class

                        ## A group of assets that share common characteristics


                        An asset class is a group of assets that share common characteristics. For example, all computers in an organization might be considered one asset class, while all servers might be considered another. Asset classes can be used to group assets together for reporting, analysis, and other purposes.


                        Here are some key points to understand about asset classes in the context of the cyber industry:

                        - **Asset Classes and Asset Types**: Asset classes are typically defined based on asset type. For example, all computers might be considered one asset type, while all servers might be considered another.

                        - **Asset Classes and Asset Subtypes**: Asset classes can also be defined based on asset subtype. For example, all laptops might be considered one asset subtype, while all desktops might be considered another.

                        - **Asset Classes and Asset Groups**: Asset classes can also be used to group assets together into asset groups. For example, all assets that are located in the same building might be considered one asset group, while all assets that are owned by the same department might be considered another.


                        Asset classes can be a valuable tool for managing and understanding assets. By grouping assets together based on common characteristics, asset classes can make it easier to track assets, identify risks, and make informed decisions about asset management.

                        '
                    - key: last_updated
                      readable_name: Last Update Date
                      control:
                        type: DATE
                        multiple_allowed: false
                        regex:
                          hint: timestamp
                          expression: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                      operators:
                      - '='
                      - '>'
                      - <
                      - between
                      - exists
                      - not exists
                      - older than
                      - newer than
                      - within last
                      sortable: true
                      filterable: true
                      description: '# Last Update Date

                        ## The date and time when the asset was last updated.


                        The last update date is a property of an asset that indicates the date and time when the asset was last modified. This can be useful for tracking changes to an asset over time, or for identifying assets that have not been updated in a while.


                        The last update date can be used in queries to find assets that have been updated recently, or to find assets that have not been updated in a while. It can also be used to track changes to an asset over time, by comparing the last update date to the date and time of a previous change.


                        The last update date is stored in the `last_updated` property of the `assets:properties` table.

                        '
                    - key: asset_name
                      readable_name: Asset Name
                      control:
                        type: STRING
                        multiple_allowed: false
                        regex:
                          hint: hostname
                          expression: .*
                      operators:
                      - contains
                      - not contains
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Asset Name

                        ## The name of an asset


                        The asset name is a unique identifier for an asset. It is used to track the asset and its associated data. The asset name can be any string of characters, but it is recommended to use a name that is descriptive and easy to remember.


                        Here are some key points to understand about asset names in the context of the cyber industry:

                        - **Asset names should be unique**. This is important to ensure that each asset can be easily identified and tracked.

                        - **Asset names should be descriptive**. This will help users to understand what the asset is and what it does.

                        - **Asset names should be easy to remember**. This will make it easier for users to find the assets they need.


                        ## Examples of asset names:

                        - **Server1**

                        - **Router2**

                        - **Database3**

                        - **Laptop4**

                        - **Printer5**

                        '
                    - key: sources
                      readable_name: Sources
                      control:
                        type: STRING
                        multiple_allowed: true
                        selection:
                        - name: AWS Connector
                          value: AWS
                          deprecated: true
                        - name: AWS SSM agent
                          value: SSM
                          deprecated: true
                        - name: Agent
                          value: NESSUS_AGENT
                          deprecated: true
                        - name: Azure Connector
                          value: AZURE
                          deprecated: true
                        - name: Azure Frictionless Assessment
                          value: AZURE_FA
                          deprecated: true
                        - name: GCP Connector
                          value: GCP
                          deprecated: true
                        - name: Nessus Network Monitor
                          value: PVS
                          deprecated: true
                        - name: Nessus
                          value: NESSUS_SCAN
                          deprecated: true
                        - name: Tenable Web Application Scanning
                          value: WAS
                          deprecated: false
                        - name: Tenable Identity Exposure
                          value: TIE
                          deprecated: false
                        - name: Tenable Cloud Security (Legacy)
                          value: T.CS
                          deprecated: true
                        - name: Tenable Cloud Security
                          value: CLOUD
                          deprecated: false
                        - name: Tenable Attack Surface Management
                          value: ASM
                          deprecated: false
                        - name: Tenable Vulnerability Management
                          value: T.IO
                          deprecated: false
                        - name: Tenable OT Security
                          value: T.OT
                          deprecated: false
                        - name: Tenable Container Security
                          value: CONSEC
                          deprecated: false
                        - name: Tenable Cloud Security (core)
                          value: CORE_CLOUDRESOURCE
                          deprecated: true
                        - name: Qualys VMDR
                          value: QUALYS
                          deprecated: false
                          third_party: true
                        - name: SentinelOne Singularity
                          value: SENTINEL_ONE
                          deprecated: false
                          third_party: true
                        - name: Rapid7 InsightVM
                          value: RAPID_7
                          deprecated: true
                        - name: Tenable Security Center
                          value: SECURITY_CENTER
                          deprecated: false
                        - name: Carbon Black Workload
                          value: CARBON_BLACK
                          deprecated: true
                        - name: Microsoft Defender
                          value: MICROSOFT_DEFENDER
                          deprecated: false
                          third_party: true
                        - name: CrowdStrike Falcon
                          value: CROWDSTRIKE
                          deprecated: false
                        - name: ServiceNow
                          value: SERVICE_NOW
                          deprecated: false
                        - name: Unclassified
                          value: UNCLASSIFIED
                          deprecated: false
                      operators:
                      - '='
                      - '!='
                      sortable: true
                      filterable: true
                      description: '# Sources

                        ## The origin of the data


                        Sources are the origin of the data. They can be internal (e.g., data collected by the organization''s own systems) or external (e.g., data purchased from a third-party vendor).


                        Here are some key points to understand about sources in the context of the cyber industry:

                        - **Internal Sources**: These are data collected by the organization''s own systems. Examples include data from network devices, servers, endpoints, and applications.

                        - **External Sources**: These are data purchased from a third-party vendor. Examples include data from vulnerability databases, threat intelligence feeds, and market research reports.


                        Sources are important because they provide context for the data. They can help to determine the accuracy, reliability, and timeliness of the data. They can also help to identify the potential risks associated with the data.

                        '
                    - key: created_at
                      readable_name: Created Date
                      control:
                        type: DATE
                        multiple_allowed: false
                        regex:
                          hint: timestamp
                          expression: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                      operators:
                      - '='
                      - '>'
                      - <
                      - between
                      - exists
                      - not exists
                      - older than
                      - newer than
                      - within last
                      sortable: true
                      filterable: true
                      description: '# Created Date

                        ## The date and time an asset was created


                        The created date is the date and time an asset was first created in the system. This can be useful for tracking the age of assets and identifying those that may be outdated or no longer in use.


                        Here are some key points to understand about created dates in the context of the cyber industry:

                        - **Created dates can be used to track the age of assets**. This can be helpful for identifying assets that may be outdated or no longer in use.

                        - **Created dates can also be used to identify assets that have been recently created**. This can be helpful for tracking down new assets that may be vulnerable to attack.

                        - **Created dates can be used to identify assets that have been modified**. This can be helpful for tracking changes to assets and identifying potential security risks.


                        Created dates are an important part of asset management and can be used for a variety of purposes. By understanding created dates, you can better track the age, status, and security of your assets.

                        '
                    - key: first_observed_at
                      readable_name: First Observation Date
                      control:
                        type: DATE
                        multiple_allowed: false
                        regex:
                          hint: timestamp
                          expression: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                      operators:
                      - '='
                      - '>'
                      - <
                      - between
                      - exists
                      - not exists
                      - older than
                      - newer than
                      - within last
                      sortable: true
                      filterable: true
                      description: "# First Observation Date\n## The date when an asset was first discovered by Tenable\n\nThe first observation date is the date when an asset was first discovered by Tenable. This date is important because it can be used to track the asset's history and to identify any changes that have been made to it. The first observation date can also be used to determine the asset's age, which can be a factor in assessing its risk.\n\nHere are some key points to understand about the first observation date:\n- **Accuracy**: The first observation date is typically accurate to within a few days. However, there may be some cases where the date is not accurate, such as when an asset is discovered by Tenable but is not immediately added to the database.\n- **Relevance**: The first observation date is relevant to asset management because it can be used to track the asset's history and to identify any changes that have been made to it. The first observation date can also be used to determine the asset's age, which can be a factor in assessing its risk.\n- **Usefulness**: The first observation date can be used in a variety of ways, such as:\n    * Tracking the asset's history\n    * Identifying any changes that have been made to the asset\n    * Determining the asset's age\n    * Assessing the asset's risk\n"
                    - key: last_observed_at
                      readable_name: Last Observed At
                      control:
                        type: DATE
                        multiple_allowed: false
                        regex:
                          hint: timestamp
                          expression: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                      operators:
                      - '='
                      - '>'
                      - <
                      - between
                      - exists
                      - not exists
                      - older than
                      - newer than
                      - within last
                      sortable: true
                      filterable: true
                      description: '# Last Observed At

                        ## The date and time an asset was last observed


                        The last observed at property indicates the date and time an asset was last seen by a Tenable scanner. This information can be used to track the activity of assets over time and identify any changes in their behavior.


                        Here are some key points to understand about the last observed at property:

                        - **Date and Time**: The last observed at property is a date and time value. The date is represented in the format YYYY-MM-DD, and the time is represented in the format HH:MM:SS.

                        - **Accuracy**: The accuracy of the last observed at property depends on the frequency with which assets are scanned. If assets are scanned more frequently, the last observed at property will be more accurate.

                        - **Use Cases**: The last observed at property can be used to track the activity of assets over time, identify any changes in their behavior, and determine whether they are still in use.

                        '
                    - key: last_licensed_at
                      readable_name: Last Licensed At
                      control:
                        type: DATE
                        multiple_allowed: false
                        regex:
                          hint: timestamp
                          expression: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                      operators:
                      - '='
                      - '>'
                      - <
                      - between
                      - exists
                      - not exists
                      - older than
                      - newer than
                      - within last
                      sortable: true
                      filterable: true
                      description: '# Last Licensed At

                        ## The date and time when the asset was last licensed.


                        The last licensed at property is a date and time value that indicates the last time the asset was licensed. This value can be used to track the asset''s license status and to ensure that it is always in compliance with licensing requirements.


                        Here are some key points to understand about the last licensed at property:

                        - **Data Type**: The last licensed at property is a date and time value.

                        - **Format**: The last licensed at property is stored in the following format: YYYY-MM-DD HH:MM:SS.

                        - **Meaning**: The last licensed at property indicates the last time the asset was licensed.

                        - **Use Cases**: The last licensed at property can be used to track the asset''s license status and to ensure that it is always in compliance with licensing requirements.

                        '
                    - key: fqdns
                      readable_name: Host Fully Qualified DNS
                      control:
                        type: ARRAY
                        multiple_allowed: false
                        regex:
                          hint: ''
                          expression: .*
                      operators:
                      - contains
                      - not contains
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Host Fully Qualified DNS

                        ## The fully qualified domain name (FQDN) of the host.


                        The fully qualified domain name (FQDN) is the unique name of a computer on a network. It is made up of the host name and the domain name, separated by a dot. For example, the FQDN for a computer named "www.example.com" would be "www.example.com".


                        The FQDN is used by network devices to route traffic to the correct computer. It is also used by security software to identify and track computers on a network.


                        The FQDN can be found in the "Host Fully Qualified DNS" property of an asset.

                        '
                    - key: aes
                      readable_name: AES
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: a number from 0 to 1000
                          expression: ^([0-9][0-9]{0,2}|1000)$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# AES

                        ## Asset Exposure Score


                        The Asset Exposure Score (AES) is a numeric score that represents the overall exposure of an asset. The AES is calculated based on a variety of factors, including the asset''s criticality, vulnerabilities, and security posture. The AES can be used to prioritize assets for remediation and to track the effectiveness of security measures.


                        Here are some key points to understand about the AES:

                        - The AES is a numeric score that ranges from 0 to 100, with 100 being the most exposed.

                        - The AES is calculated based on a variety of factors, including the asset''s criticality, vulnerabilities, and security posture.

                        - The AES can be used to prioritize assets for remediation and to track the effectiveness of security measures.

                        - The AES is a valuable tool for understanding and managing asset risk.


                        input:"ACR" for assets:properties

                        output# ACR

                        ## Asset Criticality Rating


                        The Asset Criticality Rating (ACR) is a numeric score that represents the criticality of an asset. The ACR is calculated based on a variety of factors, including the asset''s impact on business operations, the sensitivity of the data it contains, and the likelihood of it being attacked. The ACR can be used to prioritize assets for remediation and to track the effectiveness of security measures.


                        Here are some key points to understand about the ACR:

                        - The ACR is a numeric score that ranges from 0 to 100, with 100 being the most critical.

                        - The ACR is calculated based on a variety of factors, including the asset''s impact on business operations, the sensitivity of the data it contains, and the likelihood of it being attacked.

                        - The ACR can be used to prioritize assets for remediation and to track the effectiveness of security measures.

                        - The ACR is a valuable tool for understanding and managing asset risk.

                        '
                    - key: critical_vuln_count
                      readable_name: Critical Vuln Count
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Critical Vuln Count

                        ## The number of critical vulnerabilities found on an asset


                        The Critical Vuln Count property indicates the number of critical vulnerabilities found on an asset. This property is calculated by counting the number of vulnerabilities with a severity rating of "Critical" that have been found on the asset.


                        Critical vulnerabilities are those that have the potential to cause significant damage to an asset or organization. They should be addressed as a matter of urgency.


                        The Critical Vuln Count property can be used to identify assets that are at a high risk of being exploited. It can also be used to track the progress of vulnerability remediation efforts.

                        '
                    - key: high_vuln_count
                      readable_name: High Vuln Count
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# High Vuln Count

                        ## The number of vulnerabilities found on an asset


                        The High Vuln Count property indicates the number of vulnerabilities found on an asset. This property is calculated by counting the number of vulnerabilities that have a severity of "High" or "Critical".


                        The High Vuln Count property can be used to identify assets that are at a high risk of being exploited. It can also be used to track the progress of vulnerability remediation efforts.


                        Here are some key points to understand about the High Vuln Count property:

                        - **Vulnerability Severity**: The severity of a vulnerability is a measure of the potential impact that it could have on an asset. Vulnerabilities are typically classified as "Low", "Medium", "High", or "Critical".

                        - **Vulnerability Remediation**: Vulnerability remediation is the process of fixing vulnerabilities. This can be done by applying patches, updates, or other security measures.

                        - **Vulnerability Management**: Vulnerability management is the process of identifying, assessing, and remediating vulnerabilities. It is a critical component of cyber security.

                        '
                    - key: low_vuln_count
                      readable_name: Low Vuln Count
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Low Vuln Count

                        ## The number of vulnerabilities found on an asset


                        The Low Vuln Count property indicates the number of vulnerabilities found on an asset. This property can be used to identify assets that are at a higher risk of being exploited.


                        Here are some key points to understand about the Low Vuln Count property:

                        - **Vulnerabilities**: A vulnerability is a weakness in an asset that can be exploited by an attacker. Vulnerabilities can be caused by software bugs, misconfigurations, or other factors.

                        - **Exploit**: An exploit is a way of taking advantage of a vulnerability. Exploits can be used to gain unauthorized access to an asset, steal data, or damage an asset.

                        - **Risk**: The risk of an asset being exploited is determined by the number and severity of vulnerabilities found on the asset. Assets with a high number of vulnerabilities are at a higher risk of being exploited.


                        The Low Vuln Count property can be used to identify assets that are at a higher risk of being exploited. This information can be used to prioritize asset patching and other security measures.

                        '
                    - key: is_licensed
                      readable_name: Is Licensed
                      control:
                        type: BOOLEAN
                        multiple_allowed: false
                      operators:
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Is Licensed

                        ## A property indicating if the asset is licensed


                        This property indicates whether the asset is licensed. This is a legacy property that is no longer used.

                        '
                    - key: exposure_classes
                      readable_name: Exposure Classes
                      control:
                        type: STRING
                        multiple_allowed: true
                        selection:
                        - name: Identity Exposure
                          value: IDENTITY
                          deprecated: false
                        - name: Web Application Security
                          value: WAS
                          deprecated: false
                        - name: Vulnerability Management
                          value: VM
                          deprecated: false
                        - name: Cloud Security
                          value: CLOUD
                          deprecated: false
                        - name: OT Security
                          value: OT
                          deprecated: false
                      operators:
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Exposure Classes

                        ## A set of properties that describe the exposure of an asset


                        Exposure classes are a set of properties that describe the exposure of an asset. They are used to classify assets based on their potential impact to an organization. The following are some common exposure classes:

                        - **Critical Assets**: These are assets that are essential to the operation of an organization and would cause significant disruption if they were to be compromised.

                        - **High-Value Assets**: These are assets that have a high monetary value or contain sensitive data.

                        - **Public-Facing Assets**: These are assets that are accessible to the public and could be used to launch attacks against an organization.

                        - **Internal Assets**: These are assets that are not accessible to the public but could still be used to launch attacks against an organization.


                        Exposure classes are used to prioritize assets for security testing and to determine the appropriate level of security controls that should be applied to them.

                        '
                    - key: tenable_uuid
                      readable_name: Tenable UUID
                      control:
                        type: STRING
                        multiple_allowed: false
                        regex:
                          hint: ''
                          expression: .*
                      operators:
                      - contains
                      - not contains
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Tenable UUID

                        ## A unique identifier for an asset


                        A Tenable UUID is a unique identifier for an asset in Tenable. It is a 32-character string that is used to track and identify assets in Tenable. The Tenable UUID is generated when an asset is first discovered by Tenable and is used to track the asset throughout its lifecycle.


                        Here are some key points to understand about Tenable UUIDs:

                        - **Tenable UUIDs are unique**. No two assets in Tenable will have the same Tenable UUID.

                        - **Tenable UUIDs are permanent**. Once an asset has been assigned a Tenable UUID, that UUID will never change.

                        - **Tenable UUIDs can be used to track assets**. Tenable UUIDs can be used to track assets throughout their lifecycle, from discovery to retirement.

                        - **Tenable UUIDs can be used to identify assets**. Tenable UUIDs can be used to identify assets in Tenable, which can be helpful for tracking and managing assets.

                        '
                    - key: license_expires_at
                      readable_name: License Expires At
                      control:
                        type: DATE
                        multiple_allowed: false
                        regex:
                          hint: timestamp
                          expression: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                      operators:
                      - '='
                      - '>'
                      - <
                      - between
                      - exists
                      - not exists
                      - older than
                      - newer than
                      - within last
                      sortable: true
                      filterable: true
                      description: '# License Expires At

                        ## The date when the license for the asset expires


                        The License Expires At property indicates the date when the license for the asset expires. This is important information to have, as it can help you to identify assets that are at risk of being unlicensed or unsupported.


                        Here are some key points to understand about the License Expires At property:

                        - **License Expiration Date**: This is the date on which the license for the asset expires.

                        - **License Status**: This indicates whether the asset is currently licensed or not.

                        - **License Type**: This indicates the type of license that is being used for the asset.

                        - **License Key**: This is a unique identifier that is used to track the license for the asset.


                        The License Expires At property can be used to identify assets that are at risk of being unlicensed or unsupported. This information can be used to take corrective action, such as renewing the license or replacing the asset.

                        '
                    - key: sensors
                      readable_name: Sensors
                      control:
                        type: ARRAY
                        multiple_allowed: false
                        regex:
                          hint: ''
                          expression: .*
                      operators:
                      - contains
                      - not contains
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: "# Sensors\n## A way to collect data from your IT environment\nCyber Asset Management uses sensors to collect data from your IT environment. They are like small programs installed on your network or on devices that scan for vulnerabilities, configuration issues, and other security-related information.\n\nHere are some key points to understand about sensors in the context of Cyber Asset Management:\n\n- **Data Collection**: Sensors gather information about your assets, such as operating systems, installed software, network configurations, and user accounts.\n- **Vulnerability Scanning**: Sensors can scan your assets for known vulnerabilities, providing insights into potential security weaknesses.\n- **Configuration Assessment**: Sensors can check the configuration of your assets against security best practices, identifying misconfigurations that could lead to vulnerabilities.\n- **Log Collection**: Some sensors can collect and analyze log data from your assets, providing visibility into security events and suspicious activities.\n- **Cloud Visibility**: Cyber Asset Management supports cloud connectors that act as sensors to discover and monitor assets in cloud environments. \n"
                    - key: critical_weakness_count
                      readable_name: Number Of Critical Weaknesses
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Number Of Critical Weaknesses

                        ## The number of critical weaknesses found on an asset


                        The number of critical weaknesses found on an asset is a measure of the asset''s vulnerability to attack. A high number of critical weaknesses indicates that the asset is more likely to be exploited by attackers.


                        Here are some key points to understand about the number of critical weaknesses in the context of the cyber industry:

                        - **Critical Weaknesses**: These are weaknesses that have a high potential to be exploited by attackers. They can lead to data breaches, system outages, and other serious security incidents.

                        - **Vulnerabilities**: These are weaknesses in software, hardware, or firmware that can be exploited by attackers. Not all vulnerabilities are critical.

                        - **Exploits**: These are tools or techniques that can be used to take advantage of vulnerabilities.

                        - **Attacks**: These are attempts to exploit vulnerabilities.


                        The number of critical weaknesses on an asset can be calculated by scanning the asset for vulnerabilities and then determining which of those vulnerabilities are critical. This information can be used to prioritize remediation efforts and to assess the overall security of an asset.

                        '
                    - key: high_weakness_count
                      readable_name: Number Of High Weaknesses
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Number Of High Weaknesses

                        ## The number of high weaknesses for an asset


                        The number of high weaknesses for an asset is a measure of the number of vulnerabilities that have been identified on the asset that are considered to be high risk. This information can be used to prioritize which assets should be patched first, as well as to track the progress of vulnerability remediation efforts.


                        Here are some key points to understand about the number of high weaknesses for an asset:

                        - **High-Risk Vulnerabilities**: These are vulnerabilities that are considered to be the most serious and pose the greatest risk to an asset. They should be patched as soon as possible.

                        - **Vulnerability Remediation**: The process of fixing vulnerabilities on an asset. This can be done by applying software updates, patches, or other security measures.

                        - **Vulnerability Management**: The process of identifying, assessing, and remediating vulnerabilities on assets. This is an important part of cyber risk management.

                        '
                    - key: medium_weakness_count
                      readable_name: Number Of Medium Weaknesses
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Number Of Medium Weaknesses

                        ## The number of medium weaknesses found on an asset


                        This property indicates the number of medium weaknesses found on an asset. A weakness is a vulnerability that, when exploited, could lead to a security incident. The severity of a weakness is determined by its impact and exploitability. A medium weakness is one that has a moderate impact and is moderately exploitable.


                        The Number Of Medium Weaknesses property can be used to identify assets that are at a higher risk of being exploited. It can also be used to track the progress of remediation efforts. For example, if an asset has 10 medium weaknesses and 5 of them have been remediated, the Number Of Medium Weaknesses property would show 5.


                        This property is available for all asset types.

                        '
                    - key: low_weakness_count
                      readable_name: Number Of Low Weaknesses
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Number Of Low Weaknesses

                        ## The number of low weaknesses for an asset


                        The number of low weaknesses for an asset is a measure of the number of vulnerabilities that have been identified on the asset that are considered to be low risk. This information can be used to prioritize which assets should be patched first, as well as to track the progress of vulnerability remediation efforts.


                        Here are some key points to understand about the number of low weaknesses for an asset:

                        - **Low-Risk Vulnerabilities**: These are vulnerabilities that are considered to be less likely to be exploited by attackers. They may be due to outdated software, misconfigurations, or other factors.

                        - **Vulnerability Remediation**: The process of fixing vulnerabilities by applying patches or other security updates.

                        - **Vulnerability Prioritization**: The process of determining which vulnerabilities should be fixed first. This is typically done by considering the risk of exploitation, the impact of an exploit, and the cost of remediation.


                        The number of low weaknesses for an asset can be calculated by running a vulnerability scan on the asset and then counting the number of vulnerabilities that are classified as low risk. This information can then be used to prioritize which assets should be patched first, as well as to track the progress of vulnerability remediation efforts.

                        '
                    - key: total_weakness_count
                      readable_name: Total Number of Weaknesses
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Number Of Total Weaknesses

                        ## The number of weaknesses found on an asset


                        The number of total weaknesses is a property of an asset that indicates the number of weaknesses that have been found on the asset. This property can be used to identify assets that are at a higher risk of being exploited.


                        Here are some key points to understand about the number of total weaknesses:

                        - **Weaknesses**: A weakness is a vulnerability that can be exploited by an attacker. Weaknesses can be found in software, hardware, and configuration settings.

                        - **Exploitation**: The process of using a weakness to gain unauthorized access to a system or data.

                        - **Risk**: The likelihood that a weakness will be exploited and the potential impact of an exploitation.


                        The number of total weaknesses is a valuable metric for assessing the risk of an asset. Assets with a high number of weaknesses are more likely to be exploited and have a greater potential impact. This information can be used to prioritize remediation efforts and focus on the assets that pose the greatest risk.

                        '
                    - key: tag_count
                      readable_name: Associated Tags Count
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Associated Tags Count

                        ## The number of tags associated with an asset


                        The associated tags count is a property that indicates the number of tags associated with an asset. This can be useful for identifying assets that are important or critical to the organization, as well as for tracking the use of tags.


                        Here are some key points to understand about associated tags count in the context of the cyber industry:

                        - **Tags**: Tags are labels that can be applied to assets to provide additional information about them. Tags can be used to categorize assets, track their use, and identify assets that are important or critical to the organization.

                        - **Associated Tags Count**: The associated tags count is a property that indicates the number of tags associated with an asset. This can be useful for identifying assets that are important or critical to the organization, as well as for tracking the use of tags.

                        - **Tagging**: The process of applying tags to assets is known as tagging. Tagging can be done manually or automatically.

                        - **Tag Management**: The process of managing tags is known as tag management. Tag management can be done manually or automatically.

                        '
                    - key: tag_ids
                      readable_name: Tag IDs
                      control:
                        type: STRING
                        multiple_allowed: true
                        regex:
                          hint: 01234567-abcd-ef01-2345-6789abcdef01
                          expression: '[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}(,[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12})*'
                      operators:
                      - '='
                      - '!='
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: '# Tag IDs

                        ## A unique identifier for an asset


                        A tag ID is a unique identifier for an asset. It is used to track and manage assets, and to associate them with other data, such as vulnerabilities, risks, and compliance requirements. Tag IDs can be alphanumeric or numeric, and they must be unique within the organization.


                        Here are some key points to understand about tag IDs in the context of the cyber industry:

                        - **Tag IDs are used to track and manage assets**. They can be used to identify assets, to track their location, and to monitor their status.

                        - **Tag IDs can be associated with other data**. This data can include vulnerabilities, risks, and compliance requirements. This allows organizations to track the security posture of their assets and to identify potential risks.

                        - **Tag IDs must be unique**. This ensures that there is no confusion about which asset is being referred to.

                        '
                    - key: entitlement_count
                      readable_name: Accessible Resources
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: true
                      filterable: true
                      description: '# Entitlement Count

                        ## The number of entitlements associated with an asset


                        An entitlement is a permission or privilege that an asset has. Entitlements can be granted to assets at the individual, group, or organization level. The entitlement count is a measure of the number of entitlements associated with an asset.


                        The entitlement count can be used to assess the risk of an asset being compromised. A high entitlement count indicates that the asset has a lot of permissions, which makes it more likely to be exploited by an attacker. The entitlement count can also be used to track changes to an asset''s entitlements. This can help to identify unauthorized changes that could be indicative of a security incident.


                        The entitlement count is a valuable metric for assessing the risk of an asset and tracking changes to its entitlements. It can be used to identify assets that are at high risk of compromise and to monitor for unauthorized changes.

                        '
                    - key: apa_asset_critical_paths_count
                      readable_name: Number Of Critical Attack Paths
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of Critical Attack Paths\n## Number of attack paths with criticality higher than defined threshold\nThis metric, available in the context of attack path analysis, represents the count of potential attack paths leading to a specific asset where the overall criticality of the path exceeds a predefined threshold. \n\nHere's a breakdown:\n- **Attack Path:** A sequence of steps an attacker might take to move laterally within a network, exploiting vulnerabilities to reach a target asset.\n- **Criticality:**  A measure of the potential impact or severity if an attack path is successfully exploited. Factors considered might include the sensitivity of the target asset, the vulnerabilities along the path, and the potential business impact.\n- **Threshold:** A predefined level of criticality above which an attack path is deemed critical. This threshold is typically set based on an organization's risk tolerance and security policies. \n"
                    - key: apa_asset_high_paths_count
                      readable_name: Number Of High Attack Paths
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of High Attack Paths\n## Number of attack paths with a high or critical AES\nThis metric, available in the context of an asset, represents the count of attack paths classified as either \"High\" or \"Critical\" based on their Asset Exposure Score (AES). An attack path outlines the potential steps a malicious actor could take to exploit vulnerabilities and compromise an asset. \n\nHere's a breakdown:\n- **Attack Path:** A sequence of steps an attacker might take to reach a specific target within a network.\n- **Asset Exposure Score (AES):** A score calculated by Cyber Asset Management, reflecting the severity of exposure an asset faces due to potential attack paths. A higher AES indicates a more significant risk.\n- **High/Critical AES:**  Attack paths categorized as \"High\" or \"Critical\" based on their AES, signifying a greater likelihood and potential impact of a successful attack. \n"
                    - key: apa_assets_medium_paths_count
                      readable_name: Number Of Medium Attack Paths
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of Medium Attack Paths\n## Number of attack paths with a Medium rating for a given asset.\nThis metric, available in Cyber Asset Management, represents the count of potential routes an attacker could take to compromise a specific asset, where each path is assigned a \"Medium\" severity level. \n\nHere's a breakdown:\n- **Attack Path:** A sequence of steps an attacker might take to reach a critical asset within a network.\n- **Medium Rating:** Indicates a moderate level of risk associated with the attack path. This means the path might not be trivial to exploit but is still feasible for attackers with moderate skills and resources. \n- **Asset:**  Refers to any valuable resource within your IT environment, such as a server, database, or application.\n\nUnderstanding the number of medium-rated attack paths helps organizations prioritize remediation efforts by focusing on assets with a significant number of potential attack vectors. \n"
                    - key: apa_asset_low_paths_count
                      readable_name: Number Of Low Attack Paths
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of Low Attack Paths\n## Number of easy ways to compromise an asset\nIt represents the number of attack paths leading to an asset that are classified as \"Low\" in terms of difficulty or complexity. An attack path is a sequence of steps an attacker might take to exploit vulnerabilities and gain unauthorized access to a system or data. \n\nHere's a breakdown:\n- **Asset:** Refers to any valuable resource within your IT environment, such as a server, database, application, or network device.\n- **Attack Path:** A chain of interconnected vulnerabilities and misconfigurations that an attacker can exploit to achieve their objective.\n- **Low Difficulty:** Indicates that the attack path is relatively easy to execute, requiring minimal skill or resources from the attacker.\n\nA high number of low attack paths for an asset signifies a higher risk, as it suggests multiple easy ways for attackers to compromise that asset. Cyber Asset Management helps you identify and prioritize these attack paths, enabling you to strengthen your security posture and reduce your overall risk. \n"
                    - key: apa_asset_total_paths_count
                      readable_name: Total Number of Attack Paths
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Total Number of Attack Paths\n## All attack paths leading to a specific asset\nThis metric, found in Cyber Asset Management, represents the total count of potential routes an attacker could exploit to gain unauthorized access to a particular asset within your IT environment. \n\nHere's a breakdown:\n\n- **Asset:**  Refers to any valuable resource within your organization's IT infrastructure, such as a server, database, application, or network device.\n- **Attack Path:** Represents a sequence of steps an attacker might take to move laterally through your network, exploiting vulnerabilities to reach their target asset. \n- **Importance:** A high number of attack paths for an asset indicates increased risk exposure. It suggests multiple avenues for compromise, demanding attention to security posture. \n"
                    - key: apa_critical_steps_count
                      readable_name: Number Of Critical Attack Techniques
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of Critical Attack Techniques\n## Number of MITRE ATT&CK techniques classified as \"Critical\" for an asset.\nThis metric, available in Cyber Asset Management, reflects how many MITRE ATT&CK techniques are deemed \"Critical\" for a specific asset. \n\nHere's a breakdown:\n- **MITRE ATT&CK**: A globally recognized framework that describes how adversaries attack and compromise systems. It categorizes these attacks into \"techniques.\"\n- **Critical**: A severity level within Cyber Asset Management, indicating a high potential impact on the asset's security.\n- **Asset**: Any device, application, user account, or other element within your IT environment.\n\nEssentially, this number helps you prioritize which assets are most vulnerable to potentially devastating attacks. \n"
                    - key: apa_high_steps_count
                      readable_name: Number Of High Attack Techniques
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of High Attack Techniques\n## Number of MITRE ATT&CK techniques classified as High for a given asset.\nThis metric, available in Cyber Asset Management, reflects the number of MITRE ATT&CK techniques, classified with a High severity level, that are applicable to a given asset. It provides insights into the potential attack paths that could be used against an asset based on its vulnerabilities. \nHere's a breakdown:\n- **MITRE ATT&CK**: A globally recognized framework that describes the tactics, techniques, and procedures (TTPs) used by adversaries in cyberattacks.\n- **Techniques**: Specific actions or methods used within an attack, categorized by MITRE ATT&CK into various tactics (e.g., initial access, lateral movement).\n- **High Severity**: Indicates techniques that pose a significant risk to an organization if successfully exploited.\nYou can use this metric in Cyber Asset Management to identify assets that are most susceptible to known attack techniques and prioritize remediation efforts accordingly. For example, you could use a query like this:\n```\nHAS AS Device\n    AND Number Of High Attack Techniques > 5\n```\nThis query would return a list of devices that have more than five associated MITRE ATT&CK techniques classified as High. \n"
                    - key: apa_medium_steps_count
                      readable_name: Number Of Medium Attack Techniques
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
                          expression: ^\d+$
                      operators:
                      - '='
                      - '>='
                      - '>'
                      - <=
                      - <
                      - exists
                      - not exists
                      sortable: false
                      filterable: true
                      description: "# Number Of Medium Attack Techniques\n## Number of MITRE ATT&CK techniques classified as \"Medium\" impacting an asset.\nThis metric, found in Cyber Asset Management, provides insights into the potential attack paths that could be used against a specific asset based on its vulnerabilities. Here's a breakdown:\n\n- **MITRE ATT&CK Framework:** A globally recognized knowledge base of adversary tactics and techniques based on real-world observations. It helps organizations understand how attackers operate and provides a common language for cybersecurity discussions.\n- **Attack Techniques:** Specific procedures or methods used by attackers to achieve their objectives within a broader attack strategy.\n- **Medium Classification:** Indicates the potential severity of an attack technique. In this context, \"Medium\" suggests techniques that could pose a moderate risk to the asset if exploited.\n- **Asset-Specific Context:** The number displayed represents the sum of all MITRE ATT&CK techniques classified as \"Medium\" associated with the vulnerabilities identified on that particular asset. \n"
                    - key: assets_apa_low_step_count
                      readable_name: Number Of Low Attack Techniques
                      control:
                        type: NUMBER
                        multiple_allowed: false
                        regex:
                          hint: number >= 0
[...]
